@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

/*Global*/

.center-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

svg path {
    fill: var(--primaryColor);
}

/*Placeholder*/

.placeholder {
    position: fixed;
    width: 50%;
    height: 100%;
    left: 0;
    padding: 64px 96px;
    background-color: #F5F5F5;
    display: flex;
    align-items: flex-end;
}

.placeholder .logo {
    max-width: 180px;
    position: absolute;
    top: 64px;
}

.placeholder .rocket-img {
    width: 100%;
}

/*Form*/

.form {
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: #FCFCFC;
}

.form form {
    width: 376px;
}

.form form .form-title {
    align-items: center;
    display: flex;
    margin-bottom: 40px;
    position: relative;
}

.form form .form-title .title {
    position: static;
    height: 44px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    letter-spacing: -0.01em;
    color: #4D4D4D;
    margin-bottom: 0;
}

.form form .form-title .termos-uso {
    align-items: center;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.form form .form-title .termos-uso a {
    width: 112px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--primaryColor);
    margin-bottom: 0;
    margin-left: 4px;
}

.form-field {
    width: 100%;
}

.form-email {
    margin-bottom: 32px;
}

.form-field p:nth-child(1) {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    width: 100%;
    margin-bottom: 4px;
}

.form-field input {
    align-items: center;
    padding: 4px 8px;
    width: 100%;
    height: 32px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    position: static;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    outline: none;
}

.recover-pass {
    width: 100%;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: var(--primaryColor);
    margin-top: 8px;
    cursor: pointer;
    margin-bottom: 0;
}

.form-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
    height: 48px;
    background: var(--primaryColor);
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 28px;
    border: none;
}

.form-button:after {
    content: "Acessar";
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
}

.form-button.disabled {
    background: #BFBFBF;
    cursor: unset;
    content: "Preencha todos os dados";
}

.form-button.disabled:after {
    content: "Preencha todos os dados";
}

.create-account {
    width: 100%;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--primaryColor);
    cursor: pointer;
}

/*Create Account*/

.rocket-create {
    margin: 0 auto;
    margin-bottom: -64px;
}

.rocket-create.new {
    height: 55vh;
}

.create-title {
    width: calc(100% - 192px);
    max-width: 721px;
    position: absolute;
    top: 170px;
    margin: 0 auto;
}

.form.create form {
    max-width: 640px;
    width: calc(100% - 64px);
}

.form-subtitle {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-top: 8px;
    margin-bottom: 40px;
}

.form.create form .form-title {
    margin-bottom: 8px;
}

.form-code, .form-mail, .form-name {
    margin-bottom: 32px;
}

.form-phone, .form-pass {
    width: 288px;
}

.form-phone {
    margin-right: 64px;
}

.form-description {
    width: 288px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    margin: 4px 0 0 0;
}

.placeholder .logo.create {
    max-height: 86px;
    max-width: unset;
}

.form-phone input[type="text"]::placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.form-logo {
    height: 112px;
    margin: 0 auto;
    display: flex;
    border-radius: 56px;
}

.form form .form-title.create {
    margin-top: 32px;
}

.form form.error input[type="text"], .form form.error input[type="password"] {
    border: 1px solid #B00020;
}

.form form.error .text-error:after {
    content: "Email ou senha incorretos.";
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #B00020;
}

.form-error {
    display: flex;
    position: absolute;
    align-items: center;
    background: #fcfcfc;
    z-index: 5;
    margin-top: -28px;
}

.form-error span {
    min-width: 120px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #B00020;
}

@media only screen and (max-width: 600px) {
    .placeholder {
        display: none;
    }
    .form {
        width: 100%;
    }
    .form form {
        width: 280px;
    }
}