@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

/********** GLOBAL **********/

.center-rel {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-rel-hor {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center-rel-ver {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.center-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-abs-hor {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center-abs-ver {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.center-fix {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-fix-hor {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center-fix-ver {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.not-selected * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:active {
    box-shadow: 0px 0px 1px 5px var(--color-primary-fifty);
    transition: 0.2s;
}

/********** ALL **********/

body {
    background-color: #FCFCFC !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

P {
    margin-bottom: 0 !important;
}

a {
    text-decoration: none !important;
}

label {
    margin-bottom: 0 !important;
}

svg:not(.not-wl):not(.datepicker-modal *):not(.timepicker-container *):not(.new-sale-type.mesa *) * {
    fill: var(--color-primary);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #dadada;
}

::-webkit-scrollbar-thumb:hover {
    background: #cacaca;
}

textarea:focus, input:focus {
    outline: none;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    border: 1px solid var(--color-primary-fifty) !important;
    border-radius: 8px !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: text;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/********** HEADER **********/

header {
    width: 100%;
    height: 102px;
    background: #F6F6F6;
}

header .header-options {
    width: 639px;
    height: 40px;
    margin-left: 236.64px;
}

header .header-options * {
    cursor: pointer;
}

header .header-options p:hover {
    color: var(--color-primary);
}

header .header-options svg:hover path {
    fill: var(--color-primary);
}

header .header-options p {
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #4F4F4F;
    margin: 8px 16px 8px 16px;
}

header .header-options svg {
    margin: 12.33px 20px 11.67px 20px;
}

header img {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    z-index: 10;
}

/********** CATEGORY **********/

.category-section {
    display: flex;
}

.header-category {
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
}

.floating {
    position: sticky;
    top: -1px;
    background-color: #FCFCFC !important;
    z-index: 10000;
    width: 101%;
}

.show-search {
    top: 87px !important;
}

.header-category.floating {
    background-color: #FCFCFC !important;
}

.floating-search.floating {
    padding-top: 24px;
    height: 88px;
    z-index: 100000;
    background-color: #FCFCFC !important;
    transition: 0.075s;
    -webkit-transition: 0.075s;
    -moz-transition: 0.075s;
    -o-transition: 0.075s;
}

.floating-search.floating .search-bar {
    margin-top: 0;
}

.header-category .category.selected, .header-category .category, .category-all {
    width: max-content;
    height: 44px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 14px 16px;
    cursor: pointer;
}

.header-category .category.selected, .category-all.selected {
    border-bottom: 2px solid var(--color-primary);
}

.header-category .category.selected span {
    color: var(--color-primary);
}

.header-category .category span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.28px;
    color: #757575;
}

.category-all {
    position: absolute;
    background: #FCFCFC;
    left: 0;
    height: 45px !important;
    border-bottom: 1px solid #DDDDDD;
}

.category-all span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.28px;
    color: #757575;
}

/********** Custom Checkbox **********/

.custom-checkbox {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 24px !important;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -13px;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    border: 2px solid var(--color-primary);
}

.custom-checkbox input:checked~.checkmark {
    background-color: var(--color-primary);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/********** SEARCH AREA **********/

.search-area {
    height: 40px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0 24px;
    background: var(--color-primary-ten);
}

.search-area input[type="text"] {
    width: calc(100% - 63px);
    height: 21px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #4D4D4D;
    margin: 9px 0 10px 16px;
    background: transparent;
    border: none;
    border-color: transparent;
}

.search-area input[type="text"]::placeholder {
    color: var(--color-primary);
}

.search-area svg {
    float: right;
    margin: 12px 16px 12px 0;
}

/********** OPACITY BODY **********/

#opacity-body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

#opacity-body-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

#opacity-selection {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
}

#opacity-sale {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50000;
}

/********** REGISTER CATEGORY **********/

.register-category {
    width: 712px;
    background: #FCFCFC;
    border-radius: 8px;
    z-index: 10;
}

.register-category-title {
    width: 664px;
    height: 44px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #4F4F4F;
    margin: 24px 24px 30px 24px !important;
}

.register-category-fields {
    margin: 0 24px 41px 24px;
}

.register-category-fields p:nth-child(1) {
    width: 664px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 4px !important;
}

.register-category-fields input {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    width: 664px;
    height: 32px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    margin-bottom: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.register-category-fields .register-category-description {
    width: 664px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
}

.register-category-footer {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #DDDDDD;
    display: flex;
    height: 72px;
}

.register-category-footer p:nth-child(1) {
    cursor: pointer;
    width: 68px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    text-align: center;
}

.register-category-footer p:nth-child(2), .register-category-footer a {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 149px;
    height: 40px;
    background: var(--color-primary);
    border-radius: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC !important;
    padding: 8px 12px;
    margin: 0 24px;
}

/********** SVG INFO **********/

.svg-info {
    cursor: pointer;
}

.svg-info-message {
    flex-direction: column;
    align-items: flex-start;
    width: 496px;
    background: #FCFCFC;
    border-radius: 8px;
    z-index: 1000;
}

.svg-info-message-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 496px;
    height: 56px;
    border-bottom: solid 1px #DDDDDD;
    padding: 0 16px;
    border-radius: 8px 8px 0 0;
}

.svg-info-message-title svg:nth-child(1) {
    margin-right: 8px;
}

.svg-info-message-title svg:nth-child(3) {
    cursor: pointer;
}

.svg-info-message-title p {
    width: 404px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-right: 20px;
    word-wrap: break-word;
}

.svg-info-message-message {
    margin: 16px 16px 24px 16px !important;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

/********** ORDENING CLICK **********/

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--color-primary) !important;
}

.dropdown-item:hover {
    background-color: var(--color-primary) !important;
    color: #ffffff !important;
}

/********** ALERT MESSAGE **********/

.alert-success {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    height: 48px;
    background: #E1F5E9;
    border: 1px solid #25A65B;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000000;
}

.alert-success p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px;
    color: #25A65B;
}

.alert-error {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    height: 48px;
    background: #f5e1e1;
    border: 1px solid #a62525;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000000;
}

.alert-error p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px;
    color: #a62525;
}

.alert-error svg * {
    fill: #a62525;
}

/********* SEARCH BAR **********/

.search-bar {
    width: 100%;
    height: 40px;
    background: var(--color-primary-ten);
    box-sizing: border-box;
    border-radius: 8px;
}

.search-bar input[type="text"] {
    width: calc(100% - 63px);
    height: 21px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #4D4D4D;
    margin: 9px 0 10px 16px;
    background: transparent;
    border: none;
    border-color: transparent;
}

.search-bar input[type="text"]::placeholder {
    color: var(--color-primary);
}

.search-bar svg {
    float: right;
    margin: 12px 16px 12px 0;
}

/********** REGISTER/EDIT/UPDATE PRODUCT **********/

#measure-product-obj::-webkit-outer-spin-button, #serves-product-obj::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#measure-product-obj::-webkit-inner-spin-button, #serves-product-obj::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#measure-product-obj, #serves-product-obj {
    -moz-appearance: textfield;
}

/*All Input Text/Number*/

input[type="text"], input[type="number"] {
    background: transparent;
}

/********* SIMPLEBAR *********/

.simplebar-scrollbar:before {
    background: #cacaca !important;
    border-radius: 4px !important;
}

/******** INPUT QUANTITY *********/

.input-quantity {
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-quantity input {
    width: 32px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: #4D4D4D;
    border: none;
}

.input-quantity path {
    cursor: pointer;
}

.input-quantity svg.text {
    margin: 0 8px;
    cursor: text;
    width: 38px;
    height: 11px;
}

.input-quantity.unlimited input[type="number"] {
    display: none;
}

.input-quantity.unlimited svg.text {
    width: 63px !important;
    height: 13px !important;
}

.input-quantity.unlimited svg.text path {
    d: path('M2.22443 0.363636H0.815341V12H2.22443V0.363636ZM4.8679 0.363636V10.0909C4.8679 11.3352 5.50426 12.0682 6.77699 12.0682C7.16335 12.0682 7.54403 12 7.77699 11.9318L7.50426 10.7727C7.37358 10.8125 7.25426 10.8523 6.93608 10.8636C6.34517 10.8807 6.20881 10.5739 6.20881 9.72727V0.363636H4.8679ZM9.00852 12H10.3494V3.27273H9.00852V12ZM9.69034 1.81818C10.2131 1.81818 10.6449 1.40909 10.6449 0.909091C10.6449 0.409091 10.2131 0 9.69034 0C9.16761 0 8.7358 0.409091 8.7358 0.909091C8.7358 1.40909 9.16761 1.81818 9.69034 1.81818ZM12.8054 12H14.1463V6.54545C14.1463 5.26705 15.0781 4.36364 16.1236 4.36364C17.1406 4.36364 17.8509 5.02841 17.8509 6.02273V12H19.2145V6.31818C19.2145 5.19318 19.919 4.36364 21.1463 4.36364C22.1009 4.36364 22.919 4.86932 22.919 6.15909V12H24.2599V6.15909C24.2599 4.10795 23.1577 3.15909 21.6009 3.15909C20.3509 3.15909 19.4361 3.73295 18.9872 4.63636H18.8963C18.4645 3.70455 17.7031 3.15909 16.5554 3.15909C15.419 3.15909 14.5781 3.70455 14.2145 4.63636H14.1009V3.27273H12.8054V12ZM26.7116 12H28.0526V3.27273H26.7116V12ZM27.3935 1.81818C27.9162 1.81818 28.348 1.40909 28.348 0.909091C28.348 0.409091 27.9162 0 27.3935 0C26.8707 0 26.4389 0.409091 26.4389 0.909091C26.4389 1.40909 26.8707 1.81818 27.3935 1.81818ZM34.304 3.27273H32.4403V1.18182H31.0994V3.27273H29.7812V4.40909H31.0994V9.86364C31.0994 11.3864 32.3267 12.1136 33.4631 12.1136C33.9631 12.1136 34.2812 12.0227 34.4631 11.9545L34.1903 10.75C34.0767 10.7727 33.8949 10.8182 33.5994 10.8182C33.0085 10.8182 32.4403 10.6364 32.4403 9.5V4.40909H34.304V3.27273ZM38.8892 12.2045C40.4119 12.2045 41.2074 11.3864 41.4801 10.8182H41.5483V12H42.8892V6.25C42.8892 3.47727 40.7756 3.15909 39.6619 3.15909C38.3438 3.15909 36.8438 3.61364 36.1619 5.20455L37.4347 5.65909C37.7301 5.02273 38.429 4.34091 39.7074 4.34091C40.9403 4.34091 41.5483 4.99432 41.5483 6.11364V6.15909C41.5483 6.80682 40.8892 6.75 39.2983 6.95455C37.679 7.16477 35.9119 7.52273 35.9119 9.52273C35.9119 11.2273 37.2301 12.2045 38.8892 12.2045ZM39.0938 11C38.0256 11 37.2528 10.5227 37.2528 9.59091C37.2528 8.56818 38.1847 8.25 39.2301 8.11364C39.7983 8.04545 41.321 7.88636 41.5483 7.61364V8.84091C41.5483 9.93182 40.6847 11 39.0938 11ZM48.6321 12.1818C50.3139 12.1818 50.8821 11.1364 51.1776 10.6591H51.3366V12H52.6321V0.363636H51.2912V4.65909H51.1776C50.8821 4.20455 50.3594 3.15909 48.6548 3.15909C46.4503 3.15909 44.9276 4.90909 44.9276 7.65909C44.9276 10.4318 46.4503 12.1818 48.6321 12.1818ZM48.8139 10.9773C47.1321 10.9773 46.2685 9.5 46.2685 7.63636C46.2685 5.79545 47.1094 4.36364 48.8139 4.36364C50.4503 4.36364 51.3139 5.68182 51.3139 7.63636C51.3139 9.61364 50.4276 10.9773 48.8139 10.9773ZM58.8196 12.1818C61.1832 12.1818 62.7741 10.3864 62.7741 7.68182C62.7741 4.95455 61.1832 3.15909 58.8196 3.15909C56.456 3.15909 54.8651 4.95455 54.8651 7.68182C54.8651 10.3864 56.456 12.1818 58.8196 12.1818ZM58.8196 10.9773C57.0241 10.9773 56.206 9.43182 56.206 7.68182C56.206 5.93182 57.0241 4.36364 58.8196 4.36364C60.6151 4.36364 61.4332 5.93182 61.4332 7.68182C61.4332 9.43182 60.6151 10.9773 58.8196 10.9773Z') !important;
}

.input-quantity .ml-quantity path:nth-child(1), .input-quantity .ml-quantity path:nth-child(3) {
    fill: #FFFFFF !important;
}

/********** CUSTOM RADIO BUTTON **********/

.area-custom-radio {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 24px;
}

.custom-radio:checked {
    visibility: hidden;
}

.custom-radio:checked+label, .custom-radio:not(:checked)+label {
    cursor: pointer;
}

.custom-radio:checked+label:before, .custom-radio:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    border: 2px solid var(--color-primary-radio);
}

.custom-radio:checked+label:after, .custom-radio:not(:checked)+label:after {
    content: '';
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    background: #FFF;
    position: absolute;
    border-radius: 100%;
    border: 6px solid var(--color-primary);
}

.custom-radio:not(:checked)+label:after {
    opacity: 0;
}

.custom-radio:checked+label:after {
    opacity: 1;
}

/*loading-registering*/

.loading-registering {
    width: 492px;
    height: 152px;
    background: #FCFCFC;
    border-radius: 8px;
    z-index: 1000;
    display: none;
}

.loading-registering-title {
    width: 492px;
    height: 72px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    padding-right: 12px;
    border-bottom: 1px solid #DDDDDD;
}

.loading-registering-title p {
    width: 365px;
    height: 44px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #4F4F4F;
    margin: 14px 39px 14px 24px;
}

.loading-registering-title svg * {
    stroke: var(--color-primary);
}

.loading-registering-message {
    width: 444px;
    height: 48px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin: 16px 24px !important;
}

/*feedback button*/

.feedback-button {
    position: fixed;
    top: 50%;
    right: -13px;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 10000;
    transition: 0.10s;
}

.feedback-button path:nth-child(1) {
    fill: var(--color-primary-ten);
}

.feedback-button path:nth-child(2), .feedback-button path:nth-child(3) {
    fill: var(--color-primary);
}

.feedback-button:hover path:nth-child(1) {
    fill: var(--color-primary);
    transition: 0.10s;
}

.feedback-button:hover path:nth-child(2), .feedback-button:hover path:nth-child(3) {
    fill: #ffffff;
    transition: 0.10s;
}

/*feedback area*/

.feedback-area {
    background: #FCFCFC;
    border-radius: 8px;
    width: 712px;
    display: none;
    z-index: 10000;
}

.feedback-area-header {
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 24px;
}

.feedback-area-header p {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #4D4D4D;
}

.feedback-area-header svg {
    position: absolute;
    right: 24px;
    cursor: pointer;
}

.feedback-area-body {
    padding: 24px;
}

.feedback-area-body p:nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.feedback-area-body textarea {
    margin-top: 4px;
    padding: 4px 8px;
    height: 128px;
    width: 100%;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.feedback-area-body-buttons {
    display: flex;
    align-items: center;
}

.feedback-area-body-buttons p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
}

.feedback-area-body .select-image {
    height: 40px;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-right: 12px;
}

.feedback-area-body .select-image svg {
    margin-right: 8px;
}

.feedback-area-body .select-image p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
}

.feedback-area-body .capture-button {
    height: 40px;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-left: 16px;
}

.feedback-area-body .capture-button svg {
    margin-right: 8px;
    margin-top: 8px;
}

.feedback-area-body .capture-button p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
}

.feedback-area-footer {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 72px;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-top: 1px solid #DDDDDD;
}

.feedback-area-footer p:nth-child(1) {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    cursor: pointer;
}

.feedback-area-footer button {
    justify-content: center;
    align-items: center;
    width: 73px;
    padding: 8px 12px;
    background: var(--color-primary);
    border-radius: 8px;
    position: static;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
    cursor: pointer;
    margin-left: 24px;
    border: none;
}

/*DRAG SCREENSHOOT*/

#feedback-capture {
    width: 664px !important;
    height: 373.50px !important;
    object-fit: cover;
    cursor: pointer;
}

#feedback-capture.view {
    width: calc(100% - 48px) !important;
    height: calc(100% - 48px) !important;
    z-index: 100000;
    position: fixed;
    object-fit: none !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#feedback-selection {
    position: absolute;
    z-index: 10000;
    background: linear-gradient(90deg, #0962BA 50%, transparent 50%), linear-gradient(0deg, #0962BA 50%, transparent 50%), linear-gradient(90deg, #0962BA 50%, transparent 50%), linear-gradient(0deg, #0962BA 50%, transparent 50%);
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: 15px 1px, 1px 15px, 15px 1px, 1px 15px;
    background-position: left top, right top, left bottom, left top;
    animation: border-dance 10s infinite linear;
    outline: 100000px solid #00000050;
}

@keyframes border-dance {
    0% {
        background-position: left top, right top, right bottom, left bottom;
    }

    100% {
        background-position: right top, right bottom, left bottom, left top;
    }
}

/*New Sales*/

.new-sales-area {
    height: calc(100% - 51px);
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100000;
    position: fixed;
    display: none;
}

.new-sales-area.closed {
    height: 80px;
}

.new-sales-area.sales {
    display: block !important;
}

.new-sales-area.sales .new-sales-close {
    display: none;
}

.new-sales-area.sales .new-sales-content {
    background: none;
}

.new-sales-close {
    width: 100%;
    height: 80px;
    background: var(--color-primary);
    border-radius: 16px 16px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.new-sales-close-info {
    max-width: 1304px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.new-sales-close-info-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FCFCFC;
}

.new-sales-close-info-close {
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 16px;
}

.new-sales-close-info-close p::after {
    content: "Minimizar";
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
}

.new-sales-area.closed .new-sales-close-info-close p::after {
    content: "Expandir";
}

.new-sales-area.closed .new-sales-close-info-close svg {
    transform: rotate(180deg);
    margin-top: 2px;
}

.new-sales-content {
    width: 100%;
    background-color: #F5F5F5;
    height: 100%;
    overflow-y: auto;
    display: grid;
    justify-content: center;
    padding-bottom: 120px;
}

.new-sales {
    width: 712px;
}

.new-sale {
    width: 100%;
    background: #FCFCFC;
    border-radius: 8px;
    border: 1px solid #cecece;
    margin-top: 24px;
    position: relative;
}

.new-sale:first-child {
    margin-top: 48px;
}

.new-sale-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 73px;
    border-bottom: 0.5px solid #DDDDDD;
}

.new-sale-title {
    width: 500px;
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--color-primary);
    margin-left: 16px;
}

.new-sale-type {
    align-items: center;
    position: absolute;
    height: 40px;
    right: 16px;
    border-radius: 8px;
    text-align: center;
    display: flex;
}

.new-sale-type.delivery {
    background: var(--color-primary-ten);
    padding: 0 25px;
}

.new-sale-type.delivery svg {
    width: 20px;
    height: 16px;
}

.new-sale-type.delivery svg path {
    d: path('M12.0557 6.57727C12.0757 6.57727 12.1007 6.58225 12.1207 6.58225V6.57727H12.0557Z M19.4753 11.9745C19.4373 11.6557 19.3443 11.346 19.2003 11.0591C18.9376 10.5219 18.5132 10.0805 17.9868 9.79701C17.4604 9.51351 16.8584 9.40211 16.2655 9.47846C16.073 9.50387 15.8837 9.54913 15.7005 9.61351L14.6256 7.70273C14.7306 7.73759 14.84 7.75779 14.9505 7.76276C15.0469 7.77093 15.144 7.75901 15.2355 7.72774C15.3805 7.67272 15.1855 6.68232 15.1505 6.41221C15.1105 6.11709 15.0605 5.86698 15.0305 5.51684C15.0302 5.49753 15.0251 5.4786 15.0155 5.46182C15.0082 5.44523 14.996 5.43126 14.9805 5.4218C14.9553 5.39656 14.9212 5.3822 14.8855 5.38179C14.8755 5.38179 14.8705 5.38679 14.8655 5.38679C14.6198 5.41774 14.3903 5.52639 14.2106 5.69692C14.0294 5.86887 13.9055 6.09239 13.8556 6.33718L13.7006 6.06206L13.3106 5.36678C13.2956 5.34677 13.2856 5.32676 13.2656 5.30175C13.2506 5.28175 13.2356 5.26674 13.2206 5.24673C13.1593 5.18563 13.0837 5.14091 13.0006 5.11668C12.9282 5.09251 12.8512 5.08566 12.7756 5.09667L12.5307 5.12668C12.5307 5.13169 12.5357 5.13669 12.5357 5.14169C12.5939 5.33378 12.5791 5.54061 12.4942 5.72248C12.4093 5.90434 12.2603 6.04843 12.0757 6.12709C12.0557 6.13209 12.0357 6.1421 12.0157 6.1471C11.8213 6.19553 11.6198 6.20907 11.4207 6.18712H11.3507C11.5307 6.3922 11.8457 6.30716 12.0757 6.27215C12.2157 6.24714 12.3507 6.22713 12.4907 6.20712L12.5507 6.19712L12.5557 6.21213L12.7656 6.57727C12.3857 6.57727 12.0057 6.57227 11.6257 6.57727C11.5757 6.57727 11.5257 6.58225 11.4707 6.58225C11.4257 6.58225 11.3757 6.57727 11.3307 6.57727H10.3958C10.3657 6.57645 10.3356 6.57811 10.3058 6.58225C10.1593 6.59329 10.0174 6.63778 9.89078 6.7123C9.81059 6.75729 9.73803 6.81469 9.67577 6.88237L9.91576 6.9374C10.1607 6.99242 10.3907 7.04744 10.5257 7.07745C10.5557 7.08243 10.5807 7.08746 10.5807 7.09246H10.6007L10.6557 7.10246L10.6757 7.11247C10.7207 7.12747 10.7607 7.14248 10.7957 7.15749L10.8557 7.1875C11.1193 7.31932 11.3231 7.54638 11.4257 7.82276C11.5309 8.10777 11.5255 8.42186 11.4107 8.70312L9.81079 12.4847C9.75075 12.6277 9.6623 12.757 9.5508 12.8648C9.44058 12.9744 9.30973 13.0611 9.16582 13.1199C9.0224 13.1759 8.86981 13.2048 8.71584 13.2049C8.56078 13.2043 8.40741 13.1726 8.26484 13.1116C8.12227 13.0506 7.9934 12.9616 7.88588 12.8498C7.77935 12.7362 7.69461 12.6039 7.63589 12.4596C7.57796 12.3167 7.54906 12.1637 7.55089 12.0094C7.55445 11.8548 7.58666 11.7021 7.64589 11.5593L8.58584 9.33335L7.12591 8.9632C6.87546 8.90354 6.64574 8.77739 6.46095 8.59805C6.33519 8.47225 6.23052 8.32699 6.15096 8.16787C6.07071 8.19612 5.98603 8.20968 5.90097 8.20789C5.81802 8.20855 5.73544 8.19675 5.65598 8.1729L2.68112 7.26255L1.73617 6.97744C1.71121 7.01655 1.69107 7.05854 1.67617 7.10249L1.63117 7.27256L1.54618 7.6127C1.53789 7.65215 1.53453 7.69248 1.53618 7.73277C1.54421 7.77276 1.55767 7.81147 1.57618 7.84782C1.59881 7.88269 1.62568 7.91461 1.65617 7.94286C1.69083 7.96363 1.72773 7.98041 1.76617 7.99288L1.88616 8.02789L3.79607 8.5431L3.81107 8.5481L4.96102 8.91325C4.9806 8.91851 4.99918 8.92696 5.01601 8.93826L4.57104 9.58853L4.45604 9.75359C4.1168 9.60718 3.75053 9.53389 3.38109 9.53851C2.8522 9.5393 2.33357 9.68459 1.88116 9.95868C1.42914 10.2374 1.06203 10.6346 0.819649 11.1072C0.577269 11.5798 0.468876 12.1099 0.506228 12.6397C0.541322 13.1699 0.721178 13.6803 1.0262 14.1153C1.33272 14.5468 1.74864 14.8886 2.23115 15.1057C2.71565 15.3163 3.24885 15.389 3.77199 15.3157C4.29513 15.2424 4.7879 15.0261 5.19601 14.6906C5.60543 14.3513 5.91481 13.9069 6.09096 13.4051C6.20544 13.0963 6.26139 12.7689 6.25596 12.4397C6.25596 12.3796 6.25596 12.3196 6.25096 12.2596C6.23205 11.8835 6.13499 11.5156 5.96597 11.1791C5.941 11.1183 5.91089 11.0598 5.87597 11.0041C5.86097 10.9741 5.84098 10.9491 5.82598 10.919C5.70275 10.7208 5.5586 10.5363 5.396 10.3688L5.68598 9.92864L5.93597 9.55349L6.05596 9.67356C6.09096 9.70854 6.12596 9.74359 6.15596 9.7786C6.19096 9.81862 6.22096 9.85363 6.25596 9.89365C6.28595 9.93367 6.31595 9.96868 6.35095 10.0137C6.50399 10.2141 6.63791 10.4285 6.75093 10.654C6.77132 10.693 6.78967 10.7331 6.80593 10.774C6.85593 10.8791 6.90093 10.9841 6.94092 11.0941C6.96092 11.1492 6.98092 11.2042 7.00092 11.2642L7.03092 11.3542C7.06592 11.4593 7.09092 11.5693 7.11591 11.6694C7.13591 11.7544 7.15591 11.8394 7.17094 11.9195C7.18094 11.9695 7.19094 12.0245 7.19594 12.0745C7.25171 12.3982 7.27516 12.7266 7.26593 13.0549C7.26578 13.1454 7.29568 13.2334 7.35093 13.305C7.40487 13.3688 7.47604 13.4157 7.55592 13.4401C7.59027 13.4484 7.62562 13.4517 7.66091 13.4501H8.82086C9.07085 13.4501 9.32583 13.4451 9.57582 13.4451C10.0253 13.4937 10.4801 13.4477 10.9108 13.31C11.2899 13.137 11.6011 12.8433 11.7957 12.4747L12.2357 11.6643L12.5407 11.1191L13.4656 9.63352L13.4906 9.5935L13.5256 9.53848L13.7256 9.22335L13.7656 9.15833L13.7956 9.0983C13.8106 9.06829 13.8256 9.03828 13.8406 9.00326C13.8567 8.9699 13.8685 8.93459 13.8756 8.89822C13.8974 8.81148 13.9091 8.72253 13.9106 8.63311V8.6131L14.7756 10.1487C14.7406 10.1787 14.7106 10.2038 14.6756 10.2338C14.3185 10.5746 14.0521 10.9993 13.9006 11.4693C13.7559 11.9426 13.7302 12.4442 13.8256 12.9299C13.9247 13.4133 14.1458 13.8634 14.4678 14.2372C14.7899 14.6111 15.2022 14.8963 15.6655 15.0657C16.1277 15.2329 16.6253 15.2774 17.1099 15.195C17.5944 15.1126 18.0493 14.9061 18.4304 14.5955C18.8133 14.2863 19.1096 13.883 19.2903 13.4251C19.4758 12.9655 19.5396 12.4659 19.4753 11.9745ZM4.99602 13.1199C4.81919 13.5517 4.4798 13.8966 4.05106 14.0803C3.83871 14.1693 3.6113 14.2169 3.38109 14.2204C3.09234 14.2189 2.8084 14.1463 2.55434 14.009C2.30027 13.8717 2.08389 13.674 1.92429 13.4333C1.76469 13.1925 1.66678 12.9162 1.6392 12.6286C1.61163 12.341 1.65523 12.0511 1.76617 11.7844C1.85594 11.5721 1.98484 11.3787 2.14615 11.2142C2.30798 11.0496 2.50202 10.9202 2.71612 10.834C2.92631 10.7443 3.15257 10.6983 3.38109 10.699C3.51972 10.6969 3.65789 10.7154 3.79107 10.754L2.93111 12.0745C2.88817 12.1364 2.85761 12.2061 2.84112 12.2796C2.82941 12.3524 2.82773 12.4264 2.83612 12.4997C2.85402 12.5704 2.88268 12.6378 2.92111 12.6998C2.96046 12.7608 3.01143 12.8135 3.07111 12.8548C3.16084 12.9204 3.27003 12.9539 3.38109 12.9499C3.47399 12.9498 3.56528 12.9257 3.64608 12.8798C3.72623 12.8346 3.79471 12.7712 3.84607 12.6948L4.74603 11.3492C4.99362 11.6585 5.12773 12.0434 5.12601 12.4397C5.12837 12.6728 5.08417 12.9041 4.99602 13.1199ZM18.3404 12.6698C18.2722 13.0311 18.0921 13.3618 17.8256 13.6149C17.5591 13.8681 17.2197 14.0309 16.8555 14.0803C16.502 14.1257 16.1432 14.0606 15.8282 13.8941C15.5131 13.7275 15.2572 13.4676 15.0955 13.15C14.9368 12.8312 14.8743 12.4732 14.9155 12.1195C14.9617 11.7662 15.1133 11.4349 15.3505 11.1691L16.1105 12.5147C16.1444 12.5751 16.1903 12.6279 16.2455 12.6698C16.3005 12.7131 16.3633 12.7453 16.4305 12.7648C16.4986 12.7847 16.5702 12.7898 16.6405 12.7798C16.7091 12.7711 16.7753 12.749 16.8355 12.7148C16.8979 12.6816 16.9526 12.6355 16.9957 12.5794C17.0389 12.5233 17.0695 12.4586 17.0854 12.3896C17.1044 12.3213 17.1112 12.2502 17.1054 12.1796C17.0942 12.1108 17.0704 12.0447 17.0354 11.9845L16.2755 10.6339C16.32 10.6232 16.3651 10.6148 16.4105 10.6089C16.4305 10.6089 16.4455 10.6039 16.4655 10.6039C16.8125 10.569 17.1618 10.6424 17.4654 10.814C17.7902 10.9876 18.0486 11.2636 18.2004 11.5993C18.3608 11.9318 18.4099 12.3072 18.3404 12.6698Z M12.1207 6.57727V6.58225C12.1007 6.58225 12.0757 6.57727 12.0557 6.57727H12.1207Z M11.4007 6.57727V6.58228C11.3757 6.58228 11.3557 6.57727 11.3307 6.57727L11.4007 6.57727Z M12.1757 5.60188C12.1151 5.71244 12.0133 5.79452 11.8924 5.83014C11.7715 5.86577 11.6415 5.85203 11.5307 5.79195L11.2407 5.63189L11.1757 5.59688L10.5258 5.24173L9.43081 4.60647L8.64584 7.16251L8.69084 7.17252C8.70084 7.17252 9.03082 7.24755 9.41581 7.33758V7.33258C9.74079 7.40761 10.1008 7.48765 10.3308 7.5477C10.3608 7.55268 10.3908 7.56271 10.4208 7.56771C10.4358 7.56771 10.4508 7.57271 10.4658 7.57271L10.4808 7.57771C10.4908 7.57771 10.4958 7.57771 10.4958 7.58269L10.5108 7.58769C10.5408 7.5977 10.5708 7.6027 10.5958 7.6127C10.6008 7.6177 10.6108 7.62271 10.6158 7.62771C10.6947 7.66608 10.7659 7.71864 10.8258 7.78277C10.8813 7.84818 10.9253 7.92262 10.9557 8.00286C11.0191 8.16562 11.0174 8.34659 10.9507 8.50806L9.35081 12.2896C9.31747 12.373 9.26627 12.4482 9.20082 12.5097C9.136 12.5699 9.06166 12.6189 8.98083 12.6547C8.90099 12.6914 8.81359 12.7085 8.72584 12.7048H8.72084C8.63108 12.7068 8.54208 12.688 8.46085 12.6497C8.37964 12.615 8.30645 12.564 8.24586 12.4997C8.21366 12.468 8.18515 12.4328 8.16086 12.3946C8.13497 12.3579 8.11475 12.3174 8.10087 12.2746C8.06657 12.1922 8.04955 12.1037 8.05087 12.0145C8.05176 11.925 8.07046 11.8366 8.10587 11.7544L9.25081 9.03828L9.27081 8.99326V8.98826L7.24591 8.47305H7.24091C7.16053 8.45356 7.08317 8.42327 7.01092 8.38301C6.93558 8.34335 6.86651 8.29279 6.80593 8.23295C6.7739 8.20666 6.74534 8.1764 6.72093 8.14291C6.69044 8.11217 6.66511 8.0767 6.64594 8.03787C6.61138 7.98704 6.58443 7.93143 6.56594 7.8728V7.8678C6.56094 7.84779 6.55094 7.82778 6.54594 7.80778C6.52415 7.72274 6.51241 7.63544 6.51094 7.54767C6.50952 7.50906 6.51288 7.47041 6.52094 7.43262C6.51936 7.4121 6.52279 7.3915 6.53094 7.3726C6.5306 7.36398 6.53232 7.35541 6.53594 7.34759C6.54094 7.33758 6.54094 7.32758 6.54594 7.31758V7.30757C6.55594 7.28756 6.56594 7.24255 6.58594 7.17752L6.61594 7.07748C6.62094 7.05747 6.63094 7.03746 6.63594 7.01245V7.00745C6.63594 7.00245 6.64094 6.99745 6.64094 6.98744C6.67594 6.88743 6.71093 6.76738 6.75093 6.63732C6.90592 6.13212 7.12091 5.44184 7.29091 4.8716C7.31091 4.80158 7.3359 4.73155 7.3559 4.66652L7.4659 4.30137C7.4759 4.26636 7.4859 4.23635 7.4959 4.20633L7.54589 4.04127C7.55718 4.0156 7.56557 3.98876 7.57089 3.96123L7.58589 3.91622C7.59089 3.8912 7.60089 3.8762 7.60089 3.86619C7.60589 3.85619 7.61089 3.85119 7.61089 3.84619C7.64229 3.7133 7.70198 3.58875 7.78588 3.48104C7.85205 3.39987 7.93151 3.33052 8.02087 3.27595C8.04596 3.25967 8.07279 3.24625 8.10087 3.23594C8.22628 3.18451 8.36031 3.15735 8.49585 3.15591H8.56085C8.71297 3.16675 8.86115 3.20935 8.99583 3.28096L11.0357 4.43643L11.1307 4.48645L11.6907 4.79155L11.9857 4.95161C12.0966 5.01305 12.1789 5.11584 12.2144 5.23763C12.25 5.35941 12.2361 5.49032 12.1757 5.60188Z M13.7057 6.06206L13.7006 6.06206L13.3106 5.36678L13.7057 6.06206Z M7.21426 3.16288C7.21917 3.2068 7.21405 3.25127 7.19926 3.29291L7.11426 3.57803C7.08572 3.64278 7.06232 3.70968 7.04427 3.77811C7.03427 3.81813 7.01927 3.85814 7.00927 3.89816C6.99927 3.93317 6.98927 3.97319 6.97927 4.0082L6.93927 4.13823L6.93427 4.14323C6.92032 4.18254 6.90863 4.22263 6.89927 4.26328V4.26828C6.87928 4.3183 6.86928 4.36832 6.85428 4.41334C6.84448 4.43613 6.83613 4.45951 6.82928 4.48335L6.76428 4.69343L6.68429 4.95854L6.64929 5.06858L6.55429 5.38371L6.3193 6.13902L6.2793 6.27408L6.24431 6.39412L6.22931 6.45415C6.22732 6.46296 6.22394 6.4714 6.21931 6.47916L6.17431 6.60921L6.14931 6.69925C6.13931 6.74427 6.12431 6.78428 6.11431 6.8193V6.8293C6.10132 6.85823 6.09127 6.88839 6.08431 6.91934H6.07931L5.90932 7.46956C5.88056 7.55694 5.81983 7.6302 5.73933 7.67465C5.72871 7.68092 5.71666 7.68436 5.70433 7.68465C5.66707 7.70295 5.6258 7.71155 5.58434 7.70966C5.55042 7.70995 5.51666 7.70488 5.48432 7.69465L2.50946 6.78428L1.46951 6.46916C1.42766 6.4544 1.38873 6.43239 1.35451 6.40413C1.31985 6.37673 1.29096 6.34273 1.26952 6.30409C1.25035 6.26488 1.23849 6.2225 1.23452 6.17904C1.23019 6.13544 1.23357 6.09141 1.24452 6.04898V6.04398L2.53946 1.86728C2.56442 1.79592 2.60959 1.73336 2.66945 1.68721C2.7269 1.64797 2.79488 1.62704 2.86444 1.62718H2.88444C2.90944 1.63218 2.93944 1.63719 2.96444 1.64219L6.97925 2.87269C7.0217 2.88355 7.06106 2.90409 7.09424 2.93271C7.12649 2.96118 7.15356 2.99503 7.17424 3.03276C7.17924 3.03776 7.17924 3.04276 7.18424 3.05276C7.20174 3.087 7.21196 3.1245 7.21426 3.16288Z M6.54094 7.31758C6.54594 7.31758 6.54594 7.31257 6.54594 7.30757V7.31758C6.54094 7.32758 6.54094 7.33758 6.53594 7.34759C6.53515 7.33733 6.53686 7.32703 6.54094 7.31758Z M6.80593 8.23295C6.86651 8.29279 6.93558 8.34335 7.01092 8.38301C6.93575 8.34514 6.86666 8.29625 6.80593 8.23795V8.23295Z M9.27081 8.98826V8.99326L7.24591 8.47305L9.27081 8.98826Z M10.7363 2.15135L10.7362 2.15635C10.7368 2.16104 10.7361 2.16579 10.7343 2.17014C10.7325 2.17449 10.7296 2.1783 10.7259 2.18121C10.7208 2.18614 10.7158 2.18607 10.7057 2.19093C10.7007 2.19086 10.6908 2.18571 10.6858 2.18564L10.1253 1.8724C10.1069 1.86248 10.0864 1.85704 10.0655 1.85652C10.0455 1.8529 10.0248 1.85433 10.0054 1.86066C9.98469 1.86528 9.96556 1.87537 9.95003 1.88987C9.93275 1.90077 9.91871 1.91611 9.90938 1.93429L9.71939 2.28173C9.70481 2.3096 9.69587 2.34007 9.69309 2.3714C9.68855 2.40173 9.69154 2.4327 9.70179 2.4616C9.71139 2.49093 9.72624 2.51826 9.74564 2.54226C9.76135 2.56853 9.78587 2.58839 9.81484 2.59828L10.4646 2.96284C10.4772 2.97175 10.4888 2.98198 10.4992 2.99335C10.5084 3.00665 10.5134 3.0224 10.5136 3.03857L10.5126 3.10359C10.5019 3.19285 10.4698 3.27819 10.419 3.35238C10.4089 3.36224 10.4037 3.37218 10.3937 3.37705C10.3447 3.43657 10.2823 3.48367 10.2117 3.51448C10.2017 3.51433 10.1967 3.51426 10.1916 3.51919C10.1791 3.52526 10.1654 3.52848 10.1515 3.52863C10.1325 3.53649 10.1118 3.53962 10.0913 3.53775C10.0578 3.53495 10.0254 3.5242 9.99678 3.50637L9.73379 3.36252C9.70129 3.33984 9.66636 3.32088 9.62965 3.30597L8.87558 2.88988C8.85958 2.88142 8.84461 2.87113 8.83098 2.85922C8.72553 2.79544 8.6375 2.70653 8.57475 2.60042C8.51523 2.50782 8.47742 2.40294 8.46415 2.29365C8.45372 2.20894 8.45328 2.1233 8.46285 2.0385C8.4699 1.94807 8.4897 1.8591 8.52165 1.77423C8.6055 1.52166 8.77714 1.30758 9.00537 1.17087C9.23101 1.02977 9.49938 0.973376 9.76269 1.01173L9.77269 1.01187C10.0434 1.0541 10.2899 1.19255 10.4669 1.40183C10.6439 1.61112 10.7395 1.87722 10.7363 2.15135Z M2.88437 1.66796C2.85205 1.69955 2.82529 1.73636 2.8052 1.77685C2.82466 1.73599 2.8515 1.69907 2.88437 1.66796Z');
}

.new-sale-type.delivery.withdraw svg path {
    d: path('M7.21005 16C7.39198 16 7.55476 15.9354 7.69838 15.8061C7.8468 15.6768 7.92101 15.4925 7.92101 15.2531C7.92101 15.0952 7.87313 14.918 7.77738 14.7217L6.34829 11.8348C6.28127 11.7104 6.21185 11.5907 6.14004 11.4758C6.07301 11.3561 6.00598 11.2507 5.93896 11.1598L5.04847 9.88869L5.10592 9.71634C5.2304 9.33333 5.32136 9.0006 5.37882 8.71813C5.43627 8.43567 5.47696 8.11011 5.5009 7.74147L5.64452 5.65171C5.68282 5.14901 5.56314 4.71813 5.28546 4.35907C5.00778 3.99521 4.60563 3.81329 4.07899 3.81329C3.6912 3.81329 3.34411 3.91382 3.0377 4.1149C2.73609 4.31598 2.40335 4.59126 2.0395 4.94075L0.940754 6.03232C0.749252 6.22382 0.6152 6.40575 0.5386 6.5781C0.466786 6.74566 0.423698 6.94674 0.409336 7.18133L0.27289 8.89048C0.25374 9.12029 0.301616 9.307 0.416517 9.45063C0.536206 9.58947 0.698983 9.66607 0.904847 9.68043C1.10114 9.69479 1.26631 9.64452 1.40036 9.52962C1.53441 9.40993 1.61101 9.22561 1.63016 8.97666L1.79533 7.09515L2.43447 6.52065C2.5015 6.46798 2.56852 6.45362 2.63555 6.47756C2.70257 6.5015 2.7313 6.55895 2.72172 6.64991L2.59964 8.3447C2.57092 8.74686 2.62837 9.10114 2.77199 9.40754C2.91562 9.71394 3.08797 9.99162 3.28905 10.2406L4.7325 12.0503C4.80431 12.1412 4.84979 12.2107 4.86894 12.2585C4.89288 12.3064 4.9216 12.3615 4.95512 12.4237L6.48474 15.526C6.5757 15.7032 6.68342 15.8253 6.8079 15.8923C6.93238 15.9641 7.06643 16 7.21005 16ZM0.70377 16C0.943148 16 1.13944 15.909 1.29264 15.7271L3.44704 13.1634C3.55236 13.0341 3.62178 12.936 3.6553 12.8689C3.6936 12.8019 3.73668 12.7038 3.78456 12.5745C3.81329 12.4835 3.83962 12.3926 3.86355 12.3016C3.89228 12.2107 3.91861 12.1221 3.94255 12.0359L2.71454 10.5206L2.35548 12.2154L0.32316 14.6284C0.227409 14.7385 0.148414 14.8438 0.0861759 14.9443C0.0287253 15.0449 0 15.167 0 15.3106C0 15.5117 0.0670257 15.6768 0.201077 15.8061C0.339916 15.9354 0.507481 16 0.70377 16ZM7.50449 8.06463H9.10592C9.34051 8.06463 9.52484 8.00479 9.65889 7.8851C9.79294 7.76062 9.85996 7.59545 9.85996 7.38959C9.85996 7.18372 9.79054 7.01855 9.65171 6.89408C9.51765 6.7696 9.33573 6.70736 9.10592 6.70736H7.41831L6.24057 5.42908L6.11849 7.25314L6.62119 7.75583C6.74566 7.87552 6.87253 7.95691 7.0018 8C7.13106 8.04309 7.29862 8.06463 7.50449 8.06463ZM4.91203 3.2316C5.20886 3.2316 5.47935 3.15739 5.72352 3.00898C5.96768 2.86056 6.16158 2.66667 6.30521 2.42729C6.45362 2.18312 6.52783 1.91741 6.52783 1.63016C6.52783 1.32855 6.45362 1.05566 6.30521 0.81149C6.16158 0.562537 5.96768 0.366248 5.72352 0.222621C5.47935 0.0742071 5.20886 0 4.91203 0C4.61999 0 4.35189 0.0742071 4.10772 0.222621C3.86355 0.366248 3.66966 0.562537 3.52603 0.81149C3.38719 1.05566 3.31777 1.32855 3.31777 1.63016C3.31777 1.91741 3.38719 2.18312 3.52603 2.42729C3.66966 2.66667 3.86355 2.86056 4.10772 3.00898C4.35189 3.15739 4.61999 3.2316 4.91203 3.2316Z')
}

.new-sale-type.mesa {
    background: #F5F5F5;
    padding: 0 8px;
}

.new-sale-type.mesa svg {
    width: 20px;
    height: 20px;
}

.new-sale-type.mesa * {
    fill: #0962BA;
}

.new-sale-type.mesa svg path {
    d: path('M16.2261 15.4779C15.5266 14.5583 14.6649 13.2467 13.2868 13.2467C11.9069 13.2467 9.67998 13.2467 9.67998 13.2467C9.09367 13.2467 8.61962 13.7207 8.61962 14.3079C8.61962 14.8934 9.09367 15.3683 9.67998 15.3683H11.5356C11.7696 15.3683 11.9596 15.5582 11.9596 15.7922V15.863C11.9596 16.097 11.7696 16.287 11.5356 16.287H8.41843L4.58629 12.8935C4.23571 12.5835 3.69949 12.6163 3.38863 12.9669C3.07778 13.3175 3.11059 13.8537 3.46117 14.1646C3.46117 14.1646 7.31144 18.8844 7.82435 18.8844L12.8447 18.8835L15.0543 20L18.0091 17.8361C18.0083 17.8361 17.7415 17.4709 16.2261 15.4779Z M17.7993 10.4983H1.98633V11.6579H17.7993V10.4983Z M16.8884 9.70038C16.91 9.46811 16.9238 9.2341 16.9238 8.99664C16.9238 5.61092 14.5311 2.78646 11.3448 2.1164C11.4113 1.9437 11.4519 1.75719 11.4519 1.56032C11.4519 0.700285 10.7516 0 9.89159 0C9.03156 0 8.33127 0.700285 8.33127 1.56032C8.33127 1.75719 8.37186 1.94284 8.43834 2.1164C5.25295 2.7856 2.85938 5.61092 2.85938 8.99664C2.85938 9.2341 2.87146 9.46897 2.89478 9.70038H16.8884ZM9.36055 1.56118C9.36055 1.2676 9.59887 1.02927 9.89245 1.02927C10.186 1.02927 10.4244 1.2676 10.4244 1.56118C10.4244 1.7356 10.3346 1.88326 10.2033 1.98083C10.0997 1.97565 9.9978 1.96443 9.89245 1.96443C9.78711 1.96443 9.68435 1.97565 9.58073 1.98083C9.44948 1.88326 9.36055 1.7356 9.36055 1.56118Z');
}

.new-sale-type p {
    display: flex;
    align-items: center;
}

.new-sale-type p::after {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-left: 4px;
    color: var(--color-primary);
}

.new-sale-type.delivery p::after {
    content: "Delivery";
}

.new-sale-type.delivery.withdraw p::after {
    content: "Retirada";
}

.new-sale-type.mesa p {
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0962BA;
    display: flex;
    align-items: center;
}

.new-sale-type.mesa p svg {
    margin-right: 4px;
}

.body-client-name {
    width: 534px;
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #4D4D4D;
}

.body-client-cod {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-left: 10px;
    text-align: right;
}

.new-sale-body {
    padding: 24px 16px;
}

.body-client-info {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4D4D4D;
    margin-top: 6px;
}

.body-divider {
    border-bottom: 0.5px solid #DDDDDD;
    margin: 24px 0;
}

.order-itens {
    width: 50%;
}

.order-itens-title {
    width: 149px;
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
    margin-bottom: 16px !important;
}

.order-item {
    width: 328px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.order-payment {
    padding-left: 16px;
    width: 50%;
}

.order-payment-value {
    position: relative;
    width: 100%;
}

.order-payment-value p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
}

.order-payment-value p:nth-child(1) {
    position: absolute;
    left: 0;
}

.order-payment-value p:nth-child(2) {
    position: absolute;
    right: 0;
}

.new-sale-footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    border-top: 0.5px solid #DDDDDD;
    position: relative;
    padding: 0 16px;
}

.new-sale-footer p:nth-child(1) {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    cursor: pointer;
}

.new-sale-footer p:nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
    padding: 8px 12px;
    background: var(--color-primary);
    border-radius: 8px;
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.new-sale-footer button:nth-child(3) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    padding: 8px 12px;
    background: var(--color-primary-ten);
    border-radius: 8px;
    position: absolute;
    right: 190px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
}

.new-sale-footer button:nth-child(3) svg {
    margin-right: 7px;
}

/*New Sale Refuse*/

.new-sale-refuse {
    display: none;
}

.new-sale-refuse-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #4D4D4D;
}

.new-sale-refuse-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #4D4D4D;
    margin-bottom: 24px !important;
}

.new-sale-refuse textarea {
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px;
    height: 120px;
}

.new-sale-refuse-footer {
    display: flex;
    align-items: center;

    height: 72px;
    border-top: 0.5px solid #DDDDDD;
    position: relative;
}

.new-sale-refuse-body {
    padding: 16px 16px 24px 16px;
}

.new-sale-refuse-footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-primary);
    margin-left: 16px;
    cursor: pointer;
}

.new-sale-refuse-footer button {
    position: absolute;
    right: 16px;
    background: var(--color-primary);
    border-radius: 8px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FCFCFC;
    padding: 8px 12px;
}

.new-sale-refuse-footer button:disabled {
    background: #BFBFBF;
}

/*New Sale Print*/

.new-sales.printing {
    width: 100%;
}

.new-sales.printing .new-sale {
    display: none;
}

.new-sale-print {
    margin-top: unset;
    width: 596px;
    background: #FFFFFF;
    padding: 48px 16px 0 16px;
}

.new-sale-print-businessdata {
    margin-bottom: 32px;
}

.new-sale-print-businessdata p {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #000000;
}

.new-sale-print-businessdata p:first-child {
    font-weight: bold;
}

.new-sale-print-businessdata p:nth-child(2) {
    margin: 8px 0 !important;
}

.new-sale-print-ordertypetime {
    width: 100%;
    border: 2px solid #000000;
    position: relative;
    margin-bottom: 32px;
}

.new-sale-print-ordertypetime div:nth-child(1) {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #000000;
}

/* .new-sale-print-ordertypetime div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 0;
} */

.new-sale-print-ordertypetime div:nth-child(2) {
    align-items: center;
    width: 100%;
    padding: 12px 0;
}

.new-sale-print-ordertypetime div:nth-child(1) p:nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 12px 0 12px 16px !important;
}

.new-sale-print-ordertypetime div:nth-child(1) p:nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #000000;
    padding: 12px !important;
    position: absolute;
    right: 0;
}

.new-sale-print-ordertypetime div:nth-child(1) p:nth-child(2) svg {
    margin-right: 8px;
}

.new-sale-print-ordertypetime div:nth-child(2) p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #000000;
}

.new-sale-print-ordertypetime div:nth-child(2) p:nth-child(1) {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.new-sale-print-ordertypetime div:nth-child(2) p:nth-child(1) svg {
    margin: 0 4px 0 0;
}

/* .new-sale-print-ordertypetime div:nth-child(2) p:nth-child(2) {
    position: absolute;
    right: 16px;
    font-weight: bold;
} */

.new-sale-print-ordertypetime div:nth-child(2) p:nth-child(2) {
    margin-left: 24px;
    margin-top: 8px;
    font-weight: bold;
}

.new-sale-print-clientdata {
    padding: 16px;
    width: 100%;
    border: 2px solid #000000;
    padding: 8px 16px 16px 16px;
    margin-bottom: 32px;
}

.new-sale-print-clientdata p:first-child {
    font-weight: bold;
}

.new-sale-print-clientdata p {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 8px;
}

.new-sale-print-clientdata div {
    margin: 24px 0 16px 0;
    border: 2px solid #000000;
    border-style: dashed;
}

.new-sale-print-orderitems {
    width: 100%;
    border: 2px solid #000000;
    padding: 24px 16px 0 16px;
}

.new-sale-print-orderitems-title {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 32px !important;
}

.new-sale-print-orderitems-item {
    width: 100%;
    position: relative;
    margin-bottom: 32px;
}

.new-sale-print-orderitems-item h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 0;
}

.new-sale-print-orderitems-item h5.item-name {
    width: 395px;
}

.new-sale-print-orderitems-item h5.item-price {
    position: absolute;
    right: 0;
    top: 0;
}

.new-sale-print-orderitems-item h5.item-price-unity {
    position: absolute;
    right: 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 17px;
}

.new-sale-print-orderitems-item p {
    width: 100%;
    font-family: "Inter";
    font-style: initial;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #000000;
    list-style-type: disc;
    display: list-item;
    margin-left: 12px;
    list-style-position: inside;
}

.new-sale-print-orderitems-item div {
    margin-bottom: 24px;
}

.new-sale-print-orderitems-item div h5:nth-child(2) {
    font-weight: 600;
}

.new-sale-print-orderitems div.divider {
    margin: 16px 0 24px 0;
    border: 2px solid #000000;
    border-style: dashed;
}

.new-sale-print-sum {
    width: 100%;
}

.new-sale-print-sum div {
    position: relative;
    margin-top: 8px;
}

.new-sale-print-sum div:last-child {
    margin-top: 24px;
    margin-bottom: 32px;
}

.new-sale-print-sum div p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #000000;
}

.new-sale-print-sum div p:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
}

.new-sale-print-sum div h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #000000;
}

.new-sale-print-sum div h5:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
}

.new-sale-print-orderitems h1 {
    width: calc(100% + 32px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #000000;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 0;
    margin-left: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-sale-print-orderitems h1.online {
    width: 100%;
    background: unset;
    color: #000000;
    border: 2px dashed #000000;
    margin: 0 16px 24px 0;
}

.new-sale-print-orderitems h1 svg {
    margin-right: 12px;
}

.new-sale-print-orderend {
    margin-top: 88px;
    margin-bottom: 52px;
    text-align: center;
}

.new-sale-print-orderend p:nth-child(2) {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 24px;
}

.new-sale-print-divider {
    border: 2px solid #000000;
    border-style: dashed;
}

/*Tabs Main*/

.tabs-main {
    margin: 0 auto;
    width: 960px;
    min-height: 808px;
    overflow: hidden;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    margin-bottom: 64px;
    position: relative;
}

/*Tabs Categories*/

.tabs-categories {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #F0F0F0;
    display: flex;
}

.tabs-categories-item {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4D4D4D;
    justify-content: center;
    margin-bottom: 0;
    cursor: pointer;
}

.tabs-categories-item.selected {
    height: 46px;
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.tabs-main-area:not(:nth-child(2)) {
    display: none;
}

/*Tabs Main Hint*/

.tabs-main-hint {
    padding: 16px;
    width: 100%;
    background: #F5F5F5;
    border-radius: 8px;
    position: relative;
}

.tabs-main-hint svg {
    position: absolute;
    left: 14px;
    top: 16px;
}

.tabs-main-hint p {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 0;
    padding-left: 34px;
}

/*On Boarding Start*/

.onBoardingStart {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.onBoardingStartModal {
    width: 704px;
    height: 554px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 24px;
    z-index: 15;
}

.onBoardingStartBody {
    width: 100%;
    padding: 48px 56px 22px;
}

.onBoardingStartBody h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #4D4D4D;
    margin-bottom: 8px;
}

.onBoardingStartBody h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 16px;
}

.onBoardingStartDetails {
    width: 100%;
    display: flex;
}

.onBoardingStartSteps {
    width: 285px;
    padding-top: 22px;
    margin-right: 21px;
}

.onBoardingStartStep {
    display: flex;
    align-items: center;
    position: relative;
}

.onBoardingStartStep svg {
    margin-right: 16px;
    margin-top: -16px;
}

.onBoardingStartStep div {
    width: 253px;
    min-height: 56px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 6px 16px;
    margin-bottom: 16px;
}

.onBoardingStartStep:first-child div {
    border: 1px solid #0962BA;
}

.onBoardingStartStep div p:nth-child(1) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.onBoardingStartStep div p:nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
}

.onBoardingStartButton {
    width: 640px;
    height: 40px;
    background: var(--color-primary);
    border-radius: 8px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
    margin-left: 30px;
}

.onBoardingProgress {
    width: 2px;
    background-color: #F0F0F0;
    position: absolute;
    left: 7px;
    bottom: 0px;
    z-index: -1;
    height: 100%;
}

.onBoardingStartStep:first-child .onBoardingProgress {
    height: 40px;
}

.onBoardingStartStep:last-child .onBoardingProgress {
    height: 32px;
    bottom: unset;
    top: 0;
}

/*On Boarding Toast*/

.onBoardingToast {
    position: fixed;
    width: 100%;
    height: 189px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.76%, rgba(0, 0, 0, 0.24) 100%);
    z-index: 100;
    display: none;
}

.onBoardingToast>div {
    width: 960px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 0.5px solid #DDDDDD;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.05), 0px 10.3704px 28.1111px rgba(0, 0, 0, 0.037963), 0px 6.16296px 15.2889px rgba(0, 0, 0, 0.0303704), 0px 3.2px 7.8px rgba(0, 0, 0, 0.025), 0px 1.3037px 3.91111px rgba(0, 0, 0, 0.0196296), 0px 0.296296px 1.88889px rgba(0, 0, 0, 0.012037);
    border-radius: 16px;
    z-index: 1000;
    padding-top: 16px;
    padding-left: 23.5px;
}

.onBoardingToast>div>div {
    display: flex;
    position: relative;
}

.onBoardingToast>div>div img {
    margin-right: 16px;
    width: 72px;
    height: 80px;
}

.onBoardingToast>div>div div:nth-child(2) p:nth-child(1) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #4D4D4D;
    margin-bottom: 4px;
}

.onBoardingToast>div>div div:nth-child(2) p:nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
}

.onBoardingToast>div>div div:nth-child(2) p:nth-child(2) a {
    color: var(--color-primary);
    cursor: pointer;
}

.onBoardingToast>div>div div:nth-child(3) {
    position: absolute;
    right: 0;
    margin-right: 23.5px;
    height: 72px;
    display: grid;
    justify-items: right;
}

.onBoardingToast>div>div div:nth-child(3) p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    background: #F5F5F5;
    border-radius: 8px;
    width: 56px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

.onBoardingToast>div>div div:nth-child(3) a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: var(--color-primary);
    cursor: pointer;
}

/*On Boarding Help*/

.onBoardingHelp {
    position: fixed;
    width: 336px;
    right: 36px;
    bottom: 40px;
    background: #FCFCFC;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.05), 0px 10.3704px 28.1111px rgba(0, 0, 0, 0.037963), 0px 6.16296px 15.2889px rgba(0, 0, 0, 0.0303704), 0px 3.2px 7.8px rgba(0, 0, 0, 0.025), 0px 1.3037px 3.91111px rgba(0, 0, 0, 0.0196296), 0px 0.296296px 1.88889px rgba(0, 0, 0, 0.012037);
    border-radius: 16px;
    padding: 24px;
}

.onBoardingHelpHeader {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
}

.onBoardingHelpHeader img {
    width: 154px;
}

.onBoardingHelpHeader svg {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.onBoardingHelpInfo {
    margin-bottom: 24px;
}

.onBoardingHelpInfo p:nth-child(1) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
    margin-bottom: 4px !important;
}

.onBoardingHelpInfo p:nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.onBoardingHelpStep {
    display: flex;
    position: relative;
    margin-bottom: 16px;
}

.onBoardingHelpStep div {
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    width: 253px;
    margin-left: 34px;
}

.onBoardingHelpStep div p:nth-child(1) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.onBoardingHelpStep div p:nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
}

.onBoardingHelpStep svg {
    position: absolute;
    left: 0;
    z-index: 2;
    top: 21px;
}

.onBoardingHelpProgress {
    width: 2px;
    background: #F0F0F0;
    position: absolute;
    left: 7px;
    top: 28px;
    z-index: 1;
    height: calc(16px + 100%);
}

.onBoardingHelpStep:last-child .onBoardingHelpProgress {
    display: none;
}

.onBoardingHelp.minimized {
    padding: 24px 12px;
    width: unset;
    cursor: pointer;
}

.onBoardingHelpMinimized {
    display: flex;
    align-items: center;
    position: relative;
    display: none;
}

.onBoardingHelp.minimized div:not(.onBoardingHelpMinimized) {
    display: none;
}

.onBoardingHelp.minimized .onBoardingHelpMinimized {
    display: flex;
}

.onBoardingHelpMinimized svg:first-child {
    margin-right: 8px;
}

.onBoardingHelpMinimized p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
    margin-right: 40px;
}

.onBoardingHelpMinimized svg:last-child {
    position: absolute;
    right: 0;
}

/*Step 1*/

.onBoardingHelpMinimized svg:first-child rect:nth-child(2) {
    fill: var(--color-primary);
    width: 0px;
}

.onBoardingHelpMinimized svg:first-child circle:nth-child(3) {
    fill: var(--color-primary);
}

.onBoardingHelpMinimized p::after {
    content: "Cadastrando produto (1/4)";
}

.onBoardingHelpStep:nth-child(1) div {
    border: 1px solid #0962BA;
}

.onBoardingHelpStep:nth-child(1) svg * {
    fill: #0962BA;
}

/*Step 2*/

[onBoardingHelpStep="2"] svg:first-child rect:nth-child(2) {
    width: 14px;
}

[onBoardingHelpStep="2"] svg:first-child circle:nth-child(3) {
    fill: var(--color-primary);
    r: 4.25;
}

[onBoardingHelpStep="2"] svg:first-child circle:nth-child(4) {
    fill: var(--color-primary);
    r: 6.25;
}

[onBoardingHelpStep="2"] .onBoardingHelpMinimized p::after {
    content: "Personalização (2/4)";
}

[onBoardingHelpStep="2"] .onBoardingHelpStep:nth-child(1) div {
    border: 1px solid #25A65B;
}

[onBoardingHelpStep="2"] .onBoardingHelpStep:nth-child(1) svg * {
    fill: #25A65B;
}

[onBoardingHelpStep="2"] .onBoardingHelpStep:nth-child(1) .onBoardingHelpProgress {
    background: linear-gradient(180deg, #25A65B 0%, #016FD0 100%);
}

[onBoardingHelpStep="2"] .onBoardingHelpStep:nth-child(2) div {
    border: 1px solid #0962BA;
}

[onBoardingHelpStep="2"] .onBoardingHelpStep:nth-child(2) svg * {
    fill: #0962BA;
}

/*Step 3*/

[onBoardingHelpStep="3"] svg:first-child rect:nth-child(2) {
    width: 34px;
}

[onBoardingHelpStep="3"] svg:first-child circle:nth-child(3) {
    fill: var(--color-primary);
    r: 4.25;
}

[onBoardingHelpStep="3"] svg:first-child circle:nth-child(4) {
    fill: var(--color-primary);
    r: 4.25;
}

[onBoardingHelpStep="3"] svg:first-child circle:nth-child(5) {
    fill: var(--color-primary);
    r: 6.25;
}

[onBoardingHelpStep="3"] .onBoardingHelpMinimized p::after {
    content: "Meus links (3/4)";
}

[onBoardingHelpStep="3"] .onBoardingHelpStep:nth-child(1) div {
    border: 1px solid #25A65B;
}

[onBoardingHelpStep="3"] .onBoardingHelpStep:nth-child(1) svg * {
    fill: #25A65B;
}

[onBoardingHelpStep="3"] .onBoardingHelpStep:nth-child(1) .onBoardingHelpProgress {
    background: #25A65B;
}

[onBoardingHelpStep="3"] .onBoardingHelpStep:nth-child(2) div {
    border: 1px solid #25A65B;
}

[onBoardingHelpStep="3"] .onBoardingHelpStep:nth-child(2) svg * {
    fill: #25A65B;
}

[onBoardingHelpStep="3"] .onBoardingHelpStep:nth-child(2) .onBoardingHelpProgress {
    background: linear-gradient(180deg, #25A65B 0%, #016FD0 100%);
}

[onBoardingHelpStep="3"] .onBoardingHelpStep:nth-child(3) div {
    border: 1px solid #0962BA;
}

[onBoardingHelpStep="3"] .onBoardingHelpStep:nth-child(3) svg * {
    fill: #0962BA;
}

/*Step 4*/

[onBoardingHelpStep="4"] svg:first-child rect:nth-child(2) {
    width: 46px;
}

[onBoardingHelpStep="4"] svg:first-child circle:nth-child(3) {
    fill: var(--color-primary);
    r: 4.25;
}

[onBoardingHelpStep="4"] svg:first-child circle:nth-child(4) {
    fill: var(--color-primary);
    r: 4.25;
}

[onBoardingHelpStep="4"] svg:first-child circle:nth-child(5) {
    fill: var(--color-primary);
    r: 4.25;
}

[onBoardingHelpStep="4"] svg:first-child circle:nth-child(6) {
    fill: var(--color-primary);
    r: 6.25;
}

[onBoardingHelpStep="4"] .onBoardingHelpMinimized p::after {
    content: "Horários de atendimento (4/4)";
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(1) div {
    border: 1px solid #25A65B;
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(1) svg * {
    fill: #25A65B;
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(1) .onBoardingHelpProgress {
    background: #25A65B;
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(2) div {
    border: 1px solid #25A65B;
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(2) svg * {
    fill: #25A65B;
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(2) .onBoardingHelpProgress {
    background: #25A65B;
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(3) div {
    border: 1px solid #25A65B;
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(3) svg * {
    fill: #25A65B;
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(3) .onBoardingHelpProgress {
    background: linear-gradient(180deg, #25A65B 0%, #016FD0 100%);
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(4) div {
    border: 1px solid #0962BA;
}

[onBoardingHelpStep="4"] .onBoardingHelpStep:nth-child(4) svg * {
    fill: #0962BA;
}

/*All Steps*/

[onBoardingHelpStep="finish"] svg:first-child circle {
    fill: var(--color-primary);
    r: 4.25;
}

[onBoardingHelpStep="finish"] .onBoardingHelpMinimized p::after {
    content: "Finalizado";
}

[onBoardingHelpStep="finish"] .onBoardingHelpStep div {
    border: 1px solid #25A65B;
}

[onBoardingHelpStep="finish"] .onBoardingHelpStep svg * {
    fill: #25A65B;
}

[onBoardingHelpStep="finish"] .onBoardingHelpStep .onBoardingHelpProgress {
    background: #25A65B;
}

/*Play Upgrade Modal*/

.play-upgrade-modal {
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 24px;
    width: 704px;
    padding: 48px 0 32px 0;
    text-align: center;
    text-align: -webkit-center;
    z-index: 10000000;
}

.play-upgrade-modal h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #4D4D4D;
    width: 325px;
}

.play-upgrade-modal h2 {
    width: 496px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
    margin-bottom: 4px;
}

.play-upgrade-modal h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 32px;
    width: 496px;
    text-align: center;
    min-height: 122px;
}

.play-upgrade-modal h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E4002B;
    background: #FFF0F3;
    border-radius: 8px;
    padding: 8px 16px;
    margin-bottom: 8px;
    width: fit-content;
}

.play-upgrade-modal .plan-title h4 {
    width: unset;
}

.play-upgrade-modal .plan {
    width: 544px;
    padding: 30px 30px 96px 30px;
    margin-bottom: 24px;
}

.play-upgrade-modal .plan * {
    text-align: left;
}

.play-upgrade-modal .plan-benefits h3 {
    font-weight: 500;
}

.play-upgrade-modal h3 span {
    font-size: 12px;
}

.play-upgrade-modal .plan-area {
    position: relative;
    width: 544px;
}

.play-upgrade-modal .plan-area .recommended-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    width: 127px;
    height: 32px;
    background: #0962BA;
    border: 0.5px solid #0962BA;
    box-shadow: 0px 2px 8px rgba(9, 98, 186, 0.25);
    border-radius: 8px;
    bottom: 30px;
    right: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.play-upgrade-modal .plan-area .recommended-button svg {
    min-width: 16px;
    min-height: 16px;
    margin-right: 4px;
}

.play-upgrade-modal-button-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
    width: 368px;
    height: 40px;
    background: #E4002B;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-bottom: 8px;
}

.play-upgrade-modal-button-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E4002B;
    width: 104px;
    height: 32px;
    background: none;
    border: none;
}

.play-upgrade-modal-button-3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #FFF0F3;
    width: 368px;
    height: 40px;
    color: #E4002B;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-bottom: 8px;
}

.play-upgrade-modal-carousel {
    width: 568px;
    height: 298px;
    position: relative;
    margin-bottom: 16px;
}

.play-upgrade-modal-carousel svg:nth-child(1) {
    position: absolute;
    left: 0;
    cursor: pointer;
}

.play-upgrade-modal-carousel svg:nth-child(2) {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.play-upgrade-modal-carousel .dots-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.play-upgrade-modal-carousel .dots-indicator div {
    width: 8px;
    height: 8px;
    background: #D9D9D9;
    border-radius: 4px;
    cursor: pointer;
}

.play-upgrade-modal-carousel .dots-indicator div:not(:last-child) {
    margin-right: 4px;
}

.play-upgrade-modal-carousel .dots-indicator div.selected {
    background: #E4002B;
}

.play-upgrade-modal-carousel-img {
    height: 265px;
    width: 385px;
    position: relative;
}

.play-upgrade-modal-carousel-img img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.plan {
    padding: 30px;
    width: 100%;
    background: #FFFFFF;
    border: 0.5px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 16px;
    order: 2;
}

.plan-title {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
}

.plan-title p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: #4D4D4D;
}

.plan-title div {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.plan-title h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4D4D4D;
    text-decoration: line-through;
    margin: 0 8px 0 0;
}

.plan-title h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #25A65B;
    background: #E1F5E9;
    border-radius: 8px;
    padding: 4px 8px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.plan-title h4 span {
    font-size: 16px;
    line-height: 24px;
}

.plan-offer {
    background: #E1F5E9;
    border: 1px solid #25A65B;
    border-radius: 8px;
    padding: 4px 0 8px 0;
    text-align: center;
    margin-bottom: 24px;
    display: none;
}

.plan-offer p:first-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #25A65B;
    margin-bottom: 4px;
}

.plan-offer p:nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #25A65B;
}

.plan-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 24px !important;
}

.plan-benefits {
    display: flex;
    place-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
}

.plan-benefits p {
    padding: unset;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    display: flex;
    width: calc(50% - 8px);
}

.plan-benefits p:nth-child(even) {
    margin-left: 8px;
}

.plan-benefits p:nth-child(odd) {
    margin-right: 8px;
}

.plan-benefits p svg:first-child {
    margin-right: 4px;
    min-width: 16px;
}

.plan-button {
    background: var(--color-primary-effects);
    border-radius: 8px;
    border: none;
    padding: 8px 12px;
    justify-content: center;
    margin-top: 24px;
    display: none;
}

.plan-button::after {
    content: "Escolher";
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
}

@media only screen and (max-width: 1000px) {
    .feedback-button {
        display: none;
    }
}