<input class="title-link-custom" type="text" placeholder="Insira o título do botão" maxlength="30"> 
<div class="link-custom new">
    <input class="text-link-custom" type="text" placeholder="Insira o link aqui">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M4.40234 18.9766C4.40234 20.5391 5.18359 21.3281 6.73047 21.3281H13.668C15.2148 21.3281 15.9961 20.5312 15.9961 18.9766V17.6094H17.2773C18.8164 17.6094 19.5977 16.8125 19.5977 15.2578V9.30469C19.5977 8.375 19.4102 7.78125 18.8477 7.20312L15.1367 3.42188C14.5977 2.875 13.9648 2.67188 13.1523 2.67188H10.3398C8.79297 2.67188 8.01172 3.46875 8.01172 5.02344V6.39062H6.73047C5.19141 6.39062 4.40234 7.1875 4.40234 8.75V18.9766ZM15.2852 11.2266L11.2305 7.10938C10.6602 6.52344 10.1758 6.39062 9.32422 6.39062H9.28516V5.07031C9.28516 4.35156 9.66797 3.94531 10.418 3.94531H13.6289V7.64844C13.6289 8.52344 14.0664 8.96094 14.9336 8.96094H18.3242V15.2109C18.3242 15.9297 17.9414 16.3359 17.1914 16.3359H15.9961V13.2344C15.9961 12.2734 15.8789 11.8438 15.2852 11.2266ZM14.7461 7.47656V4.53125L17.9961 7.84375H15.1055C14.8477 7.84375 14.7461 7.73438 14.7461 7.47656ZM5.68359 18.9375V8.78906C5.68359 8.07812 6.06641 7.67188 6.81641 7.67188H9.18359V11.875C9.18359 12.8516 9.67578 13.3281 10.6367 13.3281H14.7227V18.9375C14.7227 19.6562 14.3398 20.0547 13.582 20.0547H6.80859C6.06641 20.0547 5.68359 19.6562 5.68359 18.9375ZM10.7695 12.1562C10.4727 12.1562 10.3555 12.0391 10.3555 11.7422V7.94531L14.4961 12.1562H10.7695Z"
            fill="#F16B24" />
    </svg>
    <h3></h3>
</div>