<div class="payment-card-area-item" type="{{tipoId}}" name="{{nome}}">
    <div>
        <img src="img/payment_type/sem_bandeira.svg">
        <h1>{{nome}}</h1>
    </div>
    <h2>{{tipo}}</h2>
    <label class="custom-checkbox">
        <input type="checkbox" {{checked}}>
        <span class="checkmark"></span>
    </label>
</div>