<div class="payment-success">
    <div class="payment-success-header">
        <svg class="not-wl" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M72 36C72 45.5478 68.2072 54.7045 61.4558 61.4558C54.7045 68.2072 45.5478 72 36 72C26.4522 72 17.2955 68.2072 10.5442 61.4558C3.79285 54.7045 0 45.5478 0 36C0 26.4522 3.79285 17.2955 10.5442 10.5442C17.2955 3.79285 26.4522 0 36 0C45.5478 0 54.7045 3.79285 61.4558 10.5442C68.2072 17.2955 72 26.4522 72 36ZM54.135 22.365C53.8136 22.0447 53.4308 21.7925 53.0097 21.6235C52.5886 21.4545 52.1376 21.3721 51.684 21.3814C51.2303 21.3906 50.7831 21.4912 50.3692 21.6773C49.9553 21.8633 49.5831 22.1309 49.275 22.464L33.6465 42.3765L24.228 32.9535C23.5882 32.3573 22.742 32.0328 21.8676 32.0482C20.9933 32.0636 20.1591 32.4178 19.5407 33.0362C18.9223 33.6546 18.5681 34.4888 18.5527 35.3631C18.5373 36.2375 18.8618 37.0837 19.458 37.7235L31.365 49.635C31.6858 49.9552 32.0677 50.2075 32.4881 50.3768C32.9085 50.5462 33.3587 50.6292 33.8119 50.6208C34.265 50.6124 34.7118 50.5128 35.1256 50.328C35.5395 50.1431 35.9118 49.8769 36.2205 49.545L54.1845 27.09C54.7969 26.4532 55.1352 25.6017 55.1268 24.7183C55.1184 23.8349 54.7639 22.99 54.1395 22.365H54.135Z"
                fill="#25A65B" />
        </svg>
        <p>Recebemos seu pagamento!</p>
        <p>{{value}}</p>
    </div>
    <div>
        <div class="plan-payment-info">
            <img src="img/payment_type/{{card-flag}}.svg" onerror="this.src='img/payment_type/sem_bandeira.svg'">
            <p>{{card-info}}</p>
        </div>
        <p class="next-tuition">Próxima mensalidade: {{next-payment}}</p>
    </div>
    <button>Fechar</button>
</div>