<div class="plan selected" key="">
    <div class="plan-title">
        <p>Plano Vitrine</p>
        <div>
            <h4>GRÁTIS</h4>
        </div>
    </div>
    <p class="plan-subtitle">Poupe tempo. Receba pedidos detalhados direto no WhatsApp.</p>
    <div class="plan-benefits">
        <p>
            <svg class="not-wl" width="16" height="24" viewBox="0 0 16 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.9601 7.96031C12.148 7.78149 12.3979 7.68264 12.6572 7.6846C12.9165 7.68656 13.165 7.78919 13.3501 7.97082C13.5352 8.15246 13.6424 8.3989 13.6493 8.65814C13.6562 8.91738 13.562 9.16914 13.3868 9.36031L8.0668 16.0136C7.97532 16.1122 7.86491 16.1912 7.74217 16.2461C7.61943 16.301 7.48689 16.3306 7.35246 16.3331C7.21804 16.3356 7.08449 16.3109 6.9598 16.2606C6.83512 16.2103 6.72186 16.1354 6.6268 16.0403L3.0988 12.5123C3.00055 12.4208 2.92174 12.3104 2.86709 12.1877C2.81243 12.065 2.78304 11.9326 2.78067 11.7983C2.7783 11.6641 2.803 11.5307 2.8533 11.4062C2.90359 11.2817 2.97845 11.1685 3.07341 11.0736C3.16837 10.9786 3.28148 10.9038 3.406 10.8535C3.53052 10.8032 3.66389 10.7785 3.79816 10.7809C3.93243 10.7832 4.06485 10.8126 4.18751 10.8673C4.31018 10.9219 4.42058 11.0007 4.51213 11.099L7.30413 13.8896L11.9348 7.98964C11.9431 7.97938 11.952 7.96958 11.9615 7.96031H11.9601Z"
                    fill="#4D4D4D"></path>
            </svg>
            Pedidos ilimitados sem taxas
        </p>
        <p>
            <svg class="not-wl" width="16" height="24" viewBox="0 0 16 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.9601 7.96031C12.148 7.78149 12.3979 7.68264 12.6572 7.6846C12.9165 7.68656 13.165 7.78919 13.3501 7.97082C13.5352 8.15246 13.6424 8.3989 13.6493 8.65814C13.6562 8.91738 13.562 9.16914 13.3868 9.36031L8.0668 16.0136C7.97532 16.1122 7.86491 16.1912 7.74217 16.2461C7.61943 16.301 7.48689 16.3306 7.35246 16.3331C7.21804 16.3356 7.08449 16.3109 6.9598 16.2606C6.83512 16.2103 6.72186 16.1354 6.6268 16.0403L3.0988 12.5123C3.00055 12.4208 2.92174 12.3104 2.86709 12.1877C2.81243 12.065 2.78304 11.9326 2.78067 11.7983C2.7783 11.6641 2.803 11.5307 2.8533 11.4062C2.90359 11.2817 2.97845 11.1685 3.07341 11.0736C3.16837 10.9786 3.28148 10.9038 3.406 10.8535C3.53052 10.8032 3.66389 10.7785 3.79816 10.7809C3.93243 10.7832 4.06485 10.8126 4.18751 10.8673C4.31018 10.9219 4.42058 11.0007 4.51213 11.099L7.30413 13.8896L11.9348 7.98964C11.9431 7.97938 11.952 7.96958 11.9615 7.96031H11.9601Z"
                    fill="#4D4D4D"></path>
            </svg>
            Gerenciamento e cadastro ilimitado de produtos
        </p>
    </div>
    <button class="plan-button"></button>
</div>