<div class="plan{{selected}}" key="{{key}}">
    <div class="plan-title">
        <p>{{nome}}</p>
        <div>
            {{valorAntigo}}
            <h4>{{valor}}</span></h4>
        </div>
    </div>
    <p class="plan-subtitle">{{descricao}}</p>
    <div class="plan-offer">
        <p>Pague apenas R$ 14,90 até 11/12</p>
        <p>Desconto realizado sobre a mensalidade do plano atual.</p>
    </div>
    <div class="plan-benefits">
        {{plan-benefits}}
    </div>
    <button class="plan-button"></button>
</div>