<div class="plan-payment-info">
    <img src="img/payment_type/{{bandeiraCartao}}.svg"
        onerror="this.src='img/payment_type/sem_bandeira.svg'">
    <p>{{meioPagamento}}</p>
    <button>Mudar</button>
</div>