<div class="delivery-special-item">
    <p>{{semana}}, {{dia}} de {{mes}} de {{ano}} {{abreFecha}}</p>
    <!-- <div class="available">
        <p class="title-disponibility">Disponível</p>
        <label class="cl-switch cl-switch-green">
            <input key="{{key}}" class="enabled-obj" type="checkbox" checked="">
            <span class="switcher"></span>
        </label>
    </div> -->
    <div key="{{key}}" class="delivery-special-item-exclude">
        <svg class="not-wl" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2542_112720)">
                <path
                    d="M6.5 5C6.23478 5 5.98043 5.10536 5.79289 5.29289C5.60536 5.48043 5.5 5.73478 5.5 6V7C5.5 7.26522 5.60536 7.51957 5.79289 7.70711C5.98043 7.89464 6.23478 8 6.5 8H7V17C7 17.5304 7.21071 18.0391 7.58579 18.4142C7.96086 18.7893 8.46957 19 9 19H15C15.5304 19 16.0391 18.7893 16.4142 18.4142C16.7893 18.0391 17 17.5304 17 17V8H17.5C17.7652 8 18.0196 7.89464 18.2071 7.70711C18.3946 7.51957 18.5 7.26522 18.5 7V6C18.5 5.73478 18.3946 5.48043 18.2071 5.29289C18.0196 5.10536 17.7652 5 17.5 5H14C14 4.73478 13.8946 4.48043 13.7071 4.29289C13.5196 4.10536 13.2652 4 13 4H11C10.7348 4 10.4804 4.10536 10.2929 4.29289C10.1054 4.48043 10 4.73478 10 5H6.5ZM9.5 9C9.63261 9 9.75979 9.05268 9.85355 9.14645C9.94732 9.24021 10 9.36739 10 9.5V16.5C10 16.6326 9.94732 16.7598 9.85355 16.8536C9.75979 16.9473 9.63261 17 9.5 17C9.36739 17 9.24021 16.9473 9.14645 16.8536C9.05268 16.7598 9 16.6326 9 16.5V9.5C9 9.36739 9.05268 9.24021 9.14645 9.14645C9.24021 9.05268 9.36739 9 9.5 9ZM12 9C12.1326 9 12.2598 9.05268 12.3536 9.14645C12.4473 9.24021 12.5 9.36739 12.5 9.5V16.5C12.5 16.6326 12.4473 16.7598 12.3536 16.8536C12.2598 16.9473 12.1326 17 12 17C11.8674 17 11.7402 16.9473 11.6464 16.8536C11.5527 16.7598 11.5 16.6326 11.5 16.5V9.5C11.5 9.36739 11.5527 9.24021 11.6464 9.14645C11.7402 9.05268 11.8674 9 12 9ZM15 9.5V16.5C15 16.6326 14.9473 16.7598 14.8536 16.8536C14.7598 16.9473 14.6326 17 14.5 17C14.3674 17 14.2402 16.9473 14.1464 16.8536C14.0527 16.7598 14 16.6326 14 16.5V9.5C14 9.36739 14.0527 9.24021 14.1464 9.14645C14.2402 9.05268 14.3674 9 14.5 9C14.6326 9 14.7598 9.05268 14.8536 9.14645C14.9473 9.24021 15 9.36739 15 9.5Z"
                    fill="#B00020" />
            </g>
            <defs>
                <clipPath id="clip0_2542_112720">
                    <rect width="16" height="16" fill="white" transform="translate(4 4)" />
                </clipPath>
            </defs>
        </svg>
        <p>
            Excluir
        </p>
    </div>
</div>