<div class="delivery-item delivery-item-verify">
    <div class="delivery-item-title">
        <input id="name" type="text" value="{{titulo}}" index="{{key}}" placeholder="Insira o título do período..." disabled>
        <div class="input-group-append more-options">
            <button data-toggle="dropdown">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M22 16C23.1 16 24 15.1 24 14C24 12.9 23.1 12 22 12C20.9 12 20 12.9 20 14C20 15.1 20.9 16 22 16ZM22 18C20.9 18 20 18.9 20 20C20 21.1 20.9 22 22 22C23.1 22 24 21.1 24 20C24 18.9 23.1 18 22 18ZM22 24C20.9 24 20 24.9 20 26C20 27.1 20.9 28 22 28C23.1 28 24 27.1 24 26C24 24.9 23.1 24 22 24Z"
                        fill="#E4002B" />
                </svg>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item change-delivery">Editar título</a>
                <a class="dropdown-item exclude-delivery">Apagar período</a>
            </div>
        </div>
    </div>
    <h5>Selecione os dias em que esse horário se aplica</h5>
    <div class="delivery-item-days">
        <div state="{{segunda}}">
            <span>Seg</span>
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F16B24" />
            </svg>
        </div>
        <div state="{{terça}}">
            <span>Ter</span>
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F16B24" />
            </svg>
        </div>
        <div state="{{quarta}}">
            <span>Qua</span>
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F16B24" />
            </svg>
        </div>
        <div state="{{quinta}}">
            <span>Qui</span>
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F16B24" />
            </svg>
        </div>
        <div state="{{sexta}}">
            <span>Sex</span>
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F16B24" />
            </svg>
        </div>
        <div state="{{sabado}}">
            <span>Sáb</span>
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F16B24" />
            </svg>
        </div>
        <div state="{{domingo}}">
            <span>Dom</span>
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F16B24" />
            </svg>
        </div>
    </div>
    <div class="delivery-item-hours">
        <div>
            <h4>Inicia</h4>
            <input id="abre" type="text" placeholder="HH:MM" value="{{abre}}">
        </div>
        <h3>Até</h3>
        <div>
            <h4>Encerra</h4>
            <input id="fecha" type="text" placeholder="HH:MM" value="{{fecha}}">
        </div>
        <button class="delivery-item-button disabled"></button>
    </div>
</div>