<div class="see-additional center-rel-hor">
    <div class="floating-search">
        <div class="search-bar">
            <input type="text" placeholder="Pesquisar...">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.4427 10.442C10.5356 10.349 10.6458 10.2752 10.7672 10.2249C10.8886 10.1746 11.0188 10.1487 11.1502 10.1487C11.2816 10.1487 11.4117 10.1746 11.5331 10.2249C11.6545 10.2752 11.7648 10.349 11.8577 10.442L15.7077 14.292C15.8953 14.4795 16.0008 14.7338 16.0009 14.9991C16.001 15.2644 15.8957 15.5188 15.7082 15.7065C15.5207 15.8941 15.2663 15.9996 15.001 15.9997C14.7358 15.9998 14.4813 15.8945 14.2937 15.707L10.4437 11.857C10.3507 11.7641 10.2769 11.6538 10.2266 11.5324C10.1763 11.411 10.1504 11.2809 10.1504 11.1495C10.1504 11.0181 10.1763 10.8879 10.2266 10.7665C10.2769 10.6451 10.3507 10.5348 10.4437 10.442H10.4427Z"
                        fill="var(--color-primary)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                        fill="var(--color-primary)" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="16" height="16" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
    <div class="title-area">
        <p class="see-additional-title">Adicionais</p>
        <div class="add-category">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.5303 5.46967C12.3897 5.32902 12.1989 5.25 12 5.25C11.8011 5.25 11.6103 5.32902 11.4697 5.46967C11.329 5.61032 11.25 5.80109 11.25 6V11.25H6C5.80109 11.25 5.61032 11.329 5.46967 11.4697C5.32902 11.6103 5.25 11.8011 5.25 12C5.25 12.1989 5.32902 12.3897 5.46967 12.5303C5.61032 12.671 5.80109 12.75 6 12.75H11.25V18C11.25 18.1989 11.329 18.3897 11.4697 18.5303C11.6103 18.671 11.8011 18.75 12 18.75C12.1989 18.75 12.3897 18.671 12.5303 18.5303C12.671 18.3897 12.75 18.1989 12.75 18V12.75H18C18.1989 12.75 18.3897 12.671 18.5303 12.5303C18.671 12.3897 18.75 12.1989 18.75 12C18.75 11.8011 18.671 11.6103 18.5303 11.4697C18.3897 11.329 18.1989 11.25 18 11.25H12.75V6C12.75 5.80109 12.671 5.61032 12.5303 5.46967Z"
                    fill="var(--color-primary)" />
            </svg>
            <p>Nova categoria</p>
        </div>
    </div>
    <p class="subtitle-area">Cadastre itens adicionais e ingredientes para os produtos.</p>
    <div class="floating-header">
        <div class="header-category slider-horizontal category-section">
            {{category}}
        </div>
        <div class="see-additional-ordering">
            <p>{{qtdAdittional}}</p>
            <div class="ordening-area">
                <p>Visualizar por</p>
                <div class="input-group-append">
                    <button class="dropdown-toggle ordering" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">A-Z</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item ordering-item">A-Z</a>
                        <a class="dropdown-item ordering-item">Mais barato</a>
                        <a class="dropdown-item ordering-item">Mais caro</a>
                        <a class="dropdown-item ordering-item">Indisponíveis</a>
                        <a class="dropdown-item ordering-item">Disponíveis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{adittional}}
    <div class="see-additional-empty" {{empty}}>
        <div>
            <img src="/painelweb/img/see-additional-empty.svg">
            <p>Nenhum adicional cadastrado</p>
        </div>
    </div>
</div>
<div class="register-adittional center-fix">
    <input id="adittional-keypush" type="text" style="display: none;">
    <input id="adittional-codbarras" type="text" style="display: none;">
    <input id="adittional-oldcategory" type="text" style="display: none;">
    <div class="register-adittional-title">
        <p>Cadastrar novo item adicional</p>
        <p class="title-disponibility">Disponível</p>
        <label class="cl-switch cl-switch-green">
            <input id="adittional-disponivel" type="checkbox">
            <span class="switcher"></span>
        </label>
    </div>
    <div class="register-adittional-category">
        <p>Categoria de adicionais:</p>
        <p id="adittional-category" class="category-selected"></p>
        <div class="selector-category">
            <p>Categorias</p>
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 4H0L4 8L8 4Z" fill="var(--color-primary)" />
            </svg>
        </div>
    </div>
    <div class="register-adittional-body">
        <p class="titleNotEmpty">Título do item adicional</p>
        <input id="adittional-title" class="fieldNotEmpty" type="text">
        <p>Preço</p>
        <div>
            <span>R$</span>
            <input id="adittional-price" type="text" class="adittional-price money-mask" data-thousands="."
                data-decimal="," />
        </div>
        <p>Para gratuidade, deixe em branco.</p>
    </div>
    <div class="register-adittional-footer">
        <p>Cancelar</p>
        <p>Salvar item adicional</p>
        <p class="exclude-adittional" style="display: none;">Excluir</p>
    </div>
    <div class="category-dropdown">
        <div class="category-dropdown-header">
            <p class="category-dropdown-title">Selecione</p>
            <div class="selector-category">
                <p>Categorias</p>
                <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 4H0L4 0L8 4Z" fill="var(--color-primary)" />
                </svg>
            </div>
        </div>
        <div class="product-dropdown-search search-area">
            <input type="text" placeholder="Pesquisar">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.4427 10.442C10.5356 10.349 10.6458 10.2752 10.7672 10.2249C10.8886 10.1746 11.0188 10.1487 11.1502 10.1487C11.2816 10.1487 11.4117 10.1746 11.5331 10.2249C11.6545 10.2752 11.7648 10.349 11.8577 10.442L15.7077 14.292C15.8953 14.4795 16.0008 14.7338 16.0009 14.9991C16.001 15.2644 15.8957 15.5188 15.7082 15.7065C15.5207 15.8941 15.2663 15.9996 15.001 15.9997C14.7358 15.9998 14.4813 15.8945 14.2937 15.707L10.4437 11.857C10.3507 11.7641 10.2769 11.6538 10.2266 11.5324C10.1763 11.411 10.1504 11.2809 10.1504 11.1495C10.1504 11.0181 10.1763 10.8879 10.2266 10.7665C10.2769 10.6451 10.3507 10.5348 10.4437 10.442H10.4427Z"
                        fill="var(--color-primary)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                        fill="var(--color-primary)" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="16" height="16" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="category-dropdown-body">
            {{categoryDropdown}}
        </div>
        <div class="category-dropdown-footer">
            <p>Cancelar</p>
            <p>Salvar</p>
        </div>
    </div>
    <div class="group-dropdown">
        <div class="group-dropdown-header">
            <p class="group-dropdown-title">Selecione</p>
            <div class="selector-group">
                <p>Grupos</p>
                <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 4H0L4 0L8 4Z" fill="var(--color-primary)" />
                </svg>
            </div>
        </div>
        <div class="product-dropdown-search search-area">
            <input type="text" placeholder="Pesquisar">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.4427 10.442C10.5356 10.349 10.6458 10.2752 10.7672 10.2249C10.8886 10.1746 11.0188 10.1487 11.1502 10.1487C11.2816 10.1487 11.4117 10.1746 11.5331 10.2249C11.6545 10.2752 11.7648 10.349 11.8577 10.442L15.7077 14.292C15.8953 14.4795 16.0008 14.7338 16.0009 14.9991C16.001 15.2644 15.8957 15.5188 15.7082 15.7065C15.5207 15.8941 15.2663 15.9996 15.001 15.9997C14.7358 15.9998 14.4813 15.8945 14.2937 15.707L10.4437 11.857C10.3507 11.7641 10.2769 11.6538 10.2266 11.5324C10.1763 11.411 10.1504 11.2809 10.1504 11.1495C10.1504 11.0181 10.1763 10.8879 10.2266 10.7665C10.2769 10.6451 10.3507 10.5348 10.4437 10.442H10.4427Z"
                        fill="var(--color-primary)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                        fill="var(--color-primary)" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="16" height="16" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="group-dropdown-body">
            {{categoryDropdown}}
        </div>
        <div class="group-dropdown-footer">
            <p>Cancelar</p>
            <p>Salvar</p>
        </div>
    </div>
</div>
<div class="product-dropdown copy-adittional center-fix">
    <div class="product-dropdown-title">
        <p>Selecione itens adicionais cadastrados</p>
    </div>
    <div class="product-dropdown-search search-area">
        <input type="text" placeholder="Pesquisar...">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.4427 10.442C10.5356 10.349 10.6458 10.2752 10.7672 10.2249C10.8886 10.1746 11.0188 10.1487 11.1502 10.1487C11.2816 10.1487 11.4117 10.1746 11.5331 10.2249C11.6545 10.2752 11.7648 10.349 11.8577 10.442L15.7077 14.292C15.8953 14.4795 16.0008 14.7338 16.0009 14.9991C16.001 15.2644 15.8957 15.5188 15.7082 15.7065C15.5207 15.8941 15.2663 15.9996 15.001 15.9997C14.7358 15.9998 14.4813 15.8945 14.2937 15.707L10.4437 11.857C10.3507 11.7641 10.2769 11.6538 10.2266 11.5324C10.1763 11.411 10.1504 11.2809 10.1504 11.1495C10.1504 11.0181 10.1763 10.8879 10.2266 10.7665C10.2769 10.6451 10.3507 10.5348 10.4437 10.442H10.4427Z"
                    fill="var(--color-primary)" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                    fill="var(--color-primary)" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="16" height="16" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
    <div class="category-section">
        <div class="header-category slider-horizontal copy-adittional-categories">
            {{category}}
        </div>
    </div>
    <div class="all-item popup-body">
        {{adittionalList}}
    </div>
    <div class="product-dropdown-buttons">
        <p>Cancelar</p>
        <p>Salvar itens</p>
    </div>
</div>