<div class="register-product center-rel-hor">
    <div class="register-fields">
        <div class="title">
            <p>Cadastrando novo produto</p>
            <p class="title-disponibility">Disponível</p>
            <label class="cl-switch cl-switch-green">
                <input id="avaliable-product-obj" type="checkbox" checked>
                <span class="switcher"></span>
            </label>
        </div>
        <div class="button-option">
            <div class="ordinary selected">
                <p>Comum</p>
            </div>
            <div class="combo">
                <p>Combo</p>
            </div>
        </div>
        <div class="category-option">
            <p>Categoria:</p>
            <p id="category-product-obj" class="category-selected">{{categorySelected}}</p>
            <div class="selector-category">
                <p>Categorias</p>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 8L13 8L8 13L3 8Z" fill="var(--color-primary)" />
                </svg>
            </div>
        </div>
        <div class="category-dropdown">
            <div class="category-dropdown-header">
                <p class="category-dropdown-title">Selecione</p>
                <div class="selector-category">
                    <p>Categorias</p>
                    <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 4H0L4 0L8 4Z" fill="var(--color-primary)" />
                    </svg>
                </div>
            </div>
            <div class="product-dropdown-search search-area">
                <input type="text" placeholder="Pesquisar">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10.4427 10.442C10.5356 10.349 10.6458 10.2752 10.7672 10.2249C10.8886 10.1746 11.0188 10.1487 11.1502 10.1487C11.2816 10.1487 11.4117 10.1746 11.5331 10.2249C11.6545 10.2752 11.7648 10.349 11.8577 10.442L15.7077 14.292C15.8953 14.4795 16.0008 14.7338 16.0009 14.9991C16.001 15.2644 15.8957 15.5188 15.7082 15.7065C15.5207 15.8941 15.2663 15.9996 15.001 15.9997C14.7358 15.9998 14.4813 15.8945 14.2937 15.707L10.4437 11.857C10.3507 11.7641 10.2769 11.6538 10.2266 11.5324C10.1763 11.411 10.1504 11.2809 10.1504 11.1495C10.1504 11.0181 10.1763 10.8879 10.2266 10.7665C10.2769 10.6451 10.3507 10.5348 10.4437 10.442H10.4427Z"
                            fill="var(--color-primary)" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                            fill="var(--color-primary)" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="16" height="16" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="category-dropdown-body">
                {{categoryDropdown}}
            </div>
            <div class="category-dropdown-footer">
                <p>Cancelar</p>
                <p>Salvar</p>
            </div>
        </div>
        <div class="product-title">
            <p class="titleNotEmpty">Título do item</p>
            <input id="title-product-obj" class="fieldNotEmpty" type="text">
            <p class="alertTextNotEmpty">Campo obrigatório</p>
        </div>
        <div class="product-value">
            <p class="titleNotEmpty">Preço</p>
            <div class="d-flex align-items-center">
                <div>
                    <span>R$</span>
                    <input id="price-product-obj" type="text" class="fieldNotEmpty money-mask" data-thousands="."
                        data-decimal="," />
                </div>
                <p class='add-value'>Adicionar desconto</p>
                <div class='value-input-added'>
                    <span>R$</span>
                    <input id="promotion-product-obj" class="money-mask" type="text" data-thousands="."
                        data-decimal="," />
                    <div class='trash-area'>
                        <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                            <path
                                d='M16.4094 9.22333V19.5956H8.11167V9.22333H16.4094ZM14.8536 3H9.6675L8.63028 4.03722H5V6.11167H19.5211V4.03722H15.8908L14.8536 3ZM18.4839 7.14889H6.03722V19.5956C6.03722 20.7365 6.97072 21.67 8.11167 21.67H16.4094C17.5504 21.67 18.4839 20.7365 18.4839 19.5956V7.14889Z'
                                fill='var(--color-primary)' />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <p class="alertTextNotEmpty">Campo obrigatório</p>
                <p class='promotion-error'>Insira um valor válido.</p>
            </div>
        </div>
        <div class="serves-quantity">
            <div class="quantity">
                <p>Medida</p>
                <div class="input-group input-group-sm ">
                    <input id="measure-product-obj" type="number" class="form-control">
                    <button class="dropdown-toggle selector-size" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <p>Gramas</p>
                    </button>
                    <div id="unity-product-obj" class="dropdown-menu" x-placement="bottom-start"
                        style="position: absolute; transform: translate3d(123px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"
                        value="g">
                        <a class="dropdown-item" value="g">Gramas</a>
                        <a class="dropdown-item" value="kg">Quilos</a>
                        <a class="dropdown-item" value="L">Litros</a>
                        <a class="dropdown-item" value="ml">Mililitros</a>
                        <a class="dropdown-item" value="un">Unidades</a>
                    </div>
                </div>
                <p>Ex: 100g, 1 Kg, 500ml, 3 un...</p>
            </div>
            <div class="serves">
                <p>Serve quantas pessoas?</p>
                <input id="serves-product-obj" type="number">
                <p>Opcional</p>
            </div>
        </div>
        <div class="product-description">
            <p>Descrição</p>
            <textarea id="description-product-obj"
                placeholder="Descreva o produto, fale da forma de preparo, sabores etc. (Opcional)"></textarea>
        </div>
        <div class="product-ingredients">
            <div>
                <p>Deseja detalhar ingredientes?</p>
                <p>Ao inserir ingredientes, os clientes poderão removê-los.</p>
            </div>
            <div class="selector">
                <p>Selecionar ingredientes</p>
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 4H0L4 8L8 4Z" fill="var(--color-primary)" />
                </svg>
            </div>
        </div>
        <div class="selected-ingredients">
            <p class="selected-ingredients-title">SELECIONADOS:</p>
            <div class="selected slider-horizontal">
            </div>
        </div>
        <div class="product-additional">
            <div>
                <p>Que tal oferecer adicionais?</p>
                <p>Aumente o ticket médio!</p>
            </div>
            <div class="selector">
                <p>Selecionar adicionais</p>
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 4H0L4 8L8 4Z" fill="var(--color-primary)" />
                </svg>
            </div>
        </div>
        <div class="selected-adittional">
            <p class="selected-adittional-title">SELECIONADOS:</p>
            <div class="selected slider-horizontal">
            </div>
        </div>
        <button id="save-product" class="save-product" style="margin-bottom: 25px;">Salvar</button>
    </div>
    <div class="product-preview">
        <div class="product-section">
            <div class="header">
                <img class="center-rel logo" src="{{logo}}">
            </div>
            <div class="main-area" data-simplebar>
                <input id="image-product-obj" name="file" class="file-upload" type="file" accept="image/png, image/jpeg" />
                <div class="image-uploaded"
                    style="background-size: cover;background-position: center center;background-repeat: no-repeat;">
                </div>
                <div class="image upload-area">
                    <img style="display: none;">
                    <div class="center-rel">
                        <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M32.9392 44.5623C32.9392 45.0762 32.7351 45.569 32.3717 45.9323C32.0084 46.2957 31.5156 46.4998 31.0017 46.4998C30.4879 46.4998 29.995 46.2957 29.6317 45.9323C29.2683 45.569 29.0642 45.0762 29.0642 44.5623V29.8644L24.6235 34.3091C24.2597 34.6729 23.7662 34.8772 23.2517 34.8772C22.7372 34.8772 22.2438 34.6729 21.88 34.3091C21.5162 33.9452 21.3118 33.4518 21.3118 32.9373C21.3118 32.4228 21.5162 31.9294 21.88 31.5655L29.63 23.8156C29.8099 23.6351 30.0237 23.492 30.2591 23.3943C30.4945 23.2966 30.7469 23.2463 31.0017 23.2463C31.2566 23.2463 31.5089 23.2966 31.7443 23.3943C31.9797 23.492 32.1935 23.6351 32.3735 23.8156L40.1235 31.5655C40.4873 31.9294 40.6917 32.4228 40.6917 32.9373C40.6917 33.4518 40.4873 33.9452 40.1235 34.3091C39.7597 34.6729 39.2662 34.8772 38.7517 34.8772C38.2372 34.8772 37.7438 34.6729 37.38 34.3091L32.9392 29.8644V44.5623Z"
                                fill="var(--color-primary)" />
                            <path
                                d="M54.25 54.25V17.4375L36.8125 0H15.5C13.4446 0 11.4733 0.816516 10.0199 2.26992C8.56652 3.72333 7.75 5.69457 7.75 7.75V54.25C7.75 56.3054 8.56652 58.2767 10.0199 59.7301C11.4733 61.1835 13.4446 62 15.5 62H46.5C48.5554 62 50.5267 61.1835 51.9801 59.7301C53.4335 58.2767 54.25 56.3054 54.25 54.25ZM36.8125 11.625C36.8125 13.1666 37.4249 14.645 38.5149 15.7351C39.605 16.8251 41.0834 17.4375 42.625 17.4375H50.375V54.25C50.375 55.2777 49.9667 56.2633 49.24 56.99C48.5133 57.7167 47.5277 58.125 46.5 58.125H15.5C14.4723 58.125 13.4867 57.7167 12.76 56.99C12.0333 56.2633 11.625 55.2777 11.625 54.25V7.75C11.625 6.72229 12.0333 5.73666 12.76 5.00996C13.4867 4.28326 14.4723 3.875 15.5 3.875H36.8125V11.625Z"
                                fill="var(--color-primary)" />
                        </svg>
                        <div>
                            <p>Adicione uma foto</p>
                            <p>Atraia os clientes com uma foto linda do seu produto!</p>
                            <p>(JPEG, PNG até 3MB)</p>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="title">
                        <span class="title-text">Nome do produto</span>
                        <div class="subdescription">
                            <div class="serve" style="display: none;">
                                <span>
                                    Serve 2 pessoas
                                </span>
                            </div>
                            <div class="quantidade" style="display: none;">
                                <span>
                                    600 g
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <span>Descrição do produto</span>
                    </div>
                </div>
                <div class="chooses ingredientes closed ingredient-preview" style="display: none;">
                    <div class="remove-ingredients">
                        <div class="title">
                            <span>
                                Deseja remover algum ingrediente?
                            </span>
                            <span style="display: none;">
                                Escolha uma opção. (obrigatório)
                            </span>
                        </div>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.78788 6.33333L4 8.10283L14 18L24 8.10283L22.2121 6.33333L14 14.461L5.78788 6.33333Z"
                                fill="#E4002B"></path>
                        </svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            style="display:none;">
                            <path
                                d="M5.78788 17.6667L4 15.8972L14 6L24 15.8972L22.2121 17.6667L14 9.53899L5.78788 17.6667Z"
                                fill="#E4002B"></path>
                        </svg>
                    </div>
                    <div class="itens">
                    </div>
                </div>
                <div class="chooses adittional-preview"></div>
            </div>
        </div>
    </div>
</div>
<div class="product-dropdown ingredient-details center-fix">
    <div class="product-dropdown-title">
        <p>Selecione os ingredientes do seu produto</p>
    </div>
    <div class="product-dropdown-search search-area">
        <input type="text" placeholder="Pesquisar...">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.4427 10.442C10.5356 10.349 10.6458 10.2752 10.7672 10.2249C10.8886 10.1746 11.0188 10.1487 11.1502 10.1487C11.2816 10.1487 11.4117 10.1746 11.5331 10.2249C11.6545 10.2752 11.7648 10.349 11.8577 10.442L15.7077 14.292C15.8953 14.4795 16.0008 14.7338 16.0009 14.9991C16.001 15.2644 15.8957 15.5188 15.7082 15.7065C15.5207 15.8941 15.2663 15.9996 15.001 15.9997C14.7358 15.9998 14.4813 15.8945 14.2937 15.707L10.4437 11.857C10.3507 11.7641 10.2769 11.6538 10.2266 11.5324C10.1763 11.411 10.1504 11.2809 10.1504 11.1495C10.1504 11.0181 10.1763 10.8879 10.2266 10.7665C10.2769 10.6451 10.3507 10.5348 10.4437 10.442H10.4427Z"
                    fill="var(--color-primary)" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                    fill="var(--color-primary)" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="16" height="16" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
    <div class="category-section">
        <div class="header-category slider-horizontal popup-body">
            {{categoryIngredient}}
        </div>
    </div>
    <div class="all-item">
        {{ingredientList}}
    </div>
    <div class="product-dropdown-buttons">
        <p>Cancelar</p>
        <p>Salvar ingredientes</p>
    </div>
</div>
<div class="product-dropdown product-details center-fix">
    <div class="product-dropdown-title">
        <p>Selecione os produtos do seu combo</p>
    </div>
    <div class="product-dropdown-search search-area">
        <input type="text" placeholder="Pesquisar...">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.4427 10.442C10.5356 10.349 10.6458 10.2752 10.7672 10.2249C10.8886 10.1746 11.0188 10.1487 11.1502 10.1487C11.2816 10.1487 11.4117 10.1746 11.5331 10.2249C11.6545 10.2752 11.7648 10.349 11.8577 10.442L15.7077 14.292C15.8953 14.4795 16.0008 14.7338 16.0009 14.9991C16.001 15.2644 15.8957 15.5188 15.7082 15.7065C15.5207 15.8941 15.2663 15.9996 15.001 15.9997C14.7358 15.9998 14.4813 15.8945 14.2937 15.707L10.4437 11.857C10.3507 11.7641 10.2769 11.6538 10.2266 11.5324C10.1763 11.411 10.1504 11.2809 10.1504 11.1495C10.1504 11.0181 10.1763 10.8879 10.2266 10.7665C10.2769 10.6451 10.3507 10.5348 10.4437 10.442H10.4427Z"
                    fill="var(--color-primary)" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                    fill="var(--color-primary)" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="16" height="16" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
    <div class="category-section">
        <div class="header-category slider-horizontal popup-body">
            {{productCategory}}
        </div>
    </div>
    <div class="all-item">
        {{productList}}
    </div>
    <div class="product-dropdown-buttons">
        <p>Cancelar</p>
        <p>Salvar produtos</p>
    </div>
</div>
<div class="product-dropdown adittional-details center-fix">
    <div class="product-dropdown-title">
        <p>Selecione opções de adicionais para o seu produto</p>
    </div>
    <div class="product-dropdown-search search-area">
        <input type="text" placeholder="Pesquisar...">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.4427 10.442C10.5356 10.349 10.6458 10.2752 10.7672 10.2249C10.8886 10.1746 11.0188 10.1487 11.1502 10.1487C11.2816 10.1487 11.4117 10.1746 11.5331 10.2249C11.6545 10.2752 11.7648 10.349 11.8577 10.442L15.7077 14.292C15.8953 14.4795 16.0008 14.7338 16.0009 14.9991C16.001 15.2644 15.8957 15.5188 15.7082 15.7065C15.5207 15.8941 15.2663 15.9996 15.001 15.9997C14.7358 15.9998 14.4813 15.8945 14.2937 15.707L10.4437 11.857C10.3507 11.7641 10.2769 11.6538 10.2266 11.5324C10.1763 11.411 10.1504 11.2809 10.1504 11.1495C10.1504 11.0181 10.1763 10.8879 10.2266 10.7665C10.2769 10.6451 10.3507 10.5348 10.4437 10.442H10.4427Z"
                    fill="var(--color-primary)" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                    fill="var(--color-primary)" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="16" height="16" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
    <div class="category-section">
        <div class="header-category slider-horizontal popup-body">
            {{categoryIngredient}}
        </div>
    </div>
    <div class="all-item">
        {{adittional}}
    </div>
    <div class="product-dropdown-buttons">
        <p>Cancelar</p>
        <p>Salvar Adicionais</p>
    </div>
</div>
<div class="loading-registering center-fix">
    <div class="loading-registering-title">
        <p>Cadastrando o produto</p>
        <svg class="not-wl" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            style="margin: auto; background: none; display: block; shape-rendering: auto;" width="40px" height="40px"
            viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#e15b64" stroke-width="10" r="35"
                stroke-dasharray="164.93361431346415 56.97787143782138">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s"
                    values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
            </circle>
        </svg>
    </div>
    <p class="loading-registering-message">Aguarde enquanto o produto está sendo cadastrado, não atualize a pagina
        durante o processo.</p>
</div>