<div class="sales-section center-rel-hor">
    <div class="options-search">
        <div class="segmented-control">
            <div class="selected">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path
                            d="M14.3667 1C14.6496 1 14.9209 1.10536 15.1209 1.29289C15.321 1.48043 15.4333 1.73478 15.4333 2V14C15.4333 14.2652 15.321 14.5196 15.1209 14.7071C14.9209 14.8946 14.6496 15 14.3667 15H2.63333C2.35044 15 2.07912 14.8946 1.87909 14.7071C1.67905 14.5196 1.56667 14.2652 1.56667 14V2C1.56667 1.73478 1.67905 1.48043 1.87909 1.29289C2.07912 1.10536 2.35044 1 2.63333 1H14.3667ZM2.63333 0C2.06754 0 1.52492 0.210714 1.12484 0.585786C0.724761 0.960859 0.5 1.46957 0.5 2V14C0.5 14.5304 0.724761 15.0391 1.12484 15.4142C1.52492 15.7893 2.06754 16 2.63333 16H14.3667C14.9325 16 15.4751 15.7893 15.8752 15.4142C16.2752 15.0391 16.5 14.5304 16.5 14V2C16.5 1.46957 16.2752 0.960859 15.8752 0.585786C15.4751 0.210714 14.9325 0 14.3667 0L2.63333 0Z"
                            fill="#FCFCFC" />
                        <path
                            d="M3.25 4C3.25 3.72386 3.41789 3.5 3.625 3.5H4.375C4.58211 3.5 4.75 3.72386 4.75 4V12C4.75 12.2761 4.58211 12.5 4.375 12.5H3.625C3.41789 12.5 3.25 12.2761 3.25 12V4Z"
                            fill="#FCFCFC" />
                        <path
                            d="M6.25 4C6.25 3.72386 6.41789 3.5 6.625 3.5H7.375C7.58211 3.5 7.75 3.72386 7.75 4V10C7.75 10.2761 7.58211 10.5 7.375 10.5H6.625C6.41789 10.5 6.25 10.2761 6.25 10V4Z"
                            fill="#FCFCFC" />
                        <path
                            d="M9.25 4C9.25 3.72386 9.41789 3.5 9.625 3.5H10.375C10.5821 3.5 10.75 3.72386 10.75 4V8C10.75 8.27614 10.5821 8.5 10.375 8.5H9.625C9.41789 8.5 9.25 8.27614 9.25 8V4Z"
                            fill="#FCFCFC" />
                        <path
                            d="M12.25 4C12.25 3.72386 12.4179 3.5 12.625 3.5H13.375C13.5821 3.5 13.75 3.72386 13.75 4V12C13.75 12.2761 13.5821 12.5 13.375 12.5H12.625C12.4179 12.5 12.25 12.2761 12.25 12V4Z"
                            fill="#FCFCFC" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="16" height="16" fill="white" transform="translate(0.5)" />
                        </clipPath>
                    </defs>
                </svg>
                <p>Todos</p>
            </div>
            <div type="delivery">
                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.0557 6.57727C12.0757 6.57727 12.1007 6.58225 12.1207 6.58225V6.57727H12.0557Z"
                        fill="#F16B24" />
                    <path
                        d="M19.4753 11.9745C19.4373 11.6557 19.3443 11.346 19.2003 11.0591C18.9376 10.5219 18.5132 10.0805 17.9868 9.79701C17.4604 9.51351 16.8584 9.40211 16.2655 9.47846C16.073 9.50387 15.8837 9.54913 15.7005 9.61351L14.6256 7.70273C14.7306 7.73759 14.84 7.75779 14.9505 7.76276C15.0469 7.77093 15.144 7.75901 15.2355 7.72774C15.3805 7.67272 15.1855 6.68232 15.1505 6.41221C15.1105 6.11709 15.0605 5.86698 15.0305 5.51684C15.0302 5.49753 15.0251 5.4786 15.0155 5.46182C15.0082 5.44523 14.996 5.43126 14.9805 5.4218C14.9553 5.39656 14.9212 5.3822 14.8855 5.38179C14.8755 5.38179 14.8705 5.38679 14.8655 5.38679C14.6198 5.41774 14.3903 5.52639 14.2106 5.69692C14.0294 5.86887 13.9055 6.09239 13.8556 6.33718L13.7006 6.06206L13.3106 5.36678C13.2956 5.34677 13.2856 5.32676 13.2656 5.30175C13.2506 5.28175 13.2356 5.26674 13.2206 5.24673C13.1593 5.18563 13.0837 5.14091 13.0006 5.11668C12.9282 5.09251 12.8512 5.08566 12.7756 5.09667L12.5307 5.12668C12.5307 5.13169 12.5357 5.13669 12.5357 5.14169C12.5939 5.33378 12.5791 5.54061 12.4942 5.72248C12.4093 5.90434 12.2603 6.04843 12.0757 6.12709C12.0557 6.13209 12.0357 6.1421 12.0157 6.1471C11.8213 6.19553 11.6198 6.20907 11.4207 6.18712H11.3507C11.5307 6.3922 11.8457 6.30716 12.0757 6.27215C12.2157 6.24714 12.3507 6.22713 12.4907 6.20712L12.5507 6.19712L12.5557 6.21213L12.7656 6.57727C12.3857 6.57727 12.0057 6.57227 11.6257 6.57727C11.5757 6.57727 11.5257 6.58225 11.4707 6.58225C11.4257 6.58225 11.3757 6.57727 11.3307 6.57727H10.3958C10.3657 6.57645 10.3356 6.57811 10.3058 6.58225C10.1593 6.59329 10.0174 6.63778 9.89078 6.7123C9.81059 6.75729 9.73803 6.81469 9.67577 6.88237L9.91576 6.9374C10.1607 6.99242 10.3907 7.04744 10.5257 7.07745C10.5557 7.08243 10.5807 7.08746 10.5807 7.09246H10.6007L10.6557 7.10246L10.6757 7.11247C10.7207 7.12747 10.7607 7.14248 10.7957 7.15749L10.8557 7.1875C11.1193 7.31932 11.3231 7.54638 11.4257 7.82276C11.5309 8.10777 11.5255 8.42186 11.4107 8.70312L9.81079 12.4847C9.75075 12.6277 9.6623 12.757 9.5508 12.8648C9.44058 12.9744 9.30973 13.0611 9.16582 13.1199C9.0224 13.1759 8.86981 13.2048 8.71584 13.2049C8.56078 13.2043 8.40741 13.1726 8.26484 13.1116C8.12227 13.0506 7.9934 12.9616 7.88588 12.8498C7.77935 12.7362 7.69461 12.6039 7.63589 12.4596C7.57796 12.3167 7.54906 12.1637 7.55089 12.0094C7.55445 11.8548 7.58666 11.7021 7.64589 11.5593L8.58584 9.33335L7.12591 8.9632C6.87546 8.90354 6.64574 8.77739 6.46095 8.59805C6.33519 8.47225 6.23052 8.32699 6.15096 8.16787C6.07071 8.19612 5.98603 8.20968 5.90097 8.20789C5.81802 8.20855 5.73544 8.19675 5.65598 8.1729L2.68112 7.26255L1.73617 6.97744C1.71121 7.01655 1.69107 7.05854 1.67617 7.10249L1.63117 7.27256L1.54618 7.6127C1.53789 7.65215 1.53453 7.69248 1.53618 7.73277C1.54421 7.77276 1.55767 7.81147 1.57618 7.84782C1.59881 7.88269 1.62568 7.91461 1.65617 7.94286C1.69083 7.96363 1.72773 7.98041 1.76617 7.99288L1.88616 8.02789L3.79607 8.5431L3.81107 8.5481L4.96102 8.91325C4.9806 8.91851 4.99918 8.92696 5.01601 8.93826L4.57104 9.58853L4.45604 9.75359C4.1168 9.60718 3.75053 9.53389 3.38109 9.53851C2.8522 9.5393 2.33357 9.68459 1.88116 9.95868C1.42914 10.2374 1.06203 10.6346 0.819649 11.1072C0.577269 11.5798 0.468876 12.1099 0.506228 12.6397C0.541322 13.1699 0.721178 13.6803 1.0262 14.1153C1.33272 14.5468 1.74864 14.8886 2.23115 15.1057C2.71565 15.3163 3.24885 15.389 3.77199 15.3157C4.29513 15.2424 4.7879 15.0261 5.19601 14.6906C5.60543 14.3513 5.91481 13.9069 6.09096 13.4051C6.20544 13.0963 6.26139 12.7689 6.25596 12.4397C6.25596 12.3796 6.25596 12.3196 6.25096 12.2596C6.23205 11.8835 6.13499 11.5156 5.96597 11.1791C5.941 11.1183 5.91089 11.0598 5.87597 11.0041C5.86097 10.9741 5.84098 10.9491 5.82598 10.919C5.70275 10.7208 5.5586 10.5363 5.396 10.3688L5.68598 9.92864L5.93597 9.55349L6.05596 9.67356C6.09096 9.70854 6.12596 9.74359 6.15596 9.7786C6.19096 9.81862 6.22096 9.85363 6.25596 9.89365C6.28595 9.93367 6.31595 9.96868 6.35095 10.0137C6.50399 10.2141 6.63791 10.4285 6.75093 10.654C6.77132 10.693 6.78967 10.7331 6.80593 10.774C6.85593 10.8791 6.90093 10.9841 6.94092 11.0941C6.96092 11.1492 6.98092 11.2042 7.00092 11.2642L7.03092 11.3542C7.06592 11.4593 7.09092 11.5693 7.11591 11.6694C7.13591 11.7544 7.15591 11.8394 7.17094 11.9195C7.18094 11.9695 7.19094 12.0245 7.19594 12.0745C7.25171 12.3982 7.27516 12.7266 7.26593 13.0549C7.26578 13.1454 7.29568 13.2334 7.35093 13.305C7.40487 13.3688 7.47604 13.4157 7.55592 13.4401C7.59027 13.4484 7.62562 13.4517 7.66091 13.4501H8.82086C9.07085 13.4501 9.32583 13.4451 9.57582 13.4451C10.0253 13.4937 10.4801 13.4477 10.9108 13.31C11.2899 13.137 11.6011 12.8433 11.7957 12.4747L12.2357 11.6643L12.5407 11.1191L13.4656 9.63352L13.4906 9.5935L13.5256 9.53848L13.7256 9.22335L13.7656 9.15833L13.7956 9.0983C13.8106 9.06829 13.8256 9.03828 13.8406 9.00326C13.8567 8.9699 13.8685 8.93459 13.8756 8.89822C13.8974 8.81148 13.9091 8.72253 13.9106 8.63311V8.6131L14.7756 10.1487C14.7406 10.1787 14.7106 10.2038 14.6756 10.2338C14.3185 10.5746 14.0521 10.9993 13.9006 11.4693C13.7559 11.9426 13.7302 12.4442 13.8256 12.9299C13.9247 13.4133 14.1458 13.8634 14.4678 14.2372C14.7899 14.6111 15.2022 14.8963 15.6655 15.0657C16.1277 15.2329 16.6253 15.2774 17.1099 15.195C17.5944 15.1126 18.0493 14.9061 18.4304 14.5955C18.8133 14.2863 19.1096 13.883 19.2903 13.4251C19.4758 12.9655 19.5396 12.4659 19.4753 11.9745ZM4.99602 13.1199C4.81919 13.5517 4.4798 13.8966 4.05106 14.0803C3.83871 14.1693 3.6113 14.2169 3.38109 14.2204C3.09234 14.2189 2.8084 14.1463 2.55434 14.009C2.30027 13.8717 2.08389 13.674 1.92429 13.4333C1.76469 13.1925 1.66678 12.9162 1.6392 12.6286C1.61163 12.341 1.65523 12.0511 1.76617 11.7844C1.85594 11.5721 1.98484 11.3787 2.14615 11.2142C2.30798 11.0496 2.50202 10.9202 2.71612 10.834C2.92631 10.7443 3.15257 10.6983 3.38109 10.699C3.51972 10.6969 3.65789 10.7154 3.79107 10.754L2.93111 12.0745C2.88817 12.1364 2.85761 12.2061 2.84112 12.2796C2.82941 12.3524 2.82773 12.4264 2.83612 12.4997C2.85402 12.5704 2.88268 12.6378 2.92111 12.6998C2.96046 12.7608 3.01143 12.8135 3.07111 12.8548C3.16084 12.9204 3.27003 12.9539 3.38109 12.9499C3.47399 12.9498 3.56528 12.9257 3.64608 12.8798C3.72623 12.8346 3.79471 12.7712 3.84607 12.6948L4.74603 11.3492C4.99362 11.6585 5.12773 12.0434 5.12601 12.4397C5.12837 12.6728 5.08417 12.9041 4.99602 13.1199ZM18.3404 12.6698C18.2722 13.0311 18.0921 13.3618 17.8256 13.6149C17.5591 13.8681 17.2197 14.0309 16.8555 14.0803C16.502 14.1257 16.1432 14.0606 15.8282 13.8941C15.5131 13.7275 15.2572 13.4676 15.0955 13.15C14.9368 12.8313 14.8743 12.4732 14.9155 12.1195C14.9617 11.7662 15.1133 11.4349 15.3505 11.1691L16.1105 12.5147C16.1444 12.5751 16.1903 12.6279 16.2455 12.6698C16.3005 12.7131 16.3633 12.7453 16.4305 12.7648C16.4986 12.7847 16.5702 12.7898 16.6405 12.7798C16.7091 12.7711 16.7753 12.749 16.8355 12.7148C16.8979 12.6816 16.9526 12.6355 16.9957 12.5794C17.0389 12.5233 17.0695 12.4586 17.0854 12.3896C17.1044 12.3213 17.1112 12.2502 17.1054 12.1796C17.0942 12.1108 17.0704 12.0447 17.0354 11.9845L16.2755 10.6339C16.32 10.6232 16.3651 10.6148 16.4105 10.6089C16.4305 10.6089 16.4455 10.6039 16.4655 10.6039C16.8125 10.569 17.1618 10.6424 17.4654 10.814C17.7902 10.9876 18.0486 11.2636 18.2004 11.5993C18.3608 11.9318 18.4099 12.3072 18.3404 12.6698Z"
                        fill="#F16B24" />
                    <path d="M12.1207 6.57727V6.58225C12.1007 6.58225 12.0757 6.57727 12.0557 6.57727H12.1207Z"
                        fill="#F16B24" />
                    <path d="M11.4007 6.57727V6.58228C11.3757 6.58228 11.3557 6.57727 11.3307 6.57727L11.4007 6.57727Z"
                        fill="#F16B24" />
                    <path
                        d="M12.1757 5.60188C12.1151 5.71244 12.0133 5.79452 11.8924 5.83014C11.7715 5.86577 11.6415 5.85203 11.5307 5.79195L11.2407 5.63189L11.1757 5.59688L10.5258 5.24173L9.43081 4.60647L8.64584 7.16251L8.69084 7.17252C8.70084 7.17252 9.03082 7.24755 9.41581 7.33758V7.33258C9.74079 7.40761 10.1008 7.48765 10.3308 7.5477C10.3608 7.55268 10.3908 7.56271 10.4208 7.56771C10.4358 7.56771 10.4508 7.57271 10.4658 7.57271L10.4808 7.57771C10.4908 7.57771 10.4958 7.57771 10.4958 7.58269L10.5108 7.58769C10.5408 7.5977 10.5708 7.6027 10.5958 7.6127C10.6008 7.6177 10.6108 7.62271 10.6158 7.62771C10.6947 7.66608 10.7659 7.71864 10.8258 7.78277C10.8813 7.84818 10.9253 7.92262 10.9557 8.00286C11.0191 8.16562 11.0174 8.34659 10.9507 8.50806L9.35081 12.2896C9.31747 12.373 9.26627 12.4482 9.20082 12.5097C9.136 12.5699 9.06166 12.6189 8.98083 12.6547C8.90099 12.6914 8.81359 12.7085 8.72584 12.7048H8.72084C8.63108 12.7068 8.54208 12.688 8.46085 12.6497C8.37964 12.615 8.30645 12.564 8.24586 12.4997C8.21366 12.468 8.18515 12.4328 8.16086 12.3946C8.13497 12.3579 8.11475 12.3174 8.10087 12.2746C8.06657 12.1922 8.04955 12.1037 8.05087 12.0145C8.05176 11.925 8.07046 11.8366 8.10587 11.7544L9.25081 9.03828L9.27081 8.99326V8.98826L7.24591 8.47305H7.24091C7.16053 8.45356 7.08317 8.42327 7.01092 8.38301C6.93558 8.34335 6.86651 8.29279 6.80593 8.23295C6.7739 8.20666 6.74534 8.1764 6.72093 8.14291C6.69043 8.11217 6.66511 8.0767 6.64594 8.03787C6.61138 7.98704 6.58443 7.93143 6.56594 7.8728V7.8678C6.56094 7.84779 6.55094 7.82778 6.54594 7.80778C6.52415 7.72274 6.51241 7.63544 6.51094 7.54767C6.50952 7.50906 6.51288 7.47041 6.52094 7.43262C6.51936 7.4121 6.52279 7.3915 6.53094 7.3726C6.5306 7.36398 6.53232 7.35541 6.53594 7.34759C6.54094 7.33758 6.54094 7.32758 6.54594 7.31758V7.30757C6.55594 7.28756 6.56594 7.24255 6.58594 7.17752L6.61594 7.07748C6.62094 7.05747 6.63094 7.03746 6.63594 7.01245V7.00745C6.63594 7.00245 6.64094 6.99745 6.64094 6.98744C6.67594 6.88743 6.71093 6.76738 6.75093 6.63732C6.90592 6.13212 7.12091 5.44184 7.29091 4.8716C7.31091 4.80158 7.3359 4.73155 7.3559 4.66652L7.4659 4.30137C7.4759 4.26636 7.4859 4.23635 7.4959 4.20633L7.54589 4.04127C7.55718 4.0156 7.56557 3.98876 7.57089 3.96123L7.58589 3.91622C7.59089 3.89121 7.60089 3.8762 7.60089 3.86619C7.60589 3.85619 7.61089 3.85119 7.61089 3.84619C7.64229 3.7133 7.70198 3.58875 7.78588 3.48104C7.85205 3.39987 7.93151 3.33052 8.02087 3.27595C8.04596 3.25967 8.07279 3.24625 8.10087 3.23594C8.22628 3.18451 8.36031 3.15735 8.49585 3.15591H8.56085C8.71297 3.16675 8.86115 3.20935 8.99583 3.28096L11.0357 4.43643L11.1307 4.48645L11.6907 4.79155L11.9857 4.95161C12.0966 5.01305 12.1789 5.11584 12.2144 5.23763C12.25 5.35941 12.2361 5.49032 12.1757 5.60188Z"
                        fill="#F16B24" />
                    <path d="M13.7057 6.06206L13.7006 6.06206L13.3106 5.36678L13.7057 6.06206Z" fill="#F16B24" />
                    <path
                        d="M7.21426 3.16288C7.21917 3.2068 7.21405 3.25127 7.19926 3.29291L7.11426 3.57803C7.08572 3.64278 7.06232 3.70968 7.04427 3.77811C7.03427 3.81813 7.01927 3.85814 7.00927 3.89816C6.99927 3.93317 6.98927 3.97319 6.97927 4.0082L6.93927 4.13823L6.93427 4.14323C6.92032 4.18254 6.90863 4.22263 6.89927 4.26328V4.26828C6.87928 4.3183 6.86928 4.36832 6.85428 4.41334C6.84448 4.43613 6.83613 4.45951 6.82928 4.48335L6.76428 4.69343L6.68429 4.95854L6.64929 5.06858L6.55429 5.38371L6.3193 6.13902L6.2793 6.27408L6.24431 6.39412L6.22931 6.45415C6.22732 6.46296 6.22394 6.4714 6.21931 6.47916L6.17431 6.60921L6.14931 6.69925C6.13931 6.74427 6.12431 6.78428 6.11431 6.8193V6.8293C6.10132 6.85823 6.09127 6.88839 6.08431 6.91934H6.07931L5.90932 7.46956C5.88056 7.55694 5.81983 7.6302 5.73933 7.67465C5.72871 7.68092 5.71666 7.68436 5.70433 7.68465C5.66707 7.70295 5.6258 7.71156 5.58434 7.70966C5.55042 7.70995 5.51666 7.70488 5.48432 7.69465L2.50946 6.78428L1.46951 6.46916C1.42766 6.4544 1.38873 6.43239 1.35451 6.40413C1.31985 6.37673 1.29096 6.34273 1.26952 6.30409C1.25035 6.26488 1.23849 6.2225 1.23452 6.17904C1.23019 6.13544 1.23357 6.09141 1.24452 6.04898V6.04398L2.53946 1.86728C2.56442 1.79592 2.60959 1.73335 2.66945 1.68721C2.7269 1.64797 2.79488 1.62704 2.86444 1.62718H2.88444C2.90944 1.63218 2.93944 1.63719 2.96444 1.64219L6.97925 2.87269C7.0217 2.88355 7.06106 2.90409 7.09424 2.93271C7.12649 2.96118 7.15356 2.99503 7.17424 3.03276C7.17924 3.03776 7.17924 3.04276 7.18424 3.05276C7.20174 3.087 7.21196 3.1245 7.21426 3.16288Z"
                        fill="#F16B24" />
                    <path
                        d="M6.54094 7.31758C6.54594 7.31758 6.54594 7.31257 6.54594 7.30757V7.31758C6.54094 7.32758 6.54094 7.33758 6.53594 7.34759C6.53515 7.33733 6.53686 7.32703 6.54094 7.31758Z"
                        fill="#F16B24" />
                    <path
                        d="M6.80593 8.23295C6.86651 8.29279 6.93558 8.34335 7.01092 8.38301C6.93575 8.34514 6.86666 8.29625 6.80593 8.23795V8.23295Z"
                        fill="#F16B24" />
                    <path d="M9.27081 8.98826V8.99326L7.24591 8.47305L9.27081 8.98826Z" fill="#F16B24" />
                    <path
                        d="M10.7363 2.15135L10.7362 2.15635C10.7368 2.16104 10.7361 2.16579 10.7343 2.17014C10.7325 2.17449 10.7296 2.1783 10.7259 2.18121C10.7208 2.18614 10.7158 2.18607 10.7057 2.19093C10.7007 2.19086 10.6908 2.18571 10.6858 2.18564L10.1253 1.8724C10.1069 1.86248 10.0864 1.85704 10.0655 1.85652C10.0455 1.8529 10.0248 1.85433 10.0054 1.86066C9.98469 1.86528 9.96556 1.87537 9.95003 1.88987C9.93275 1.90077 9.91871 1.91611 9.90938 1.93429L9.71939 2.28173C9.70481 2.3096 9.69587 2.34007 9.69309 2.3714C9.68855 2.40173 9.69154 2.4327 9.70179 2.4616C9.71138 2.49093 9.72624 2.51826 9.74564 2.54226C9.76135 2.56853 9.78587 2.58839 9.81484 2.59828L10.4646 2.96284C10.4772 2.97175 10.4888 2.98198 10.4992 2.99335C10.5084 3.00665 10.5134 3.0224 10.5136 3.03857L10.5126 3.10359C10.5019 3.19285 10.4698 3.27819 10.419 3.35238C10.4089 3.36224 10.4037 3.37218 10.3937 3.37705C10.3447 3.43657 10.2823 3.48367 10.2117 3.51448C10.2017 3.51433 10.1967 3.51426 10.1916 3.51919C10.1791 3.52526 10.1654 3.52848 10.1515 3.52863C10.1325 3.53649 10.1118 3.53962 10.0913 3.53775C10.0578 3.53495 10.0254 3.5242 9.99678 3.50637L9.73379 3.36252C9.70129 3.33984 9.66636 3.32088 9.62965 3.30597L8.87558 2.88988C8.85958 2.88142 8.84461 2.87113 8.83098 2.85922C8.72553 2.79544 8.6375 2.70653 8.57475 2.60042C8.51523 2.50782 8.47742 2.40294 8.46415 2.29365C8.45372 2.20894 8.45328 2.1233 8.46285 2.0385C8.4699 1.94807 8.4897 1.8591 8.52165 1.77423C8.6055 1.52166 8.77714 1.30758 9.00537 1.17087C9.23101 1.02977 9.49938 0.973376 9.76269 1.01173L9.77269 1.01187C10.0434 1.0541 10.2899 1.19255 10.4669 1.40183C10.6439 1.61112 10.7395 1.87722 10.7363 2.15135Z"
                        fill="#F16B24" />
                    <path
                        d="M2.88437 1.66796C2.85205 1.69955 2.82529 1.73636 2.8052 1.77685C2.82466 1.73599 2.8515 1.69907 2.88437 1.66796Z"
                        fill="#F16B24" />
                </svg>
                <p>Delivery</p>
            </div>
            <div type="menu">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path
                            d="M13.4811 12.3824C12.9215 11.6467 12.2321 10.5974 11.1296 10.5974C10.0258 10.5974 8.24422 10.5974 8.24422 10.5974C7.77517 10.5974 7.39593 10.9766 7.39593 11.4463C7.39593 11.9147 7.77517 12.2946 8.24422 12.2946H9.72872C9.91592 12.2946 10.0679 12.4466 10.0679 12.6338V12.6905C10.0679 12.8777 9.91592 13.0296 9.72872 13.0296H7.23497L4.16926 10.3148C3.8888 10.0668 3.45982 10.0931 3.21114 10.3736C2.96246 10.654 2.98871 11.083 3.26916 11.3317C3.26916 11.3317 6.34939 15.1075 6.75971 15.1075L10.776 15.1068L12.5437 16L14.9075 14.2689C14.9069 14.2689 14.6934 13.9767 13.4811 12.3824Z"
                            fill="var(--color-primary)" />
                        <path d="M14.7396 8.39856H2.0892V9.32629H14.7396V8.39856Z" fill="var(--color-primary)" />
                        <path
                            d="M14.0108 7.76031C14.0281 7.57448 14.0392 7.38728 14.0392 7.19732C14.0392 4.48874 12.125 2.22917 9.57599 1.69312C9.62919 1.55496 9.66165 1.40575 9.66165 1.24825C9.66165 0.560228 9.10142 0 8.4134 0C7.72538 0 7.16515 0.560228 7.16515 1.24825C7.16515 1.40575 7.19761 1.55427 7.2508 1.69312C4.70249 2.22848 2.78763 4.48874 2.78763 7.19732C2.78763 7.38728 2.7973 7.57518 2.81595 7.76031H14.0108ZM7.98856 1.24894C7.98856 1.01408 8.17922 0.823419 8.41409 0.823419C8.64896 0.823419 8.83962 1.01408 8.83962 1.24894C8.83962 1.38848 8.76777 1.50661 8.66277 1.58467C8.57988 1.58052 8.49837 1.57154 8.41409 1.57154C8.32981 1.57154 8.24761 1.58052 8.16472 1.58467C8.05972 1.50661 7.98856 1.38848 7.98856 1.24894Z"
                            fill="var(--color-primary)" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="16" height="16" fill="white" transform="translate(0.5)" />
                        </clipPath>
                    </defs>
                </svg>
                <p>Mesas</p>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Pesquise pelo nome do cliente ou código do pedido">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.4427 10.442C10.5356 10.349 10.6458 10.2752 10.7672 10.2249C10.8886 10.1746 11.0188 10.1487 11.1502 10.1487C11.2816 10.1487 11.4117 10.1746 11.5331 10.2249C11.6545 10.2752 11.7648 10.349 11.8577 10.442L15.7077 14.292C15.8953 14.4795 16.0008 14.7338 16.0009 14.9991C16.001 15.2644 15.8957 15.5188 15.7082 15.7065C15.5207 15.8941 15.2663 15.9996 15.001 15.9997C14.7358 15.9998 14.4813 15.8945 14.2937 15.707L10.4437 11.857C10.3507 11.7641 10.2769 11.6538 10.2266 11.5324C10.1763 11.411 10.1504 11.2809 10.1504 11.1495C10.1504 11.0181 10.1763 10.8879 10.2266 10.7665C10.2769 10.6451 10.3507 10.5348 10.4437 10.442H10.4427Z"
                        fill="var(--color-primary)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                        fill="var(--color-primary)" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="16" height="16" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
    <div class="status-filter">
        <div class="print">
            <svg class="not-wl order-blink" width="8" height="8" viewBox="0 0 8 8" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="#25A65B" />
            </svg>
            <p>Impressão de vendas</p>
            <label class='cl-switch cl-switch-green'>
                <input class='enabled-obj' type='checkbox' checked>
                <span class='switcher'></span>
            </label>
        </div>
        <div class="ordening">
            <p>{{cont}}</p>
            <p>Pedidos</p>
            <button class="dropdown-toggle ordening-button" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <svg class="not-wl" width="14" height="16" viewBox="0 0 14 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3.11111 7.2H4.66667V8.8H3.11111V7.2ZM14 3.2V14.4C14 15.28 13.3 16 12.4444 16H1.55556C0.692222 16 0 15.28 0 14.4L0.00777777 3.2C0.00777777 2.32 0.692222 1.6 1.55556 1.6H2.33333V0H3.88889V1.6H10.1111V0H11.6667V1.6H12.4444C13.3 1.6 14 2.32 14 3.2ZM1.55556 4.8H12.4444V3.2H1.55556V4.8ZM12.4444 14.4V6.4H1.55556V14.4H12.4444ZM9.33333 8.8H10.8889V7.2H9.33333V8.8ZM6.22222 8.8H7.77778V7.2H6.22222V8.8Z"
                        fill="#FCFCFC" />
                </svg>
                <p>{{chosed}}</p>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start"
                style="position: absolute; transform: translate3d(123px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item ordering-item" href="{{URL}}/vendas?o=0">Hoje</a>
                <a class="dropdown-item ordering-item" href="{{URL}}/vendas?o=1">Nesta semana</a>
                <a class="dropdown-item ordering-item" href="{{URL}}/vendas?o=2">Neste mês</a>
                <a class="dropdown-item ordering-item" href="{{URL}}/vendas?o=3">Todos</a>
            </div>
        </div>
    </div>
    <div class="kanban">
        <div class="kanban-column">
            <div class="kanban-header">
                <div class="kanban-header-default">
                    <div class="kanban-header-title">
                        <div>
                            <p class="title-text">Novos</p>
                        </div>
                        {{qtdOrders}}
                    </div>
                </div>
                <div class="kanban-header-search">
                    <input type="text" placeholder="Insira o novo título...">
                </div>
            </div>
            <div class="kanban-body" data-simplebar>
                {{1}}
                <svg class="not-wl placeholder" width="119" height="118" viewBox="0 0 119 118" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M73.6936 47.3359L59.4322 0.669189L45.1708 47.3359H0.743164L37.013 73.0609L23.2211 117.336L59.4322 89.9775L95.702 117.336L81.9101 73.0609L118.121 47.3359H73.6936Z"
                        fill="#F5F5F5" />
                </svg>
                <div class="kanban-back-top">
                    <p>Voltar ao topo</p>
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.13558 6.62412C1.0926 6.58432 1.0585 6.53704 1.03524 6.48499C1.01198 6.43293 1 6.37713 1 6.32077C1 6.26441 1.01198 6.20861 1.03524 6.15656C1.0585 6.1045 1.0926 6.05722 1.13558 6.01742L6.67339 0.875877C6.71626 0.835976 6.76718 0.804319 6.82325 0.782719C6.87932 0.761118 6.93942 0.75 7.00012 0.75C7.06082 0.75 7.12093 0.761118 7.17699 0.782719C7.23306 0.804319 7.28398 0.835976 7.32685 0.875877L12.8647 6.01742C12.9513 6.09787 13 6.20699 13 6.32077C13 6.43455 12.9513 6.54367 12.8647 6.62412C12.778 6.70458 12.6605 6.74978 12.5379 6.74978C12.4154 6.74978 12.2979 6.70458 12.2112 6.62412L7.00012 1.78507L1.78904 6.62412C1.74617 6.66402 1.69525 6.69568 1.63918 6.71728C1.58312 6.73888 1.52301 6.75 1.46231 6.75C1.40161 6.75 1.3415 6.73888 1.28544 6.71728C1.22937 6.69568 1.17845 6.66402 1.13558 6.62412Z"
                            fill="var(--color-primary)" stroke="var(--color-primary)" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="kanban-column">
            <div class="kanban-header">
                <div class="kanban-header-default">
                    <div class="kanban-header-title">
                        <div>
                            <p class="title-text">{{t1}}</p>
                            <p class="title-text-sub" style="display: {{ct1}};">{{st1}}</p>
                        </div>
                    </div>
                    <button data-toggle="dropdown">
                        <svg width="24" height="40" viewBox="0 0 24 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M22 16C23.1 16 24 15.1 24 14C24 12.9 23.1 12 22 12C20.9 12 20 12.9 20 14C20 15.1 20.9 16 22 16ZM22 18C20.9 18 20 18.9 20 20C20 21.1 20.9 22 22 22C23.1 22 24 21.1 24 20C24 18.9 23.1 18 22 18ZM22 24C20.9 24 20 24.9 20 26C20 27.1 20.9 28 22 28C23.1 28 24 27.1 24 26C24 24.9 23.1 24 22 24Z"
                                fill="var(--color-primary)" />
                        </svg>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item edit-title-kanban">Editar título</a>
                        <a class="dropdown-item restore-title-kanban" pos="1">Restaurar título</a>
                    </div>
                </div>
                <div class="kanban-header-search">
                    <input type="text" placeholder="Insira o novo título..." pos="1">
                </div>
            </div>
            <div class="kanban-body" data-simplebar>
                {{2}}
                <svg class="not-wl placeholder" width="92" height="164" viewBox="0 0 92 164" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M45.4986 -0.000318393C50.0283 -0.261719 54.5208 0.943225 58.2942 3.43168C62.0677 5.92014 64.9163 9.55628 66.4077 13.7884C70.3382 14.2865 73.9636 16.1417 76.6422 19.0257C79.3209 21.9098 80.88 25.6367 81.0438 29.5469C81.0966 33.7278 79.6597 37.7941 76.9843 41.0347C74.3088 44.2754 70.5651 46.4843 66.4077 47.2751V59.0939H24.5895V47.2751C20.4321 46.4842 16.6884 44.2754 14.0129 41.0347C11.3375 37.7941 9.90049 33.7278 9.95317 29.5469C10.1171 25.6367 11.6763 21.9098 14.355 19.0258C17.0336 16.1417 20.659 14.2865 24.5895 13.7884C26.081 9.55627 28.9295 5.92013 32.703 3.43167C36.4765 0.943213 40.9689 -0.261727 45.4986 -0.000318393V-0.000318393ZM64.7087 63.0336C65.8385 65.51 66.4179 68.1968 66.4077 70.913C66.277 76.2624 64.0013 81.3418 60.0808 85.0352C56.1602 88.7287 50.9154 90.7341 45.4986 90.6109C40.0818 90.7341 34.837 88.7287 30.9165 85.0352C26.9959 81.3418 24.7203 76.2624 24.5895 70.913C24.5793 68.1968 25.1586 65.51 26.2884 63.0336H64.7087ZM30.837 102.07L48.9944 119.176C49.3697 119.53 49.6684 119.955 49.8725 120.426C50.0766 120.897 50.1818 121.403 50.1818 121.916V160.214C50.1818 161.218 49.7779 162.181 49.059 162.891C48.3401 163.601 47.3651 164 46.3485 164H3.83333C2.81667 164 1.84165 163.601 1.12276 162.891C0.403868 162.181 0 161.218 0 160.214L0 122.634C0 112.714 11.5823 104.709 27.2975 101.097C27.9229 100.959 28.5733 100.976 29.1907 101.146C29.8082 101.315 30.3737 101.633 30.837 102.07V102.07ZM37.6364 118.694C36.8554 118.73 36.1024 118.992 35.4707 119.448C34.8391 119.903 34.3566 120.531 34.0831 121.254C33.8096 121.978 33.7572 122.764 33.9322 123.517C34.1073 124.269 34.5022 124.955 35.0679 125.488C35.6336 126.021 36.3453 126.378 37.1147 126.515C37.8841 126.652 38.6774 126.563 39.3962 126.26C40.115 125.956 40.7276 125.45 41.1581 124.806C41.5887 124.161 41.8182 123.406 41.8182 122.634C41.792 121.564 41.3369 120.548 40.5528 119.809C39.7687 119.071 38.7197 118.669 37.6364 118.694V118.694ZM37.6364 132.483C36.8554 132.519 36.1024 132.781 35.4707 133.236C34.8391 133.691 34.3566 134.319 34.0831 135.043C33.8096 135.766 33.7572 136.553 33.9322 137.305C34.1073 138.058 34.5022 138.743 35.0679 139.276C35.6336 139.809 36.3453 140.167 37.1147 140.304C37.8841 140.441 38.6774 140.352 39.3962 140.048C40.115 139.744 40.7276 139.239 41.1581 138.594C41.5887 137.95 41.8182 137.195 41.8182 136.422C41.792 135.353 41.3369 134.337 40.5528 133.598C39.7687 132.859 38.7197 132.458 37.6364 132.483V132.483ZM37.6364 146.271C36.8554 146.308 36.1024 146.57 35.4707 147.025C34.8391 147.48 34.3566 148.108 34.0831 148.831C33.8096 149.555 33.7572 150.342 33.9322 151.094C34.1073 151.847 34.5022 152.532 35.0679 153.065C35.6336 153.598 36.3453 153.955 37.1147 154.092C37.8841 154.23 38.6774 154.141 39.3962 153.837C40.115 153.533 40.7276 153.027 41.1581 152.383C41.5887 151.738 41.8182 150.983 41.8182 150.211C41.792 149.141 41.3369 148.125 40.5528 147.387C39.7687 146.648 38.7197 146.247 37.6364 146.271V146.271ZM42.2689 99.0871C41.9715 99.0897 41.687 99.2075 41.4767 99.4152C41.2664 99.6229 41.1471 99.9038 41.1444 100.198C41.1499 100.341 41.1843 100.482 41.2458 100.612C41.3072 100.742 41.3944 100.858 41.5022 100.955C41.6023 101.054 41.722 101.132 41.8538 101.184C41.9857 101.237 42.1269 101.261 42.2689 101.258C42.4134 101.262 42.5574 101.238 42.6925 101.187C42.8276 101.136 42.951 101.058 43.0556 100.96C43.1603 100.861 43.244 100.743 43.302 100.612C43.3599 100.481 43.391 100.34 43.3933 100.198C43.3908 99.9038 43.2715 99.6228 43.0611 99.4151C42.8508 99.2074 42.5663 99.0896 42.2689 99.0871ZM46 98.9861C44.7222 98.9861 43.4955 99.0366 42.2689 99.0871C41.9715 99.0897 41.687 99.2075 41.4767 99.4152C41.2664 99.6229 41.1471 99.9038 41.1444 100.198C41.1499 100.341 41.1843 100.482 41.2458 100.612C41.3072 100.742 41.3944 100.858 41.5022 100.955L57.2955 115.845C57.6926 116.203 58.0075 116.64 58.2191 117.127C58.4306 117.615 58.534 118.142 58.5222 118.672V159.174C58.5222 160.454 59.037 161.681 59.9533 162.586C60.8697 163.491 62.1125 164 63.4084 164H88.1666C89.1833 164 90.1583 163.601 90.8772 162.891C91.5961 162.181 92 161.218 92 160.214V122.609C92 109.031 70.3289 98.9861 46 98.9861Z"
                        fill="#F5F5F5" />
                </svg>
                <div class="kanban-back-top">
                    <p>Voltar ao topo</p>
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.13558 6.62412C1.0926 6.58432 1.0585 6.53704 1.03524 6.48499C1.01198 6.43293 1 6.37713 1 6.32077C1 6.26441 1.01198 6.20861 1.03524 6.15656C1.0585 6.1045 1.0926 6.05722 1.13558 6.01742L6.67339 0.875877C6.71626 0.835976 6.76718 0.804319 6.82325 0.782719C6.87932 0.761118 6.93942 0.75 7.00012 0.75C7.06082 0.75 7.12093 0.761118 7.17699 0.782719C7.23306 0.804319 7.28398 0.835976 7.32685 0.875877L12.8647 6.01742C12.9513 6.09787 13 6.20699 13 6.32077C13 6.43455 12.9513 6.54367 12.8647 6.62412C12.778 6.70458 12.6605 6.74978 12.5379 6.74978C12.4154 6.74978 12.2979 6.70458 12.2112 6.62412L7.00012 1.78507L1.78904 6.62412C1.74617 6.66402 1.69525 6.69568 1.63918 6.71728C1.58312 6.73888 1.52301 6.75 1.46231 6.75C1.40161 6.75 1.3415 6.73888 1.28544 6.71728C1.22937 6.69568 1.17845 6.66402 1.13558 6.62412Z"
                            fill="var(--color-primary)" stroke="var(--color-primary)" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="kanban-column">
            <div class="kanban-header">
                <div class="kanban-header-default">
                    <div class="kanban-header-title">
                        <div>
                            <p class="title-text">{{t2}}</p>
                            <p class="title-text-sub" style="display: {{ct2}};">{{st2}}</p>
                        </div>
                    </div>
                    <button data-toggle="dropdown">
                        <svg width="24" height="40" viewBox="0 0 24 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M22 16C23.1 16 24 15.1 24 14C24 12.9 23.1 12 22 12C20.9 12 20 12.9 20 14C20 15.1 20.9 16 22 16ZM22 18C20.9 18 20 18.9 20 20C20 21.1 20.9 22 22 22C23.1 22 24 21.1 24 20C24 18.9 23.1 18 22 18ZM22 24C20.9 24 20 24.9 20 26C20 27.1 20.9 28 22 28C23.1 28 24 27.1 24 26C24 24.9 23.1 24 22 24Z"
                                fill="var(--color-primary)" />
                        </svg>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item edit-title-kanban">Editar título</a>
                        <a class="dropdown-item restore-title-kanban" pos="2">Restaurar título</a>
                    </div>
                </div>
                <div class="kanban-header-search">
                    <input type="text" placeholder="Insira o novo título..." pos="2">
                </div>
            </div>
            <div class="kanban-body" data-simplebar>
                {{3}}
                <svg class="not-wl placeholder" width="155" height="117" viewBox="0 0 155 117" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M94.8014 45.5724C94.9635 45.5737 95.1658 45.6157 95.3278 45.617L95.3281 45.5766L94.8014 45.5724Z"
                        fill="#F5F5F5" />
                    <path
                        d="M154.584 89.8968C154.296 87.3046 153.562 84.7822 152.414 82.4421C150.319 78.0605 146.908 74.4475 142.66 72.1105C138.412 69.7735 133.541 68.83 128.732 69.4124C127.17 69.6067 125.633 69.9623 124.145 70.4737L115.555 54.8805C116.404 55.1704 117.289 55.3415 118.185 55.3889C118.965 55.4615 119.753 55.3708 120.496 55.1226C121.675 54.6848 120.158 46.6256 119.891 44.4288C119.586 42.0284 119.197 39.9932 118.976 37.1465C118.975 36.9896 118.934 36.8354 118.858 36.6985C118.8 36.5632 118.702 36.449 118.577 36.3712C118.374 36.1644 118.099 36.0456 117.81 36.04C117.729 36.0393 117.688 36.0796 117.647 36.0793C115.654 36.3151 113.787 37.1833 112.32 38.5572C110.841 39.9428 109.822 41.7509 109.402 43.7365L108.164 41.4914L105.048 35.8175C104.928 35.654 104.848 35.4908 104.687 35.2863C104.567 35.1228 104.446 34.9999 104.326 34.8364C103.834 34.3361 103.223 33.9679 102.552 33.7657C101.967 33.5647 101.343 33.5042 100.73 33.5888L98.7428 33.817C98.7425 33.8577 98.7827 33.8986 98.7824 33.9393C99.2418 35.5037 99.109 37.1832 98.4095 38.6554C97.7099 40.1276 96.493 41.2888 94.9922 41.9161C94.8298 41.9554 94.6671 42.0354 94.5047 42.0748C92.9263 42.4558 91.293 42.5531 89.6807 42.362L89.1135 42.3575C90.559 44.0352 93.1169 43.3644 94.9829 43.0946C96.119 42.9004 97.2142 42.7464 98.3499 42.5928L98.8367 42.5153L98.8763 42.6376L100.555 45.6177C97.4755 45.5935 94.3966 45.5286 91.317 45.545C90.9119 45.5418 90.5064 45.579 90.0607 45.5755C89.6961 45.5727 89.2912 45.529 88.9266 45.5262L81.35 45.4665C81.1063 45.4579 80.8623 45.4695 80.6204 45.5012C79.433 45.5815 78.2797 45.934 77.2493 46.5314C76.5966 46.8918 76.0049 47.3535 75.4961 47.8994L77.4373 48.3618C79.4191 48.8244 81.2794 49.2862 82.3714 49.5386C82.6142 49.581 82.8164 49.6234 82.8161 49.664L82.9782 49.6653L83.4232 49.7501L83.5847 49.8327C83.9484 49.9575 84.2716 50.0819 84.5544 50.2061L85.0387 50.4538C87.1665 51.5416 88.8029 53.3994 89.6171 55.6514C90.4513 57.9738 90.388 60.5254 89.4395 62.8032L76.2336 93.4252C75.738 94.5833 75.013 95.6284 74.1026 96.497C73.2025 97.3809 72.1366 98.077 70.9666 98.5451C69.8008 98.9913 68.5624 99.2158 67.3147 99.2073C66.0582 99.1927 64.8174 98.9251 63.6659 98.4203C62.5145 97.9155 61.4758 97.1839 60.6116 96.2689C59.7556 95.3389 59.0773 94.259 58.6106 93.083C58.1503 91.918 57.9259 90.6728 57.9505 89.4199C57.9892 88.1637 58.2599 86.9255 58.749 85.7684L66.5077 67.7434L54.7005 64.6429C52.6747 64.1422 50.8211 63.1026 49.3351 61.6337C48.324 60.6036 47.485 59.4167 46.8504 58.1188C46.1983 58.3432 45.5112 58.448 44.8221 58.428C44.1498 58.428 43.4814 58.327 42.839 58.1281L18.7898 50.5419L11.1503 48.1651C10.9456 48.4813 10.7796 48.8212 10.6562 49.1773L10.2807 50.5562L9.57026 53.3143C9.50057 53.6344 9.47078 53.9618 9.48159 54.2892C9.54415 54.6147 9.65074 54.93 9.7984 55.2265C9.97955 55.5113 10.1953 55.7724 10.4406 56.0038C10.7202 56.1748 11.0181 56.3135 11.3288 56.4172L12.2989 56.7094L27.7434 61.0172L27.8646 61.0588L37.1601 64.0989C37.3185 64.1429 37.4685 64.2128 37.6042 64.3056L33.9569 69.5605L33.0145 70.8943C30.2747 69.683 27.3113 69.0642 24.3172 69.0781C20.0312 69.0509 15.8191 70.1982 12.1355 72.3962C8.45478 74.6317 5.45455 77.8355 3.46031 81.66C1.46607 85.4846 0.553955 89.7839 0.822916 94.0915C1.07356 98.4015 2.49857 102.56 4.94269 106.114C7.39911 109.638 10.7479 112.442 14.6441 114.237C18.5569 115.979 22.8732 116.603 27.1172 116.041C31.3612 115.48 35.3682 113.753 38.6967 111.053C42.0361 108.323 44.5715 104.732 46.0309 100.666C46.9782 98.1646 47.4525 95.5083 47.4294 92.8328C47.4332 92.3451 47.437 91.8574 47.4003 91.3694C47.2711 88.3129 46.5079 85.317 45.1597 82.5729C44.9612 82.0772 44.721 81.5994 44.4415 81.1447C44.3219 80.8999 44.1614 80.6955 44.0418 80.4507C43.0559 78.8318 41.8994 77.3239 40.5924 75.9528L42.9704 72.395L45.0201 69.3629L45.9848 70.3461C46.2662 70.6326 46.5476 70.9195 46.7884 71.2059C47.0695 71.5333 47.3104 71.8197 47.5914 72.1471C47.832 72.4741 48.0729 72.7605 48.3536 73.1285C49.5811 74.7668 50.6526 76.5169 51.5542 78.356C51.7169 78.6745 51.8631 79.0012 51.9922 79.3348C52.3907 80.1915 52.7486 81.0478 53.0658 81.9444C53.2243 82.3927 53.3829 82.8411 53.5411 83.33L53.7785 84.0635C54.0554 84.9191 54.251 85.8148 54.4472 86.6292C54.6039 87.3214 54.7605 88.0136 54.8772 88.6648C54.955 89.0718 55.0326 89.5195 55.0699 89.9262C55.5013 92.5595 55.6704 95.2293 55.5747 97.8962C55.5678 98.6313 55.8044 99.348 56.2476 99.9336C56.6807 100.455 57.2544 100.841 57.9002 101.044C58.178 101.113 58.4642 101.143 58.7504 101.132L68.1502 101.206C70.176 101.222 72.2426 101.198 74.2684 101.214C77.9081 101.637 81.5959 101.292 85.0949 100.201C88.1781 98.8199 90.7185 96.4533 92.3194 93.471L95.9362 86.9151L98.4424 82.5048L106.033 70.4936L106.238 70.1701L106.525 69.7253L108.165 67.1777L108.494 66.6519L108.741 66.1662C108.864 65.9233 108.988 65.6804 109.111 65.3969C109.244 65.1268 109.342 64.8407 109.402 64.5457C109.584 63.8423 109.684 63.1204 109.702 62.394L109.703 62.2314L116.615 74.7632C116.329 75.0048 116.085 75.2061 115.799 75.4477C112.884 78.1944 110.698 81.6278 109.441 85.4364C108.238 89.2725 107.997 93.3469 108.74 97.2986C109.512 101.233 111.275 104.904 113.861 107.962C116.447 111.02 119.77 113.363 123.514 114.769C127.249 116.157 131.278 116.551 135.21 115.912C139.142 115.274 142.842 113.625 145.949 111.126C149.072 108.638 151.499 105.38 152.993 101.671C154.525 97.949 155.073 93.8934 154.584 89.8968ZM37.176 98.2794C35.7155 101.776 32.9433 104.557 29.4573 106.022C27.7308 106.732 25.8849 107.103 24.0192 107.117C21.6794 107.087 19.3831 106.479 17.3329 105.347C15.2828 104.216 13.5419 102.595 12.2639 100.629C10.9858 98.6629 10.21 96.4114 10.0048 94.0733C9.79968 91.7351 10.1715 89.3823 11.0875 87.2224C11.8284 85.5036 12.8853 83.9401 14.203 82.6136C15.5249 81.2867 17.1055 80.2476 18.8461 79.5613C20.555 78.8457 22.3915 78.4867 24.2433 78.5065C25.3669 78.4984 26.4854 78.6579 27.5622 78.9797L20.5093 89.6539C20.1574 90.1541 19.9053 90.718 19.767 91.3144C19.6674 91.905 19.6491 92.5066 19.7124 93.1022C19.853 93.6775 20.081 94.2276 20.3885 94.7332C20.7035 95.2316 21.1131 95.6629 21.5941 96.0027C22.3171 96.5414 23.1998 96.8203 24.1001 96.7946C24.8528 96.8002 25.5942 96.61 26.2519 96.2426C26.9043 95.8798 27.4633 95.3693 27.8843 94.7516L35.2629 83.8768C37.2496 86.4057 38.3119 89.5412 38.2727 92.7607C38.277 94.6551 37.9041 96.5314 37.176 98.2794ZM145.343 95.4734C144.767 98.4046 143.287 101.08 141.111 103.12C138.935 105.16 136.174 106.461 133.22 106.839C130.353 107.185 127.449 106.633 124.907 105.26C122.364 103.887 120.307 101.759 119.017 99.1678C117.751 96.5683 117.267 93.6552 117.624 90.7844C118.02 87.9163 119.27 85.2348 121.209 83.0905L127.282 94.0712C127.553 94.5641 127.922 94.9959 128.366 95.3397C128.809 95.695 129.316 95.9612 129.859 96.1236C130.41 96.2895 130.99 96.3356 131.56 96.259C132.117 96.1927 132.655 96.0174 133.144 95.7431C133.653 95.4778 134.099 95.1061 134.452 94.6532C134.805 94.2002 135.057 93.6765 135.191 93.1174C135.349 92.5637 135.409 91.9863 135.366 91.4118C135.279 90.8525 135.091 90.3139 134.812 89.8224L128.739 78.801C129.1 78.7164 129.466 78.6514 129.835 78.6064C129.997 78.6077 130.118 78.568 130.281 78.5693C133.095 78.3079 135.921 78.9265 138.37 80.34C140.992 81.7708 143.068 84.0305 144.276 86.7674C145.555 89.479 145.929 92.5318 145.343 95.4734Z"
                        fill="#F5F5F5" />
                    <path
                        d="M95.3281 45.5766L95.3278 45.617C95.1658 45.6157 94.9635 45.5737 94.8014 45.5724L95.3281 45.5766Z"
                        fill="#F5F5F5" />
                    <path
                        d="M89.4938 45.5306L89.4935 45.5713C89.2909 45.5697 89.1292 45.5277 88.9266 45.5262L89.4938 45.5306Z"
                        fill="#F5F5F5" />
                    <path
                        d="M95.8359 37.6552C95.3383 38.5497 94.5078 39.21 93.526 39.4917C92.5442 39.7735 91.4911 39.6536 90.5972 39.1584L88.2574 37.8394L87.733 37.5508L82.4885 34.6238L73.6558 29.3926L67.1321 50.1097L67.4961 50.1939C67.5771 50.1945 70.2464 50.8252 73.3604 51.5813L73.3608 51.5407C75.9895 52.171 78.9016 52.8442 80.7615 53.3468C81.0043 53.3892 81.247 53.4726 81.4898 53.5151C81.6114 53.5161 81.7326 53.5577 81.8541 53.5586L81.9754 53.6002C82.0564 53.6009 82.0969 53.6012 82.0966 53.6416L82.2178 53.6832C82.4603 53.7664 82.7031 53.809 82.905 53.8918C82.9452 53.9328 83.0259 53.9741 83.0661 54.015C83.7031 54.3319 84.2766 54.7634 84.7579 55.2883C85.2039 55.8233 85.5554 56.4308 85.7971 57.0847C86.3007 58.4112 86.2746 59.8814 85.7244 61.1891L72.5185 91.811C72.243 92.4868 71.8234 93.0939 71.289 93.5897C70.76 94.0745 70.1545 94.468 69.4971 94.7542C68.8478 95.0468 68.1385 95.1805 67.4276 95.1443L67.3871 95.144C66.6596 95.1551 65.9395 94.9964 65.2837 94.6804C64.6278 94.3932 64.038 93.9735 63.5511 93.4474C63.2922 93.1878 63.0633 92.8997 62.869 92.5886C62.6615 92.288 62.5002 91.958 62.3904 91.6094C62.1177 90.938 61.9854 90.2176 62.0018 89.4929C62.0147 88.7658 62.1719 88.0486 62.464 87.3831L71.9152 65.3885L72.0801 65.024L72.0804 64.9833L55.7041 60.6682L55.6636 60.6679C55.0135 60.5044 54.3885 60.2534 53.8056 59.9217C53.1976 59.5946 52.641 59.1794 52.1539 58.6894C51.8961 58.4737 51.6666 58.2261 51.4709 57.9524C51.2257 57.7007 51.0227 57.4109 50.8698 57.0942C50.593 56.679 50.3781 56.2255 50.2321 55.7479L50.2324 55.7073C50.1932 55.5444 50.1134 55.3812 50.0741 55.2183C49.903 54.5261 49.8134 53.816 49.8071 53.1028C49.798 52.789 49.8277 52.4752 49.8954 52.1687C49.8839 52.0019 49.913 51.8347 49.9803 51.6817C49.9781 51.6117 49.9925 51.5421 50.0224 51.4788C50.0636 51.3978 50.0642 51.3166 50.1053 51.2356L50.106 51.1543C50.1883 50.9924 50.2722 50.6273 50.4384 50.1002L50.6879 49.2893C50.7296 49.1271 50.812 48.9652 50.8541 48.7623L50.8544 48.7216C50.8547 48.681 50.8955 48.6407 50.8962 48.5594C51.1862 47.749 51.4774 46.7759 51.8098 45.7218C53.098 41.627 54.8841 36.0324 56.298 31.4102C56.4645 30.8425 56.6715 30.2752 56.8377 29.7481L57.7523 26.7884C57.8356 26.5046 57.9185 26.2613 58.0015 26.0181L58.4171 24.6802C58.5102 24.4724 58.5799 24.2549 58.6248 24.0316L58.7492 23.6667C58.7913 23.4639 58.8733 23.3426 58.874 23.2613C58.9151 23.1803 58.9559 23.14 58.9563 23.0994C59.2192 22.0217 59.7108 21.0136 60.3976 20.1438C60.9389 19.4885 61.5872 18.9302 62.3149 18.4925C62.5192 18.3619 62.7375 18.2545 62.9657 18.1725C63.9853 17.7627 65.0732 17.5506 66.1716 17.5475L66.6983 17.5516C67.9304 17.6495 69.1284 18.005 70.2153 18.5954L86.6724 28.1135L87.439 28.526L91.9574 31.0405L94.3377 32.3599C95.233 32.8661 95.8927 33.7065 96.1733 34.6983C96.4539 35.69 96.3326 36.7527 95.8359 37.6552Z"
                        fill="#F5F5F5" />
                    <path d="M108.206 41.4918L108.164 41.4914L105.048 35.8175L108.206 41.4918Z" fill="#F5F5F5" />
                    <path
                        d="M55.7856 17.5224C55.8226 17.8796 55.7782 18.2405 55.6558 18.5779L54.9489 20.889C54.7134 21.4132 54.5195 21.9553 54.3689 22.5101C54.2853 22.8346 54.1612 23.1588 54.0776 23.4832C53.9944 23.7671 53.9108 24.0916 53.8275 24.3754L53.4951 25.4293L53.4543 25.4696C53.3387 25.7881 53.2415 26.1131 53.163 26.4428L53.1627 26.4834C52.9975 26.8885 52.9133 27.2943 52.7888 27.6591C52.708 27.8436 52.6389 28.033 52.5818 28.2263L52.0417 29.929L51.3766 32.0778L51.086 32.9697L50.2961 35.524L48.3438 41.6457L48.011 42.7404L47.7198 43.7135L47.5944 44.2003C47.5777 44.2717 47.5498 44.3401 47.5118 44.4028L47.1389 45.4566L46.9305 46.1865C46.8466 46.5517 46.7226 46.8758 46.6393 47.1597L46.6387 47.2409C46.5315 47.4751 46.4481 47.7196 46.3898 47.9706L46.3493 47.9702L44.9367 52.4298C44.6981 53.1379 44.2013 53.7292 43.5461 54.0852C43.4597 54.1355 43.3618 54.1627 43.2619 54.1643C42.9588 54.3106 42.6238 54.3779 42.2879 54.3598C42.013 54.36 41.7398 54.3167 41.4783 54.2315L17.4291 46.6451L9.02173 44.0184C8.68352 43.8959 8.36948 43.7146 8.09399 43.4828C7.81485 43.258 7.58291 42.9799 7.41158 42.6646C7.25879 42.3448 7.16538 41.9997 7.13593 41.6463C7.10359 41.2918 7.13382 40.9343 7.22524 40.5903L7.22556 40.5497L17.9851 6.69764C18.192 6.11943 18.562 5.614 19.05 5.24288C19.5181 4.92774 20.0703 4.76206 20.634 4.76764L20.796 4.76892C20.9983 4.81116 21.2411 4.85371 21.4433 4.89595L53.8996 15.1497C54.2429 15.2406 54.5606 15.41 54.8277 15.6447C55.0872 15.878 55.3044 16.1547 55.4695 16.4626C55.5097 16.5036 55.5094 16.5442 55.5493 16.6258C55.689 16.9051 55.7694 17.2104 55.7856 17.5224Z"
                        fill="#F5F5F5" />
                    <path
                        d="M50.0648 51.2353C50.1054 51.2356 50.1057 51.195 50.106 51.1543L50.1053 51.2356C50.0642 51.3166 50.0636 51.3978 50.0224 51.4788C50.0166 51.3954 50.0312 51.3118 50.0648 51.2353Z"
                        fill="#F5F5F5" />
                    <path
                        d="M52.1539 58.6894C52.641 59.1794 53.1976 59.5946 53.8056 59.9217C53.1988 59.6092 52.642 59.2075 52.1536 58.73L52.1539 58.6894Z"
                        fill="#F5F5F5" />
                    <path d="M72.0804 64.9833L72.0801 65.024L55.7041 60.6682L72.0804 64.9833Z" fill="#F5F5F5" />
                    <path
                        d="M84.3917 9.52867L84.3906 9.5693C84.3948 9.60743 84.3891 9.64601 84.3739 9.68122C84.359 9.71646 84.3353 9.74725 84.3051 9.77063C84.2635 9.81037 84.223 9.80948 84.1412 9.84835C84.1007 9.84742 84.0204 9.80496 83.9799 9.80404L79.4575 7.22333C79.3092 7.14153 79.1436 7.096 78.9744 7.09044C78.812 7.0598 78.6446 7.07004 78.4871 7.12026C78.3188 7.15651 78.1631 7.23724 78.0363 7.3541C77.8956 7.44155 77.7809 7.56529 77.7041 7.71239L76.1424 10.5231C76.0224 10.7486 75.9481 10.9956 75.9236 11.25C75.8848 11.4961 75.907 11.7479 75.9883 11.9834C76.0642 12.2223 76.1829 12.4453 76.3385 12.6415C76.4642 12.856 76.6616 13.0189 76.8957 13.1011L82.138 16.1045C82.2394 16.1777 82.3328 16.2616 82.4164 16.3546C82.4901 16.4632 82.5296 16.5915 82.5298 16.7229L82.518 17.2512C82.4252 17.9756 82.1596 18.6669 81.7437 19.2665C81.6608 19.346 81.6184 19.4264 81.5367 19.4653C81.136 19.9458 80.6276 20.3245 80.0532 20.5703C79.9721 20.5685 79.9316 20.5675 79.8904 20.6073C79.7885 20.6558 79.6772 20.6811 79.5644 20.6814C79.4098 20.7441 79.2424 20.7682 79.0764 20.7517C78.8047 20.7268 78.5427 20.6374 78.3123 20.4907L76.1903 19.3052C75.9283 19.1189 75.6465 18.9625 75.3499 18.8391L69.2657 15.4103C69.1366 15.3406 69.016 15.256 68.9063 15.1584C68.0558 14.6335 67.3481 13.9055 66.8463 13.0394C66.3699 12.2832 66.0702 11.4287 65.9696 10.5399C65.8905 9.85097 65.8924 9.15514 65.9753 8.46671C66.0382 7.73251 66.2043 7.01091 66.4686 6.32335C67.1642 4.27668 68.5687 2.54824 70.4269 1.4521C72.2644 0.320104 74.4428 -0.120975 76.5741 0.207417L76.6551 0.209234C78.8465 0.569617 80.8349 1.7102 82.2559 3.42187C83.6768 5.13354 84.4351 7.30168 84.3917 9.52867Z"
                        fill="#F5F5F5" />
                    <path
                        d="M20.7929 5.10026C20.529 5.35482 20.3097 5.65219 20.1444 5.97986C20.3047 5.6491 20.5245 5.35089 20.7929 5.10026Z"
                        fill="#F5F5F5" />
                </svg>
                <div class="kanban-back-top">
                    <p>Voltar ao topo</p>
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.13558 6.62412C1.0926 6.58432 1.0585 6.53704 1.03524 6.48499C1.01198 6.43293 1 6.37713 1 6.32077C1 6.26441 1.01198 6.20861 1.03524 6.15656C1.0585 6.1045 1.0926 6.05722 1.13558 6.01742L6.67339 0.875877C6.71626 0.835976 6.76718 0.804319 6.82325 0.782719C6.87932 0.761118 6.93942 0.75 7.00012 0.75C7.06082 0.75 7.12093 0.761118 7.17699 0.782719C7.23306 0.804319 7.28398 0.835976 7.32685 0.875877L12.8647 6.01742C12.9513 6.09787 13 6.20699 13 6.32077C13 6.43455 12.9513 6.54367 12.8647 6.62412C12.778 6.70458 12.6605 6.74978 12.5379 6.74978C12.4154 6.74978 12.2979 6.70458 12.2112 6.62412L7.00012 1.78507L1.78904 6.62412C1.74617 6.66402 1.69525 6.69568 1.63918 6.71728C1.58312 6.73888 1.52301 6.75 1.46231 6.75C1.40161 6.75 1.3415 6.73888 1.28544 6.71728C1.22937 6.69568 1.17845 6.66402 1.13558 6.62412Z"
                            fill="var(--color-primary)" stroke="var(--color-primary)" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="kanban-column">
            <div class="kanban-header">
                <div class="kanban-header-default">
                    <div class="kanban-header-title">
                        <div>
                            <p class="title-text">{{t3}}</p>
                            <p class="title-text-sub" style="display: {{ct3}};">{{st3}}</p>
                        </div>
                    </div>
                    <button data-toggle="dropdown">
                        <svg width="24" height="40" viewBox="0 0 24 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M22 16C23.1 16 24 15.1 24 14C24 12.9 23.1 12 22 12C20.9 12 20 12.9 20 14C20 15.1 20.9 16 22 16ZM22 18C20.9 18 20 18.9 20 20C20 21.1 20.9 22 22 22C23.1 22 24 21.1 24 20C24 18.9 23.1 18 22 18ZM22 24C20.9 24 20 24.9 20 26C20 27.1 20.9 28 22 28C23.1 28 24 27.1 24 26C24 24.9 23.1 24 22 24Z"
                                fill="var(--color-primary)" />
                        </svg>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item edit-title-kanban">Editar título</a>
                        <a class="dropdown-item restore-title-kanban" pos="3">Restaurar título</a>
                    </div>
                </div>
                <div class="kanban-header-search">
                    <input type="text" placeholder="Insira o novo título..." pos="3">
                </div>
            </div>
            <div class="kanban-body" data-simplebar>
                {{4}}
                <svg class="not-wl placeholder" width="128" height="98" viewBox="0 0 128 98" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M40.9005 76.5257L10.9755 46.6007L1.00049 56.5757L40.9005 96.4757L126.401 10.9757L116.426 1.00073L40.9005 76.5257Z"
                        fill="#F5F5F5" stroke="#F5F5F5" />
                </svg>
                <div class="kanban-back-top">
                    <p>Voltar ao topo</p>
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.13558 6.62412C1.0926 6.58432 1.0585 6.53704 1.03524 6.48499C1.01198 6.43293 1 6.37713 1 6.32077C1 6.26441 1.01198 6.20861 1.03524 6.15656C1.0585 6.1045 1.0926 6.05722 1.13558 6.01742L6.67339 0.875877C6.71626 0.835976 6.76718 0.804319 6.82325 0.782719C6.87932 0.761118 6.93942 0.75 7.00012 0.75C7.06082 0.75 7.12093 0.761118 7.17699 0.782719C7.23306 0.804319 7.28398 0.835976 7.32685 0.875877L12.8647 6.01742C12.9513 6.09787 13 6.20699 13 6.32077C13 6.43455 12.9513 6.54367 12.8647 6.62412C12.778 6.70458 12.6605 6.74978 12.5379 6.74978C12.4154 6.74978 12.2979 6.70458 12.2112 6.62412L7.00012 1.78507L1.78904 6.62412C1.74617 6.66402 1.69525 6.69568 1.63918 6.71728C1.58312 6.73888 1.52301 6.75 1.46231 6.75C1.40161 6.75 1.3415 6.73888 1.28544 6.71728C1.22937 6.69568 1.17845 6.66402 1.13558 6.62412Z"
                            fill="var(--color-primary)" stroke="var(--color-primary)" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading-registering center-fix">
    <div class="loading-registering-title">
        <p>Atualizando o pedido</p>
        <svg class="not-wl" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            style="margin: auto; background: none; display: block; shape-rendering: auto;" width="40px" height="40px"
            viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#e15b64" stroke-width="10" r="35"
                stroke-dasharray="164.93361431346415 56.97787143782138">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s"
                    values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
            </circle>
        </svg>
    </div>
    <p class="loading-registering-message">Aguarde enquanto o pedido está sendo atualizado, não saia da pagina
        durante o processo.</p>
</div>
<div class="purchase-data">
    <div class="purchase-data-skeleton" style="padding: 37px 32px;">
        <div class="d-flex" style="margin-bottom: 43px;">
            <div class="shine" style="width: 336px; height: 24px; margin-right: 275px;"></div>
            <div class="shine" style="width: 224px; height: 39px;"></div>
        </div>
        <div class="d-flex">
            <div style="width: 400px; margin-right: 40px;">
                <div class="shine" style="width: 400px; height: 236px;  border-radius: 8px; margin-bottom: 38px;"></div>
                <div class="shine" style="width: 400px; height: 224px;  border-radius: 8px; margin-bottom: 38px;"></div>
                <div class="shine" style="width: 400px; height: 324px;  border-radius: 8px;"></div>
            </div>
            <div style="width: 224px; height: 39px;">
                <div class="shine" style="width: 400px; height: 1106px;  border-radius: 8px;"></div>
            </div>
        </div>
    </div>
</div>