<div class="onBoardingStart center-fix">
    <div class="onBoardingStartModal center-fix">
        <div class="onBoardingStartBody">
            <h1>Boas vindas ao seu Cardapio.ai!</h1>
            <h2>Você poderá usar seu cardápio após esse primeiro passo, leva apenas 3 min!</h2>
            <div class="onBoardingStartDetails">
                <div class="onBoardingStartSteps">
                    <div class="onBoardingStartStep">
                        <svg class="not-wl" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect y="0.0307617" width="16" height="16" rx="8" fill="#0962BA" />
                        </svg>
                        <span class="onBoardingProgress"></span>
                        <div>
                            <p>Cadastre um produto</p>
                            <p>Você poderá editá-lo depois.</p>
                        </div>
                    </div>
                    <div class="onBoardingStartStep">
                        <svg class="not-wl" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect y="0.0307617" width="16" height="16" rx="8" fill="#F0F0F0" />
                        </svg>
                        <span class="onBoardingProgress"></span>
                        <div>
                            <p>Personalização</p>
                            <p>Deixe seu cardápio com a sua marca.</p>
                        </div>
                    </div>
                    <div class="onBoardingStartStep">
                        <svg class="not-wl" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect y="0.0307617" width="16" height="16" rx="8" fill="#F0F0F0" />
                        </svg>
                        <span class="onBoardingProgress"></span>
                        <div>
                            <p>Meus links</p>
                            <p>Apenas um link para todos os seus pontos de contato.</p>
                        </div>
                    </div>
                    <div class="onBoardingStartStep">
                        <svg class="not-wl" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect y="0.0307617" width="16" height="16" rx="8" fill="#F0F0F0" />
                        </svg>
                        <span class="onBoardingProgress"></span>
                        <div>
                            <p>Horário de funcionamento</p>
                            <p>Defina os horários de atendimento</p>
                        </div>
                    </div>
                </div>
                <img src="img/preview-cardapio.png">
            </div>
        </div>
        <button class="onBoardingStartButton">Cadastrar meu primeiro produto</button>
    </div>
</div>