<div class="onBoardingHelp" onBoardingHelpStep="{{step}}">
    <div class="onBoardingHelpHeader">
        <img src="img/logo-horizontal.svg">
        <svg class="not-wl" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9.6979 8L14 12.3021L12.3021 14L8 9.6979L3.6979 14L2 12.3021L6.3021 8L2 3.6979L3.6979 2L8 6.3021L12.3021 2L14 3.6979L9.6979 8Z"
                fill="#4D4D4D" />
        </svg>
    </div>
    <div class="onBoardingHelpInfo">
        <p>Prepare-se para vender!</p>
        <p>Complete seus primeiros passos para ter um cardápio organizado.</p>
    </div>
    <div class="onBoardingHelpStepsArea">
        <div class="onBoardingHelpStep">
            <svg class="not-wl" width="17" height="16" viewBox="0 0 17 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" width="16" height="16" rx="8" fill="#F0F0F0" />
            </svg>
            <span class="onBoardingHelpProgress"></span>
            <div>
                <p>Cadastre um produto</p>
                <p>Você poderá editá-lo depois.</p>
            </div>
        </div>
        <div class="onBoardingHelpStep">
            <svg class="not-wl" width="17" height="16" viewBox="0 0 17 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" width="16" height="16" rx="8" fill="#F0F0F0" />
            </svg>
            <span class="onBoardingHelpProgress"></span>
            <div>
                <p>Personalização</p>
                <p>Deixe seu cardápio com a sua marca.</p>
            </div>
        </div>
        <div class="onBoardingHelpStep">
            <svg class="not-wl" width="17" height="16" viewBox="0 0 17 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" width="16" height="16" rx="8" fill="#F0F0F0" />
            </svg>
            <span class="onBoardingHelpProgress"></span>
            <div>
                <p>Meus links</p>
                <p>Apenas um link para todos os seus pontos de contato.</p>
            </div>
        </div>
        <div class="onBoardingHelpStep">
            <svg class="not-wl" width="17" height="16" viewBox="0 0 17 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" width="16" height="16" rx="8" fill="#F0F0F0" />
            </svg>
            <span class="onBoardingHelpProgress"></span>
            <div>
                <p>Horários de atendimento</p>
                <p>Defina os horários de funcionamento</p>
            </div>
        </div>
    </div>
    <div class="onBoardingHelpMinimized">
        <svg class="not-wl" width="62" height="14" viewBox="0 0 60 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="6.57336" y="5.25" height="3.5" width="48" fill="#DDDDDD"></rect>
            <rect x="6.57336" y="5.25" height="3.5" fill="#DDDDDD"></rect>
            <circle cx="6.57336" cy="6.99976" r="6.25" fill="#E4002B"></circle>
            <circle cx="22.8234" cy="6.99976" r="4.25" fill="#DDDDDD"></circle>
            <circle cx="38.8234" cy="6.99976" r="4.25" fill="#DDDDDD"></circle>
            <circle cx="54.8234" cy="6.99976" r="4.25" fill="#DDDDDD"></circle>
        </svg>
        <p></p>
        <svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9.72133 4.05578e-07C9.54536 0.0028643 9.37127 0.036715 9.20705 0.0999989C9.04239 0.15917 8.89165 0.251557 8.76419 0.371425L0.849968 7.71423C0.719021 7.83687 0.614675 7.98512 0.543409 8.14976C0.472143 8.31441 0.435476 8.49195 0.435684 8.67136C0.432672 8.85119 0.468069 9.02959 0.539513 9.19465C0.610954 9.3597 0.716797 9.50762 0.849968 9.6285C1.10979 9.87013 1.4523 10.003 1.8071 9.99993C2.15472 10.0015 2.4906 9.87425 2.74995 9.64279L9.72133 3.1714L16.6784 9.6285C16.8014 9.75739 16.9532 9.8553 17.1213 9.91421C17.2817 9.9715 17.4509 10.0005 17.6213 9.99992C17.7964 10.0017 17.9705 9.97267 18.1356 9.91421C18.2986 9.85164 18.4487 9.75964 18.5784 9.64278L18.5784 9.6285C18.714 9.51107 18.8215 9.36459 18.8927 9.19993C18.9634 9.03269 18.9999 8.85295 18.9999 8.67136C18.9999 8.48978 18.9634 8.31004 18.8927 8.1428C18.8155 7.98161 18.709 7.83625 18.5784 7.71423L10.6642 0.371425C10.5331 0.256451 10.3833 0.164662 10.2213 0.0999989C10.0617 0.0380854 9.89251 0.00425379 9.72133 4.05578e-07Z"
                fill="#E4002B" />
        </svg>
    </div>
</div>