<div class="onBoardingToast">
    <div>
        <div>
            <img src="img/onBoardingToast_success.svg">
            <div>
                <p>Parabéns! Agora você tem um link fácil para compartilhar!</p>
                <p>Veja como ficou no seu <a href="https://cardapio.ai/nomecadastro"
                        target="_blank">cardapio.ai/nomecadastro</a></p>
            </div>
            <div>
                <p>00:10</p>
                <a>Próximo passo</a>
            </div>
        </div>
    </div>
</div>