<div class="kanban-order" key="{{codigoTransacao}}" {{telefone}} type="{{tipoPedido}}">
    <div class="order-header">
        <p class="order-client-name">{{nomeUsuario}}</p>
        <svg class="order-status not-wl {{cancelled}}" width="62" height="14" viewBox="0 0 59 14" fill="none"
            xmlns="http://www.w3.org/2000/svg" view="delivery">
            <rect x="4.76172" y="5.25" width="48" height="3.5" fill="#DDDDDD" />
            <rect x="4.76172" y="5.25" width="48" height="3.5" fill="none" />
            <circle cx="4.75" cy="7.00391" r="4.25" fill="#DDDDDD" />
            <circle cx="20.75" cy="7.00391" r="4.25" fill="#DDDDDD" />
            <circle cx="36.7725" cy="6.97607" r="4.25" fill="#DDDDDD" />
            <circle cx="52.7725" cy="6.99561" r="4.25" fill="#DDDDDD" />
            <path
                d="M52.3641 8.99853L50.2409 6.92034L51.026 6.15189L52.3729 7.47032L54.9647 4.99269L55.7409 5.76984L52.3641 8.99853Z"
                fill="none" />
        </svg>
        <svg class="not-wl order-status {{cancelled}}" width="46" height="14" viewBox="0 0 43 14" fill="none"
            xmlns="http://www.w3.org/2000/svg" view="mesa">
            <rect x="4.67828" y="5.24609" width="33.0834" height="3.5" fill="#DDDDDD"></rect>
            <rect x="4.67828" y="5.24609" width="33.0834" height="3.5" fill="none"></rect>
            <circle cx="4.75" cy="7.00391" r="4.25" fill="#DDDDDD"></circle>
            <circle cx="20.7725" cy="6.97607" r="4.25" fill="#DDDDDD"></circle>
            <circle cx="36.7725" cy="6.99561" r="4.25" fill="#DDDDDD"></circle>
            <path
                d="M36.3641 8.99852L34.2409 6.92033L35.026 6.15188L36.3729 7.47031L38.9647 4.99268L39.7409 5.76983L36.3641 8.99852Z"
                fill="none"></path>
        </svg>
    </div>
    <div class="order-info">
        <p class="order-cod">{{codigoTransacaoMin}}</p>
        <p class="order-date">{{dataHora}}</p>
        <p class="order-price">R$ {{valorPedido}}</p>
    </div>
    {{endereco}}
    <div class="order-footer">
        {{order-footer}}
    </div>
</div>