<svg class="not-wl" width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg" view="mesa">
    <path
        d="M15.2262 15.4779C14.5268 14.5583 13.665 13.2467 12.2869 13.2467C10.907 13.2467 8.6801 13.2467 8.6801 13.2467C8.0938 13.2467 7.61974 13.7207 7.61974 14.3079C7.61974 14.8934 8.0938 15.3683 8.6801 15.3683H10.5357C10.7697 15.3683 10.9597 15.5582 10.9597 15.7922V15.863C10.9597 16.097 10.7697 16.287 10.5357 16.287H7.41855L3.58641 12.8935C3.23583 12.5835 2.69961 12.6163 2.38876 12.9669C2.0779 13.3175 2.11071 13.8537 2.46129 14.1646C2.46129 14.1646 6.31156 18.8844 6.82447 18.8844L11.8448 18.8835L14.0544 20L17.0093 17.8361C17.0084 17.8361 16.7416 17.4709 15.2262 15.4779Z"
        fill="#0962BA"></path>
    <path d="M16.7993 10.4983H0.986328V11.6579H16.7993V10.4983Z" fill="#0962BA"></path>
    <path
        d="M15.8882 9.70038C15.9097 9.46811 15.9236 9.2341 15.9236 8.99664C15.9236 5.61092 13.5308 2.78646 10.3446 2.1164C10.4111 1.9437 10.4517 1.75719 10.4517 1.56032C10.4517 0.700285 9.75137 0 8.89135 0C8.03131 0 7.33103 0.700285 7.33103 1.56032C7.33103 1.75719 7.37161 1.94284 7.4381 2.1164C4.25271 2.7856 1.85913 5.61092 1.85913 8.99664C1.85913 9.2341 1.87122 9.46897 1.89453 9.70038H15.8882ZM8.3603 1.56118C8.3603 1.2676 8.59862 1.02927 8.89221 1.02927C9.18579 1.02927 9.42412 1.2676 9.42412 1.56118C9.42412 1.7356 9.33431 1.88326 9.20306 1.98083C9.09944 1.97565 8.99755 1.96443 8.89221 1.96443C8.78686 1.96443 8.68411 1.97565 8.58049 1.98083C8.44924 1.88326 8.3603 1.7356 8.3603 1.56118Z"
        fill="#0962BA"></path>
</svg>
<svg class="not-wl" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" view="delivery" style="display: {{svgProgramada}};">
    <path
        d="M4.53456 1.73926V3.65628H3.53248C2.42718 3.65628 1.52832 4.51606 1.52832 5.5733V18.9924C1.52832 20.0497 2.42718 20.9095 3.53248 20.9095H7.54079V18.9924H3.53248V9.40734H17.5616V11.3244H19.5657V5.5733C19.5657 4.51606 18.6669 3.65628 17.5616 3.65628H16.5595V1.73926H14.5553V3.65628H6.53871V1.73926H4.53456ZM3.53248 5.5733H17.5616V7.49032H3.53248V5.5733Z"
        fill="#0962BA" />
    <path d="M6.76439 18.9924H8.54202V20.9097H6.76439V18.9924Z" fill="#0962BA" />
    <path
        d="M14.7561 11.5394C11.7294 11.5394 9.26396 13.8976 9.26396 16.7927C9.26396 19.6879 11.7294 22.0461 14.7561 22.0461C17.7828 22.0461 20.2483 19.6879 20.2483 16.7927C20.2483 13.8976 17.7828 11.5394 14.7561 11.5394ZM14.7561 12.5901C17.1892 12.5901 19.1498 14.4654 19.1498 16.7927C19.1498 19.12 17.1892 20.9954 14.7561 20.9954C12.323 20.9954 10.3624 19.12 10.3624 16.7927C10.3624 14.4654 12.323 12.5901 14.7561 12.5901ZM14.7561 13.6407C14.4528 13.6407 14.2069 13.8759 14.2069 14.1661V16.4188C14.2069 16.7975 14.3642 17.1607 14.6441 17.4285L16.1763 18.8941C16.3908 19.0992 16.7385 19.0992 16.953 18.8941C17.1674 18.6889 17.1674 18.3564 16.953 18.1512L15.7426 16.9934C15.4626 16.7257 15.3053 16.3625 15.3053 15.9838V14.1661C15.3053 13.8759 15.0594 13.6407 14.7561 13.6407Z"
        fill="#0962BA" />
    <path fill-rule="evenodd" clip-rule="evenodd"
        d="M9.04004 16.7927C9.04004 13.7793 11.6057 11.3252 14.7561 11.3252C17.9065 11.3252 20.4722 13.7793 20.4722 16.7927C20.4722 19.8062 17.9065 22.2603 14.7561 22.2603C11.6057 22.2603 9.04004 19.8062 9.04004 16.7927ZM14.7561 11.7536C11.853 11.7536 9.48788 14.0159 9.48788 16.7927C9.48788 19.5696 11.853 21.8319 14.7561 21.8319C17.6592 21.8319 20.0243 19.5696 20.0243 16.7927C20.0243 14.0159 17.6592 11.7536 14.7561 11.7536ZM14.7561 12.8042C12.4467 12.8042 10.5863 14.5837 10.5863 16.7927C10.5863 19.0018 12.4467 20.7812 14.7561 20.7812C17.0655 20.7812 18.9259 19.0018 18.9259 16.7927C18.9259 14.5837 17.0655 12.8042 14.7561 12.8042ZM10.1385 16.7927C10.1385 14.3471 12.1994 12.3759 14.7561 12.3759C17.3129 12.3759 19.3737 14.3471 19.3737 16.7927C19.3737 19.2383 17.3129 21.2096 14.7561 21.2096C12.1994 21.2096 10.1385 19.2383 10.1385 16.7927ZM14.7561 13.8549C14.5765 13.8549 14.4308 13.9942 14.4308 14.1661V16.4188C14.4308 16.7407 14.5645 17.0494 14.8025 17.277L16.3347 18.7426C16.4617 18.8641 16.6676 18.8641 16.7946 18.7426C16.9216 18.6211 16.9216 18.4242 16.7946 18.3027L15.5842 17.1449C15.2623 16.8369 15.0814 16.4193 15.0814 15.9838V14.1661C15.0814 13.9942 14.9358 13.8549 14.7561 13.8549ZM13.983 14.1661C13.983 13.7576 14.3291 13.4265 14.7561 13.4265C15.1831 13.4265 15.5292 13.7576 15.5292 14.1661V15.9838C15.5292 16.3057 15.6629 16.6144 15.9009 16.842L17.1113 17.9998C17.4132 18.2886 17.4132 18.7568 17.1113 19.0455C16.8094 19.3343 16.3199 19.3343 16.018 19.0455L14.4858 17.5799C14.1638 17.272 13.983 16.8543 13.983 16.4188V14.1661Z"
        fill="#0962BA" />
</svg>
<p>{{order-footer-info}}</p>
<div id="order-next">
    <p>{{nextColumn}}</p>
    <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M1.12588 0.635578C1.16568 0.592602 1.21296 0.558505 1.26501 0.53524C1.31707 0.511975 1.37287 0.5 1.42923 0.5C1.48559 0.5 1.54139 0.511975 1.59344 0.53524C1.6455 0.558505 1.69278 0.592602 1.73258 0.635578L6.87412 6.17339C6.91402 6.21626 6.94568 6.26718 6.96728 6.32325C6.98888 6.37932 7 6.43942 7 6.50012C7 6.56082 6.98888 6.62093 6.96728 6.67699C6.94568 6.73306 6.91402 6.78398 6.87412 6.82685L1.73258 12.3647C1.65213 12.4513 1.54301 12.5 1.42923 12.5C1.31545 12.5 1.20633 12.4513 1.12588 12.3647C1.04542 12.278 1.00022 12.1605 1.00022 12.0379C1.00022 11.9154 1.04542 11.7979 1.12588 11.7112L5.96493 6.50012L1.12588 1.28904C1.08598 1.24617 1.05432 1.19525 1.03272 1.13918C1.01112 1.08312 1 1.02301 1 0.962309C1 0.901608 1.01112 0.841503 1.03272 0.785438C1.05432 0.729372 1.08598 0.678446 1.12588 0.635578Z"
            fill="var(--color-primary)" stroke="var(--color-primary)" />
    </svg>
</div>