<div class="purchase-data-header-info">
    <svg class="not-wl" view="mesa" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_4542_13774)">
            <path
                d="M16.2265 15.4779C15.5271 14.5583 14.6654 13.2467 13.2872 13.2467C11.9074 13.2467 9.68047 13.2467 9.68047 13.2467C9.09416 13.2467 8.62011 13.7207 8.62011 14.3079C8.62011 14.8934 9.09416 15.3683 9.68047 15.3683H11.5361C11.7701 15.3683 11.9601 15.5582 11.9601 15.7922V15.863C11.9601 16.097 11.7701 16.287 11.5361 16.287H8.41892L4.58677 12.8935C4.2362 12.5835 3.69998 12.6163 3.38912 12.9669C3.07827 13.3175 3.11108 13.8537 3.46165 14.1646C3.46165 14.1646 7.31193 18.8844 7.82484 18.8844L12.8451 18.8835L15.0548 20L18.0096 17.8361C18.0088 17.8361 17.742 17.4709 16.2265 15.4779Z"
                fill="#0962BA" />
            <path d="M17.7993 10.4982H1.98633V11.6579H17.7993V10.4982Z" fill="#0962BA" />
            <path
                d="M16.8884 9.70038C16.91 9.46811 16.9238 9.2341 16.9238 8.99664C16.9238 5.61092 14.5311 2.78646 11.3448 2.1164C11.4113 1.9437 11.4519 1.75719 11.4519 1.56032C11.4519 0.700285 10.7516 0 9.89159 0C9.03156 0 8.33127 0.700285 8.33127 1.56032C8.33127 1.75719 8.37186 1.94284 8.43834 2.1164C5.25295 2.7856 2.85938 5.61092 2.85938 8.99664C2.85938 9.2341 2.87146 9.46897 2.89478 9.70038H16.8884ZM9.36055 1.56118C9.36055 1.2676 9.59887 1.02927 9.89245 1.02927C10.186 1.02927 10.4244 1.2676 10.4244 1.56118C10.4244 1.7356 10.3346 1.88326 10.2033 1.98083C10.0997 1.97565 9.9978 1.96443 9.89245 1.96443C9.78711 1.96443 9.68435 1.97565 9.58073 1.98083C9.44948 1.88326 9.36055 1.7356 9.36055 1.56118Z"
                fill="#0962BA" />
        </g>
        <defs>
            <clipPath id="clip0_4542_13774">
                <rect width="20" height="20" fill="white" />
            </clipPath>
        </defs>
    </svg>
    <svg class="not-wl" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" view="delivery" style="display: {{svgProgramada}};">
        <path
            d="M4.53456 1.73926V3.65628H3.53248C2.42718 3.65628 1.52832 4.51606 1.52832 5.5733V18.9924C1.52832 20.0497 2.42718 20.9095 3.53248 20.9095H7.54079V18.9924H3.53248V9.40734H17.5616V11.3244H19.5657V5.5733C19.5657 4.51606 18.6669 3.65628 17.5616 3.65628H16.5595V1.73926H14.5553V3.65628H6.53871V1.73926H4.53456ZM3.53248 5.5733H17.5616V7.49032H3.53248V5.5733Z"
            fill="#0962BA" />
        <path d="M6.76439 18.9924H8.54202V20.9097H6.76439V18.9924Z" fill="#0962BA" />
        <path
            d="M14.7561 11.5394C11.7294 11.5394 9.26396 13.8976 9.26396 16.7927C9.26396 19.6879 11.7294 22.0461 14.7561 22.0461C17.7828 22.0461 20.2483 19.6879 20.2483 16.7927C20.2483 13.8976 17.7828 11.5394 14.7561 11.5394ZM14.7561 12.5901C17.1892 12.5901 19.1498 14.4654 19.1498 16.7927C19.1498 19.12 17.1892 20.9954 14.7561 20.9954C12.323 20.9954 10.3624 19.12 10.3624 16.7927C10.3624 14.4654 12.323 12.5901 14.7561 12.5901ZM14.7561 13.6407C14.4528 13.6407 14.2069 13.8759 14.2069 14.1661V16.4188C14.2069 16.7975 14.3642 17.1607 14.6441 17.4285L16.1763 18.8941C16.3908 19.0992 16.7385 19.0992 16.953 18.8941C17.1674 18.6889 17.1674 18.3564 16.953 18.1512L15.7426 16.9934C15.4626 16.7257 15.3053 16.3625 15.3053 15.9838V14.1661C15.3053 13.8759 15.0594 13.6407 14.7561 13.6407Z"
            fill="#0962BA" />
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.04004 16.7927C9.04004 13.7793 11.6057 11.3252 14.7561 11.3252C17.9065 11.3252 20.4722 13.7793 20.4722 16.7927C20.4722 19.8062 17.9065 22.2603 14.7561 22.2603C11.6057 22.2603 9.04004 19.8062 9.04004 16.7927ZM14.7561 11.7536C11.853 11.7536 9.48788 14.0159 9.48788 16.7927C9.48788 19.5696 11.853 21.8319 14.7561 21.8319C17.6592 21.8319 20.0243 19.5696 20.0243 16.7927C20.0243 14.0159 17.6592 11.7536 14.7561 11.7536ZM14.7561 12.8042C12.4467 12.8042 10.5863 14.5837 10.5863 16.7927C10.5863 19.0018 12.4467 20.7812 14.7561 20.7812C17.0655 20.7812 18.9259 19.0018 18.9259 16.7927C18.9259 14.5837 17.0655 12.8042 14.7561 12.8042ZM10.1385 16.7927C10.1385 14.3471 12.1994 12.3759 14.7561 12.3759C17.3129 12.3759 19.3737 14.3471 19.3737 16.7927C19.3737 19.2383 17.3129 21.2096 14.7561 21.2096C12.1994 21.2096 10.1385 19.2383 10.1385 16.7927ZM14.7561 13.8549C14.5765 13.8549 14.4308 13.9942 14.4308 14.1661V16.4188C14.4308 16.7407 14.5645 17.0494 14.8025 17.277L16.3347 18.7426C16.4617 18.8641 16.6676 18.8641 16.7946 18.7426C16.9216 18.6211 16.9216 18.4242 16.7946 18.3027L15.5842 17.1449C15.2623 16.8369 15.0814 16.4193 15.0814 15.9838V14.1661C15.0814 13.9942 14.9358 13.8549 14.7561 13.8549ZM13.983 14.1661C13.983 13.7576 14.3291 13.4265 14.7561 13.4265C15.1831 13.4265 15.5292 13.7576 15.5292 14.1661V15.9838C15.5292 16.3057 15.6629 16.6144 15.9009 16.842L17.1113 17.9998C17.4132 18.2886 17.4132 18.7568 17.1113 19.0455C16.8094 19.3343 16.3199 19.3343 16.018 19.0455L14.4858 17.5799C14.1638 17.272 13.983 16.8543 13.983 16.4188V14.1661Z"
            fill="#0962BA" />
    </svg>
    <p>{{info}}</p>
</div>