<div class="purchase-data-area" key="{{codigoPedidoCompleto}}" type="{{tipoPedido}}" {{telefoneFix}}>
    {{message_canceled}}
    <div class="purchase-data-header">
        <p>Pedido</p>
        <p>{{codigoPedido}}</p>
        <div class="right">
            <button>
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.3 5.3999H2.7C1.206 5.3999 0 6.6059 0 8.0999V13.4999H3.6V17.0999H14.4V13.4999H18V8.0999C18 6.6059 16.794 5.3999 15.3 5.3999ZM12.6 15.2999H5.4V10.7999H12.6V15.2999ZM15.3 8.9999C14.805 8.9999 14.4 8.5949 14.4 8.0999C14.4 7.6049 14.805 7.1999 15.3 7.1999C15.795 7.1999 16.2 7.6049 16.2 8.0999C16.2 8.5949 15.795 8.9999 15.3 8.9999ZM14.4 0.899902H3.6V4.4999H14.4V0.899902Z"
                        fill="#F16B24" />
                </svg>Imprimir
            </button>
            {{purchase_data_header_info}}
            {{more_options}}
        </div>
    </div>
    <div class="purchase-data-body">
        <div class="purchase-data-body-left">
            <div class="sales-progress">
                <div class="center-abs">
                    <div class="sprogress position-{{status}}">
                        <div class="sprogress_cancel">
                            <svg class="not-wl" width="80" height="76" viewBox="0 0 80 76" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_4462_3111)">
                                    <path
                                        d="M53.8333 9.70253L51.1308 7.00003L40.4167 17.7142L29.7025 7.00003L27 9.70253L37.7142 20.4167L27 31.1309L29.7025 33.8334L40.4167 23.1192L51.1308 33.8334L53.8333 31.1309L43.1192 20.4167L53.8333 9.70253Z"
                                        fill="#B00020" />
                                </g>
                                <path
                                    d="M9.88068 50.3281H8.0142C7.98011 50.0866 7.91051 49.8722 7.8054 49.6847C7.70028 49.4943 7.56534 49.3324 7.40057 49.1989C7.2358 49.0653 7.04545 48.9631 6.82955 48.892C6.61648 48.821 6.38494 48.7855 6.13494 48.7855C5.68324 48.7855 5.28977 48.8977 4.95455 49.1222C4.61932 49.3437 4.35938 49.6676 4.17472 50.0938C3.99006 50.517 3.89773 51.0312 3.89773 51.6364C3.89773 52.2585 3.99006 52.7812 4.17472 53.2045C4.36222 53.6278 4.62358 53.9474 4.95881 54.1634C5.29403 54.3793 5.68182 54.4872 6.12216 54.4872C6.36932 54.4872 6.59801 54.4545 6.80824 54.3892C7.02131 54.3239 7.21023 54.2287 7.375 54.1037C7.53977 53.9759 7.67614 53.821 7.78409 53.6392C7.89489 53.4574 7.97159 53.25 8.0142 53.017L9.88068 53.0256C9.83239 53.4261 9.71165 53.8125 9.51847 54.1847C9.32813 54.554 9.07102 54.8849 8.74716 55.1776C8.42614 55.4673 8.04261 55.6974 7.59659 55.8679C7.15341 56.0355 6.65199 56.1193 6.09233 56.1193C5.31392 56.1193 4.6179 55.9432 4.00426 55.5909C3.39347 55.2386 2.91051 54.7287 2.5554 54.0611C2.20312 53.3935 2.02699 52.5852 2.02699 51.6364C2.02699 50.6847 2.20597 49.875 2.56392 49.2074C2.92188 48.5398 3.40767 48.0312 4.02131 47.6818C4.63494 47.3295 5.32528 47.1534 6.09233 47.1534C6.59801 47.1534 7.06676 47.2244 7.49858 47.3665C7.93324 47.5085 8.31818 47.7159 8.65341 47.9886C8.98864 48.2585 9.26136 48.5895 9.47159 48.9815C9.68466 49.3736 9.82102 49.8224 9.88068 50.3281ZM12.544 56H10.5668L13.5795 47.2727H15.9574L18.9659 56H16.9886L14.8026 49.267H14.7344L12.544 56ZM12.4205 52.5696H17.0909V54.0099H12.4205V52.5696ZM27.3161 47.2727V56H25.7223L21.9254 50.5071H21.8615V56H20.0163V47.2727H21.6357L25.4027 52.7614H25.4794V47.2727H27.3161ZM36.5408 50.3281H34.6744C34.6403 50.0866 34.5707 49.8722 34.4656 49.6847C34.3604 49.4943 34.2255 49.3324 34.0607 49.1989C33.896 49.0653 33.7056 48.9631 33.4897 48.892C33.2766 48.821 33.0451 48.7855 32.7951 48.7855C32.3434 48.7855 31.9499 48.8977 31.6147 49.1222C31.2795 49.3437 31.0195 49.6676 30.8349 50.0938C30.6502 50.517 30.5579 51.0312 30.5579 51.6364C30.5579 52.2585 30.6502 52.7812 30.8349 53.2045C31.0224 53.6278 31.2837 53.9474 31.619 54.1634C31.9542 54.3793 32.342 54.4872 32.7823 54.4872C33.0295 54.4872 33.2582 54.4545 33.4684 54.3892C33.6815 54.3239 33.8704 54.2287 34.0352 54.1037C34.1999 53.9759 34.3363 53.821 34.4442 53.6392C34.555 53.4574 34.6317 53.25 34.6744 53.017L36.5408 53.0256C36.4925 53.4261 36.3718 53.8125 36.1786 54.1847C35.9883 54.554 35.7312 54.8849 35.4073 55.1776C35.0863 55.4673 34.7028 55.6974 34.2567 55.8679C33.8136 56.0355 33.3121 56.1193 32.7525 56.1193C31.9741 56.1193 31.2781 55.9432 30.6644 55.5909C30.0536 55.2386 29.5707 54.7287 29.2156 54.0611C28.8633 53.3935 28.6871 52.5852 28.6871 51.6364C28.6871 50.6847 28.8661 49.875 29.2241 49.2074C29.582 48.5398 30.0678 48.0312 30.6815 47.6818C31.2951 47.3295 31.9854 47.1534 32.7525 47.1534C33.2582 47.1534 33.7269 47.2244 34.1587 47.3665C34.5934 47.5085 34.9783 47.7159 35.3136 47.9886C35.6488 48.2585 35.9215 48.5895 36.1317 48.9815C36.3448 49.3736 36.4812 49.8224 36.5408 50.3281ZM37.864 56V47.2727H43.7447V48.794H39.7092V50.8736H43.4421V52.3949H39.7092V54.4787H43.7617V56H37.864ZM45.2116 56V47.2727H47.0568V54.4787H50.7983V56H45.2116ZM53.7472 56H51.7699L54.7827 47.2727H57.1605L60.169 56H58.1918L56.0057 49.267H55.9375L53.7472 56ZM53.6236 52.5696H58.294V54.0099H53.6236V52.5696ZM64.3132 56H61.2195V47.2727H64.3388C65.2166 47.2727 65.9723 47.4474 66.6058 47.7969C67.2393 48.1435 67.7266 48.642 68.0675 49.2926C68.4112 49.9432 68.5831 50.7216 68.5831 51.6278C68.5831 52.5369 68.4112 53.3182 68.0675 53.9716C67.7266 54.625 67.2365 55.1264 66.5973 55.4759C65.9609 55.8253 65.1996 56 64.3132 56ZM63.0646 54.419H64.2365C64.782 54.419 65.2408 54.3224 65.6129 54.1293C65.9879 53.9332 66.2692 53.6307 66.4567 53.2216C66.647 52.8097 66.7422 52.2784 66.7422 51.6278C66.7422 50.983 66.647 50.456 66.4567 50.0469C66.2692 49.6378 65.9893 49.3366 65.6172 49.1435C65.245 48.9503 64.7862 48.8537 64.2408 48.8537H63.0646V54.419ZM77.9698 51.6364C77.9698 52.5881 77.7894 53.3977 77.4286 54.0653C77.0707 54.733 76.582 55.2429 75.9627 55.5952C75.3462 55.9446 74.6531 56.1193 73.8832 56.1193C73.1076 56.1193 72.4116 55.9432 71.7951 55.5909C71.1786 55.2386 70.6914 54.7287 70.3335 54.0611C69.9755 53.3935 69.7965 52.5852 69.7965 51.6364C69.7965 50.6847 69.9755 49.875 70.3335 49.2074C70.6914 48.5398 71.1786 48.0312 71.7951 47.6818C72.4116 47.3295 73.1076 47.1534 73.8832 47.1534C74.6531 47.1534 75.3462 47.3295 75.9627 47.6818C76.582 48.0312 77.0707 48.5398 77.4286 49.2074C77.7894 49.875 77.9698 50.6847 77.9698 51.6364ZM76.0991 51.6364C76.0991 51.0199 76.0067 50.5 75.8221 50.0767C75.6403 49.6534 75.3832 49.3324 75.0508 49.1136C74.7184 48.8949 74.3292 48.7855 73.8832 48.7855C73.4371 48.7855 73.0479 48.8949 72.7156 49.1136C72.3832 49.3324 72.1246 49.6534 71.94 50.0767C71.7582 50.5 71.6673 51.0199 71.6673 51.6364C71.6673 52.2528 71.7582 52.7727 71.94 53.196C72.1246 53.6193 72.3832 53.9403 72.7156 54.1591C73.0479 54.3778 73.4371 54.4872 73.8832 54.4872C74.3292 54.4872 74.7184 54.3778 75.0508 54.1591C75.3832 53.9403 75.6403 53.6193 75.8221 53.196C76.0067 52.7727 76.0991 52.2528 76.0991 51.6364Z"
                                    fill="#B00020" />
                                <defs>
                                    <clipPath id="clip0_4462_3111">
                                        <rect x="12" width="56" height="40" rx="20" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            {{status_cancelado}}
                        </div>
                        {{svg_status}}
                    </div>
                    {{buttonProgress}}
                </div>
            </div>
            <div class="sales-address">
                <p class="sales-address-name">{{nomeUsuario}}</p>
                <p class="sales-address-phone">{{telefone}}</p>
                <div view="delivery">
                    <div class="line-breaker"></div>
                    <p class="sales-address-address">Endereço:</p>
                    <p class="sales-address-address-text">{{endereco}}</p>
                    {{complemento}}
                </div>
            </div>
            {{sales-payment}}
        </div>
        <div class="purchase-data-body-right">
            <div class="sales-item">
                <div class="sales-item-header">
                    <p>Itens do pedido</p>
                </div>
                {{carrinhoList}}
            </div>