<button class="sales-progress-button" key="{{code}}" {{telefone}} type="{{type}}"
    index="{{index}}">
    <span>{{next_count}}</span>
    <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M1.12588 0.635578C1.16568 0.592602 1.21296 0.558505 1.26501 0.53524C1.31707 0.511975 1.37287 0.5 1.42923 0.5C1.48559 0.5 1.54139 0.511975 1.59344 0.53524C1.6455 0.558505 1.69278 0.592602 1.73258 0.635578L6.87412 6.17339C6.91402 6.21626 6.94568 6.26718 6.96728 6.32325C6.98888 6.37932 7 6.43942 7 6.50012C7 6.56082 6.98888 6.62093 6.96728 6.67699C6.94568 6.73306 6.91402 6.78398 6.87412 6.82685L1.73258 12.3647C1.65213 12.4513 1.54301 12.5 1.42923 12.5C1.31545 12.5 1.20633 12.4513 1.12588 12.3647C1.04542 12.278 1.00022 12.1605 1.00022 12.0379C1.00022 11.9154 1.04542 11.7979 1.12588 11.7112L5.96493 6.50012L1.12588 1.28904C1.08598 1.24617 1.05432 1.19525 1.03272 1.13918C1.01112 1.08312 1 1.02301 1 0.962309C1 0.901608 1.01112 0.841503 1.03272 0.785438C1.05432 0.729372 1.08598 0.678446 1.12588 0.635578Z"
            fill="#FCFCFC" stroke="#FCFCFC" />
    </svg>
</button>