<div class="sales-payment">
    <p class="sales-payment-title">RECEBER PAGAMENTO NA ENTREGA</p>
    {{sales-method}}
    <div class="d-flex">
        <p>Subtotal:</p>
        <p>{{vProds}}</p>
    </div>
    <div class="d-flex">
        <p>Frete:</p>
        <p>{{valorFrete}}</p>
    </div>
    {{cupom}}
    {{desconto}}
    <div class="d-flex">
        <p class="sales-payment-total-title">Total:</p>
        <p class="sales-payment-total">{{total}}</p>
    </div>
    <div class="line-breaker"></div>
    <p>Em caso de indisponibilidade de troco, arredondar o valor da compra para baixo, em favor do
        consumidor.
        Artigo 39, X, da Lei nº 8.078.</p>
</div>