<div class="d-flex sales-payment-price">
    <p>Dinheiro:</p>
    <p>{{valorPagoDinheiro}}</p>
</div>
<div class="d-flex sales-payment-change">
    <p>Troco:</p>
    <p>{{vTroco}}</p>
</div>
<div class="line-breaker"></div>