<div class="sales-payment">
    <p class="sales-payment-title">Conta</p>
    <div class="line-breaker"></div>
    <div class="d-flex">
        <p class="sales-payment-total-title">Total:</p>
        <p class="sales-payment-total">{{total}}</p>
    </div>
</div>