<div class="sales-item-each">
    <div class="sales-item-each-header">
        <img src="{{url}}">
        <div class="sales-item-each-body">
            <p class="sales-item-each-title">{{nomeProduto}}</p>
            <p class="sales-item-each-measure">{{medida}}</p>
            <div class="sales-item-each-payment">
                <p>{{quantidade}}</p>
                <p>un</p>
                <p>x</p>
                <p>{{valorInicial}}</p>
                <p>=</p>
                <p>{{valorFinal}}</p>
            </div>
        </div>
    </div>
    {{sales-item-each-extra}}
</div>