<div>
    <svg class="not-wl" width="56" height="40" viewBox="0 0 56 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M31.2398 17.3333L27.9998 6.66666L24.7598 17.3333H14.6665L22.9065 23.2133L19.7732 33.3333L27.9998 27.08L36.2398 33.3333L33.1065 23.2133L41.3332 17.3333H31.2398Z"
            fill="#BFBFBF" />
    </svg>
    <h1>ENTRADA</h1>
    {{status_hours_0}}
</div>
<div>
    <svg class="not-wl" width="56" height="40" viewBox="0 0 56 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_4910_13355)">
            <path
                d="M27.9019 3.99989C28.7882 3.94888 29.6671 4.18399 30.4054 4.66955C31.1437 5.1551 31.701 5.86459 31.9928 6.69036C32.7618 6.78755 33.4711 7.14955 33.9952 7.71229C34.5193 8.27503 34.8244 9.00223 34.8564 9.76519C34.8667 10.581 34.5856 11.3744 34.0621 12.0067C33.5387 12.639 32.8062 13.07 31.9928 13.2244V15.5305H23.811V13.2244C22.9976 13.07 22.2651 12.639 21.7417 12.0067C21.2182 11.3744 20.9371 10.581 20.9474 9.76519C20.9794 9.00222 21.2845 8.27503 21.8086 7.71229C22.3327 7.14955 23.042 6.78756 23.811 6.69036C24.1028 5.86459 24.6601 5.1551 25.3984 4.66954C26.1367 4.18399 27.0157 3.94888 27.9019 3.99989V3.99989ZM31.6604 16.2992C31.8815 16.7824 31.9948 17.3066 31.9928 17.8366C31.9672 18.8804 31.522 19.8715 30.7549 20.5922C29.9879 21.3129 28.9617 21.7042 27.9019 21.6801C26.8421 21.7042 25.8159 21.3129 25.0489 20.5922C24.2818 19.8715 23.8366 18.8804 23.811 17.8366C23.809 17.3066 23.9223 16.7824 24.1434 16.2992H31.6604ZM25.0333 23.9161L28.5859 27.2539C28.6593 27.3228 28.7177 27.4058 28.7577 27.4976C28.7976 27.5895 28.8182 27.6884 28.8182 27.7883V35.2612C28.8182 35.4571 28.7392 35.645 28.5985 35.7835C28.4579 35.9221 28.2671 35.9999 28.0682 35.9999H19.75C19.5511 35.9999 19.3603 35.9221 19.2197 35.7835C19.079 35.645 19 35.4571 19 35.2612V27.9285C19 25.993 21.2661 24.4309 24.3408 23.7263C24.4632 23.6993 24.5904 23.7025 24.7112 23.7357C24.832 23.7688 24.9427 23.8307 25.0333 23.9161V23.9161ZM26.3636 27.1598C26.2108 27.1669 26.0635 27.218 25.9399 27.3068C25.8163 27.3956 25.722 27.5182 25.6684 27.6593C25.6149 27.8004 25.6047 27.954 25.6389 28.1008C25.6732 28.2476 25.7504 28.3813 25.8611 28.4853C25.9718 28.5893 26.111 28.659 26.2616 28.6858C26.4121 28.7126 26.5673 28.6953 26.708 28.636C26.8486 28.5767 26.9684 28.478 27.0527 28.3523C27.1369 28.2265 27.1818 28.0792 27.1818 27.9285C27.1767 27.7197 27.0877 27.5215 26.9343 27.3774C26.7808 27.2332 26.5756 27.155 26.3636 27.1598V27.1598ZM26.3636 29.8502C26.2108 29.8573 26.0635 29.9085 25.9399 29.9972C25.8163 30.086 25.722 30.2086 25.6684 30.3498C25.6149 30.4909 25.6047 30.6444 25.6389 30.7913C25.6732 30.9381 25.7504 31.0718 25.8611 31.1758C25.9718 31.2798 26.111 31.3495 26.2616 31.3763C26.4121 31.4031 26.5673 31.3857 26.708 31.3264C26.8486 31.2671 26.9684 31.1685 27.0527 31.0427C27.1369 30.917 27.1818 30.7696 27.1818 30.619C27.1767 30.4102 27.0877 30.212 26.9343 30.0678C26.7808 29.9237 26.5756 29.8454 26.3636 29.8502V29.8502ZM26.3636 32.5407C26.2108 32.5478 26.0635 32.5989 25.9399 32.6877C25.8163 32.7765 25.722 32.8991 25.6684 33.0402C25.6149 33.1814 25.6047 33.3349 25.6389 33.4817C25.6732 33.6286 25.7504 33.7623 25.8611 33.8663C25.9718 33.9703 26.111 34.04 26.2616 34.0667C26.4121 34.0935 26.5673 34.0762 26.708 34.0169C26.8486 33.9576 26.9684 33.859 27.0527 33.7332C27.1369 33.6074 27.1818 33.4601 27.1818 33.3094C27.1767 33.1007 27.0877 32.9024 26.9343 32.7583C26.7808 32.6142 26.5756 32.5359 26.3636 32.5407V32.5407ZM27.27 23.334C27.2118 23.3345 27.1562 23.3575 27.115 23.398C27.0739 23.4386 27.0505 23.4934 27.05 23.5507C27.0511 23.5787 27.0578 23.6062 27.0698 23.6315C27.0818 23.6569 27.0989 23.6796 27.12 23.6984C27.1396 23.7178 27.163 23.7331 27.1888 23.7432C27.2146 23.7534 27.2422 23.7583 27.27 23.7575C27.2983 23.7584 27.3265 23.7537 27.3529 23.7437C27.3793 23.7337 27.4035 23.7187 27.4239 23.6994C27.4444 23.6802 27.4608 23.6571 27.4721 23.6316C27.4835 23.6061 27.4895 23.5786 27.49 23.5507C27.4895 23.4934 27.4662 23.4385 27.425 23.398C27.3839 23.3575 27.3282 23.3345 27.27 23.334ZM28 23.3143C27.75 23.3143 27.51 23.3242 27.27 23.334C27.2118 23.3345 27.1562 23.3575 27.115 23.398C27.0739 23.4386 27.0505 23.4934 27.05 23.5507C27.0511 23.5787 27.0578 23.6062 27.0698 23.6315C27.0818 23.6569 27.0989 23.6796 27.12 23.6984L30.21 26.6039C30.2877 26.6736 30.3493 26.7589 30.3907 26.854C30.4321 26.9492 30.4523 27.052 30.45 27.1554V35.0583C30.45 35.308 30.5507 35.5475 30.73 35.7241C30.9093 35.9007 31.1525 35.9999 31.406 35.9999H36.25C36.4489 35.9999 36.6397 35.9221 36.7803 35.7835C36.921 35.645 37 35.4571 37 35.2612V27.9237C37 25.2743 32.76 23.3143 28 23.3143Z"
                fill="#BFBFBF" />
        </g>
        <defs>
            <clipPath id="clip0_4910_13355">
                <rect width="18" height="32" fill="white" transform="translate(19 4)" />
            </clipPath>
        </defs>
    </svg>
    <h1>EM PREPARO</h1>
    {{status_hours_1}}
</div>
<div>
    <svg class="not-wl" width="56" height="40" viewBox="0 0 56 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.8789 18.3605C31.9164 18.3608 31.9632 18.3705 32.0007 18.3708L32.0008 18.3615L31.8789 18.3605Z"
            fill="#BFBFBF" />
        <path
            d="M45.7108 28.5892C45.6443 27.991 45.4744 27.4089 45.2087 26.8689C44.7239 25.8578 43.9347 25.024 42.9519 24.4847C41.9691 23.9454 40.8422 23.7277 39.7293 23.8621C39.3681 23.9069 39.0124 23.989 38.668 24.107L36.6807 20.5085C36.8772 20.5754 37.0819 20.6149 37.2891 20.6259C37.4697 20.6426 37.6518 20.6217 37.8239 20.5644C38.0966 20.4634 37.7456 18.6036 37.684 18.0966C37.6133 17.5427 37.5232 17.073 37.4722 16.4161C37.4719 16.3799 37.4625 16.3443 37.4448 16.3127C37.4314 16.2815 37.4087 16.2551 37.3798 16.2372C37.3329 16.1895 37.2692 16.162 37.2023 16.1607C37.1835 16.1606 37.1741 16.1699 37.1647 16.1698C36.7035 16.2242 36.2716 16.4246 35.9321 16.7416C35.59 17.0614 35.3543 17.4786 35.2571 17.9369L34.9706 17.4188L34.2496 16.1094C34.2218 16.0717 34.2033 16.034 34.1662 15.9868C34.1384 15.9491 34.1104 15.9207 34.0827 15.883C33.9687 15.7675 33.8275 15.6826 33.6721 15.6359C33.5368 15.5895 33.3924 15.5755 33.2506 15.5951L32.7908 15.6477C32.7907 15.6571 32.8 15.6666 32.8 15.676C32.9063 16.037 32.8755 16.4245 32.7137 16.7643C32.5518 17.104 32.2703 17.372 31.923 17.5168C31.8855 17.5258 31.8478 17.5443 31.8102 17.5534C31.445 17.6413 31.0671 17.6638 30.6941 17.6197L30.5629 17.6186C30.8973 18.0058 31.4892 17.851 31.9209 17.7887C32.1837 17.7439 32.4371 17.7084 32.6999 17.6729L32.8126 17.655L32.8217 17.6833L33.21 18.371C32.4976 18.3654 31.7852 18.3504 31.0727 18.3542C30.979 18.3535 30.8852 18.3621 30.782 18.3612C30.6977 18.3606 30.604 18.3505 30.5196 18.3499L28.7666 18.3361C28.7103 18.3341 28.6538 18.3368 28.5978 18.3441C28.3231 18.3626 28.0563 18.444 27.8179 18.5818C27.6668 18.665 27.5299 18.7715 27.4122 18.8975L27.8614 19.0042C28.3199 19.111 28.7503 19.2175 29.003 19.2758C29.0591 19.2856 29.1059 19.2954 29.1059 19.3047L29.1434 19.305L29.2463 19.3246L29.2837 19.3437C29.3678 19.3725 29.4426 19.4012 29.508 19.4298L29.6201 19.487C30.1124 19.738 30.491 20.1668 30.6794 20.6865C30.8724 21.2224 30.8578 21.8112 30.6383 22.3369L27.5829 29.4035C27.4682 29.6707 27.3004 29.9119 27.0898 30.1124C26.8815 30.3163 26.6349 30.477 26.3642 30.585C26.0945 30.688 25.808 30.7398 25.5193 30.7378C25.2286 30.7344 24.9415 30.6727 24.6751 30.5562C24.4087 30.4397 24.1683 30.2709 23.9684 30.0597C23.7703 29.8451 23.6134 29.5959 23.5054 29.3245C23.3989 29.0557 23.347 28.7683 23.3527 28.4792C23.3616 28.1893 23.4243 27.9036 23.5374 27.6365L25.3326 23.4769L22.6007 22.7614C22.132 22.6459 21.7032 22.4059 21.3593 22.067C21.1254 21.8293 20.9313 21.5554 20.7845 21.2559C20.6336 21.3076 20.4746 21.3318 20.3152 21.3272C20.1596 21.3272 20.005 21.3039 19.8563 21.258L14.2921 19.5073L12.5245 18.9588C12.4771 19.0318 12.4388 19.1102 12.4102 19.1924L12.3233 19.5106L12.1589 20.1471C12.1428 20.221 12.1359 20.2965 12.1384 20.3721C12.1529 20.4472 12.1776 20.52 12.2117 20.5884C12.2536 20.6541 12.3036 20.7144 12.3603 20.7678C12.425 20.8072 12.4939 20.8392 12.5658 20.8632L12.7903 20.9306L16.3637 21.9247L16.3917 21.9343L18.5424 22.6359C18.5791 22.646 18.6138 22.6621 18.6452 22.6836L17.8013 23.8962L17.5832 24.204C16.9493 23.9245 16.2637 23.7817 15.5709 23.7849C14.5793 23.7786 13.6047 24.0434 12.7525 24.5506C11.9009 25.0665 11.2067 25.8059 10.7453 26.6884C10.2839 27.571 10.0728 28.5632 10.1351 29.5572C10.1931 30.5518 10.5228 31.5115 11.0883 32.3316C11.6566 33.145 12.4314 33.7921 13.3329 34.2062C14.2382 34.6082 15.2368 34.7522 16.2188 34.6226C17.2007 34.4929 18.1278 34.0946 18.8979 33.4715C19.6706 32.8414 20.2572 32.0127 20.5949 31.0744C20.814 30.4972 20.9238 29.8842 20.9184 29.2668C20.9193 29.1542 20.9202 29.0417 20.9117 28.9291C20.8818 28.2237 20.7052 27.5324 20.3933 26.8991C20.3474 26.7847 20.2918 26.6745 20.2271 26.5695C20.1994 26.513 20.1623 26.4658 20.1346 26.4094C19.9065 26.0358 19.639 25.6878 19.3365 25.3714L19.8867 24.5503L20.361 23.8506L20.5842 24.0775C20.6493 24.1436 20.7144 24.2099 20.7701 24.276C20.8352 24.3515 20.8909 24.4176 20.9559 24.4931C21.0116 24.5686 21.0673 24.6347 21.1323 24.7196C21.4163 25.0977 21.6642 25.5016 21.8728 25.926C21.9104 25.9995 21.9442 26.0749 21.9741 26.1519C22.0663 26.3495 22.1491 26.5472 22.2225 26.7541C22.2592 26.8575 22.2959 26.961 22.3325 27.0738L22.3874 27.2431C22.4515 27.4405 22.4967 27.6472 22.5421 27.8352C22.5784 27.9949 22.6146 28.1546 22.6416 28.3049C22.6596 28.3988 22.6776 28.5022 22.6862 28.596C22.786 29.2037 22.8251 29.8198 22.803 30.4352C22.8014 30.6049 22.8562 30.7703 22.9587 30.9054C23.0589 31.0258 23.1916 31.1148 23.341 31.1617C23.4053 31.1777 23.4716 31.1845 23.5378 31.182L25.7126 31.199C26.1813 31.2027 26.6595 31.1971 27.1282 31.2008C27.9703 31.2985 28.8235 31.2189 29.6331 30.9672C30.3465 30.6484 30.9342 30.1023 31.3046 29.414L32.1415 27.9011L32.7213 26.8834L34.4774 24.1116L34.5249 24.0369L34.5913 23.9343L34.9709 23.3464L35.0469 23.225L35.104 23.1129C35.1326 23.0569 35.1612 23.0008 35.1898 22.9354C35.2205 22.8731 35.2431 22.8071 35.257 22.739C35.2991 22.5767 35.3224 22.4101 35.3265 22.2424L35.3268 22.2049L36.9259 25.0969C36.8598 25.1526 36.8032 25.1991 36.7372 25.2548C36.0626 25.8887 35.5569 26.681 35.266 27.5599C34.9877 28.4452 34.9321 29.3854 35.1038 30.2973C35.2825 31.2053 35.6905 32.0524 36.2888 32.758C36.8871 33.4637 37.6559 34.0046 38.5221 34.3291C39.3863 34.6493 40.3186 34.7401 41.2283 34.5928C42.138 34.4454 42.994 34.0649 43.713 33.4882C44.4356 32.914 44.9971 32.1623 45.3426 31.3063C45.6972 30.4474 45.824 29.5115 45.7108 28.5892ZM18.5461 30.5237C18.2082 31.3306 17.5668 31.9724 16.7602 32.3104C16.3608 32.4742 15.9337 32.56 15.502 32.5632C14.9606 32.5561 14.4293 32.4158 13.955 32.1547C13.4807 31.8936 13.0779 31.5196 12.7822 31.0659C12.4865 30.6122 12.307 30.0926 12.2595 29.553C12.212 29.0135 12.2981 28.4705 12.51 27.9721C12.6814 27.5754 12.926 27.2146 13.2308 26.9085C13.5367 26.6023 13.9024 26.3625 14.3051 26.2041C14.7005 26.039 15.1254 25.9561 15.5539 25.9607C15.8138 25.9588 16.0726 25.9956 16.3217 26.0699L14.6899 28.5332C14.6085 28.6486 14.5502 28.7787 14.5182 28.9164C14.4951 29.0527 14.4909 29.1915 14.5055 29.3289C14.5381 29.4617 14.5908 29.5886 14.662 29.7053C14.7348 29.8203 14.8296 29.9199 14.9409 29.9983C15.1082 30.1226 15.3124 30.187 15.5207 30.181C15.6949 30.1823 15.8664 30.1384 16.0186 30.0536C16.1695 29.9699 16.2989 29.8521 16.3963 29.7096L18.1035 27.2C18.5631 27.7836 18.8089 28.5072 18.7998 29.2501C18.8008 29.6873 18.7146 30.1203 18.5461 30.5237ZM43.5726 29.8761C43.4395 30.5526 43.097 31.17 42.5935 31.6407C42.0901 32.1115 41.4513 32.4118 40.7677 32.499C40.1044 32.5788 39.4326 32.4515 38.8444 32.1346C38.2561 31.8177 37.7802 31.3267 37.4817 30.7287C37.1887 30.1288 37.0768 29.4566 37.1594 28.7941C37.251 28.1322 37.5401 27.5134 37.9889 27.0185L39.394 29.5526C39.4566 29.6663 39.542 29.766 39.6448 29.8453C39.7473 29.9273 39.8646 29.9887 39.9903 30.0262C40.1177 30.0645 40.2519 30.0751 40.3838 30.0574C40.5126 30.0421 40.6371 30.0017 40.7503 29.9384C40.868 29.8772 40.9711 29.7914 41.0528 29.6868C41.1345 29.5823 41.1928 29.4615 41.2238 29.3325C41.2604 29.2047 41.2742 29.0714 41.2644 28.9388C41.2443 28.8098 41.2008 28.6855 41.136 28.5721L39.731 26.0287C39.8147 26.0091 39.8993 25.9941 39.9845 25.9838C40.022 25.984 40.0502 25.9749 40.0877 25.9752C40.7388 25.9149 41.3926 26.0576 41.9595 26.3838C42.5659 26.714 43.0463 27.2355 43.3259 27.8671C43.6218 28.4928 43.7083 29.1973 43.5726 29.8761Z"
            fill="#BFBFBF" />
        <path d="M32.0008 18.3615L32.0007 18.3708C31.9632 18.3705 31.9164 18.3608 31.8789 18.3605L32.0008 18.3615Z"
            fill="#BFBFBF" />
        <path d="M30.6509 18.3509L30.6508 18.3603C30.6039 18.3599 30.5665 18.3502 30.5196 18.3499L30.6509 18.3509Z"
            fill="#BFBFBF" />
        <path
            d="M32.1182 16.5335C32.0031 16.7399 31.811 16.8923 31.5838 16.9573C31.3566 17.0223 31.113 16.9946 30.9062 16.8804L30.3648 16.576L30.2435 16.5094L29.03 15.8339L26.9864 14.6267L25.477 19.4076L25.5613 19.427C25.58 19.4272 26.1976 19.5727 26.9181 19.7472L26.9182 19.7378C27.5264 19.8833 28.2002 20.0386 28.6305 20.1546C28.6867 20.1644 28.7428 20.1836 28.799 20.1935C28.8271 20.1937 28.8552 20.2033 28.8833 20.2035L28.9113 20.2131C28.9301 20.2132 28.9395 20.2133 28.9394 20.2227L28.9674 20.2323C29.0235 20.2514 29.0797 20.2613 29.1264 20.2804C29.1357 20.2898 29.1544 20.2994 29.1637 20.3088C29.3111 20.3819 29.4438 20.4815 29.5551 20.6027C29.6583 20.7261 29.7396 20.8663 29.7956 21.0172C29.9121 21.3233 29.9061 21.6626 29.7788 21.9644L26.7233 29.031C26.6596 29.1869 26.5625 29.327 26.4388 29.4414C26.3164 29.5533 26.1763 29.6441 26.0242 29.7102C25.874 29.7777 25.7099 29.8085 25.5454 29.8002L25.536 29.8001C25.3677 29.8027 25.2011 29.7661 25.0494 29.6931C24.8976 29.6269 24.7612 29.53 24.6485 29.4086C24.5886 29.3487 24.5357 29.2822 24.4907 29.2104C24.4427 29.1411 24.4054 29.0649 24.38 28.9844C24.3169 28.8295 24.2863 28.6633 24.29 28.496C24.293 28.3282 24.3294 28.1627 24.397 28.0091L26.5837 22.9335L26.6219 22.8493L26.6219 22.84L22.8329 21.8442L22.8236 21.8441C22.6732 21.8064 22.5285 21.7484 22.3937 21.6719C22.253 21.5964 22.1242 21.5006 22.0115 21.3875C21.9519 21.3377 21.8988 21.2806 21.8535 21.2174C21.7968 21.1594 21.7498 21.0925 21.7144 21.0194C21.6504 20.9236 21.6007 20.8189 21.5669 20.7087L21.567 20.6993C21.5579 20.6618 21.5394 20.6241 21.5303 20.5865C21.4907 20.4268 21.47 20.2629 21.4685 20.0983C21.4665 20.0259 21.4733 19.9535 21.489 19.8828C21.4863 19.8442 21.4931 19.8057 21.5086 19.7704C21.5081 19.7542 21.5115 19.7381 21.5184 19.7235C21.5279 19.7049 21.528 19.6861 21.5376 19.6674L21.5377 19.6487C21.5567 19.6113 21.5762 19.527 21.6146 19.4054L21.6723 19.2183C21.682 19.1808 21.701 19.1435 21.7108 19.0966L21.7109 19.0873C21.7109 19.0779 21.7204 19.0686 21.7205 19.0498C21.7876 18.8628 21.855 18.6383 21.9319 18.395C22.23 17.4501 22.6432 16.159 22.9703 15.0923C23.0089 14.9613 23.0568 14.8304 23.0952 14.7088L23.3068 14.0258C23.3261 13.9603 23.3453 13.9041 23.3645 13.848L23.4607 13.5392C23.4822 13.4913 23.4983 13.4411 23.5087 13.3896L23.5375 13.3054C23.5472 13.2586 23.5662 13.2306 23.5664 13.2118C23.5759 13.1931 23.5853 13.1838 23.5854 13.1744C23.6462 12.9257 23.76 12.6931 23.9189 12.4924C24.0441 12.3412 24.1941 12.2123 24.3625 12.1113C24.4098 12.0812 24.4603 12.0564 24.5131 12.0375C24.749 11.9429 25.0007 11.8939 25.2548 11.8932L25.3767 11.8942C25.6617 11.9168 25.9389 11.9988 26.1904 12.1351L29.9981 14.3315L30.1755 14.4267L31.2209 15.007L31.7716 15.3115C31.9787 15.4283 32.1314 15.6222 32.1963 15.8511C32.2612 16.08 32.2332 16.3252 32.1182 16.5335Z"
            fill="#BFBFBF" />
        <path d="M34.9803 17.4188L34.9706 17.4188L34.2496 16.1094L34.9803 17.4188Z" fill="#BFBFBF" />
        <path
            d="M22.8518 11.8874C22.8604 11.9699 22.8501 12.0532 22.8218 12.131L22.6582 12.6643C22.6037 12.7853 22.5589 12.9104 22.524 13.0385C22.5047 13.1133 22.476 13.1881 22.4566 13.263C22.4374 13.3285 22.418 13.4034 22.3988 13.4689L22.3219 13.7121L22.3124 13.7214C22.2857 13.7949 22.2632 13.8699 22.245 13.946L22.2449 13.9554C22.2067 14.0489 22.1872 14.1425 22.1584 14.2267C22.1397 14.2693 22.1237 14.313 22.1105 14.3576L21.9856 14.7505L21.8317 15.2464L21.7644 15.4522L21.5817 16.0417L21.13 17.4544L21.053 17.707L20.9856 17.9316L20.9566 18.0439C20.9527 18.0604 20.9463 18.0761 20.9375 18.0906L20.8512 18.3338L20.803 18.5022C20.7836 18.5865 20.7549 18.6613 20.7356 18.7268L20.7355 18.7456C20.7107 18.7996 20.6914 18.856 20.6779 18.9139L20.6685 18.9139L20.3417 19.943C20.2865 20.1064 20.1715 20.2429 20.0199 20.325C19.9999 20.3366 19.9773 20.3429 19.9542 20.3433C19.8841 20.377 19.8065 20.3926 19.7288 20.3884C19.6652 20.3884 19.602 20.3784 19.5415 20.3588L13.9772 18.6081L12.032 18.0019C11.9538 17.9736 11.8811 17.9318 11.8174 17.8783C11.7528 17.8264 11.6991 17.7622 11.6595 17.6895C11.6241 17.6157 11.6025 17.5361 11.5957 17.4545C11.5882 17.3727 11.5952 17.2902 11.6164 17.2108L11.6164 17.2014L14.1059 9.38942C14.1538 9.25599 14.2394 9.13935 14.3523 9.05371C14.4606 8.98099 14.5883 8.94275 14.7188 8.94404L14.7563 8.94434C14.803 8.95408 14.8592 8.9639 14.906 8.97365L22.4154 11.3399C22.4949 11.3609 22.5684 11.4 22.6302 11.4541C22.6902 11.508 22.7405 11.5718 22.7787 11.6429C22.788 11.6523 22.7879 11.6617 22.7971 11.6805C22.8294 11.745 22.8481 11.8154 22.8518 11.8874Z"
            fill="#BFBFBF" />
        <path
            d="M21.5282 19.6673C21.5376 19.6674 21.5376 19.658 21.5377 19.6487L21.5376 19.6674C21.528 19.6861 21.5279 19.7049 21.5184 19.7235C21.517 19.7043 21.5204 19.685 21.5282 19.6673Z"
            fill="#BFBFBF" />
        <path
            d="M22.0115 21.3875C22.1242 21.5006 22.253 21.5964 22.3937 21.6719C22.2533 21.5998 22.1245 21.5071 22.0115 21.3969L22.0115 21.3875Z"
            fill="#BFBFBF" />
        <path d="M26.6219 22.84L26.6219 22.8493L22.8329 21.8442L26.6219 22.84Z" fill="#BFBFBF" />
        <path
            d="M29.4704 10.0427L29.4701 10.0521C29.4711 10.0609 29.4698 10.0698 29.4663 10.0779C29.4628 10.0861 29.4574 10.0932 29.4504 10.0986C29.4407 10.1077 29.4314 10.1075 29.4124 10.1165C29.4031 10.1163 29.3845 10.1065 29.3751 10.1063L28.3288 9.51074C28.2944 9.49186 28.2561 9.48135 28.217 9.48007C28.1794 9.473 28.1407 9.47536 28.1043 9.48695C28.0653 9.49532 28.0293 9.51395 28 9.54092C27.9674 9.5611 27.9409 9.58965 27.9231 9.6236L27.5618 10.2722C27.534 10.3243 27.5168 10.3813 27.5111 10.44C27.5022 10.4968 27.5073 10.5549 27.5261 10.6092C27.5437 10.6643 27.5711 10.7158 27.6071 10.7611C27.6362 10.8106 27.6819 10.8482 27.736 10.8671L28.949 11.5602C28.9724 11.5771 28.994 11.5965 29.0134 11.618C29.0304 11.643 29.0396 11.6726 29.0396 11.7029L29.0369 11.8249C29.0154 11.992 28.954 12.1516 28.8577 12.2899C28.8386 12.3083 28.8287 12.3268 28.8098 12.3358C28.7171 12.4467 28.5995 12.5341 28.4666 12.5908C28.4478 12.5904 28.4385 12.5902 28.4289 12.5994C28.4054 12.6105 28.3796 12.6164 28.3535 12.6164C28.3177 12.6309 28.279 12.6365 28.2406 12.6327C28.1777 12.6269 28.1171 12.6063 28.0638 12.5724L27.5728 12.2989C27.5122 12.2559 27.447 12.2198 27.3784 12.1913L25.9707 11.4C25.9408 11.384 25.9129 11.3644 25.8875 11.3419C25.6907 11.2208 25.527 11.0528 25.4109 10.8529C25.3007 10.6784 25.2313 10.4812 25.2081 10.2761C25.1898 10.1171 25.1902 9.95654 25.2094 9.79767C25.2239 9.62824 25.2624 9.46172 25.3235 9.30305C25.4845 8.83074 25.8094 8.43187 26.2394 8.17892C26.6645 7.91769 27.1685 7.8159 27.6616 7.89168L27.6804 7.8921C28.1874 7.97527 28.6475 8.23848 28.9762 8.63348C29.305 9.02848 29.4804 9.52882 29.4704 10.0427Z"
            fill="#BFBFBF" />
        <path
            d="M14.7555 9.0208C14.6945 9.07954 14.6437 9.14817 14.6055 9.22378C14.6426 9.14745 14.6934 9.07864 14.7555 9.0208Z"
            fill="#BFBFBF" />
    </svg>
    <h1>SAIU PARA ENTREGA</h1>
    {{status_hours_2}}
</div>
<div>
    <svg class="not-wl" width="56" height="40" viewBox="0 0 56 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.582 27.7833L18.932 21.1333L16.7153 23.35L25.582 32.2167L44.582 13.2167L42.3653 11L25.582 27.7833Z"
            fill="#BFBFBF" stroke="#BFBFBF" />
    </svg>
    <h1>CONCLUÍDO</h1>
    {{status_hours_3}}
</div>