<div>
    <svg class="not-wl" width="56" height="40" viewBox="0 0 56 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M31.2398 17.3333L27.9998 6.66666L24.7598 17.3333H14.6665L22.9065 23.2133L19.7732 33.3333L27.9998 27.08L36.2398 33.3333L33.1065 23.2133L41.3332 17.3333H31.2398Z"
            fill="#BFBFBF" />
    </svg>
    <h1>ENTRADA</h1>
    {{status_hours_0}}
</div>
<div>
    <svg class="not-wl" width="56" height="40" viewBox="0 0 56 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_4910_13355)">
            <path
                d="M27.9019 3.99989C28.7882 3.94888 29.6671 4.18399 30.4054 4.66955C31.1437 5.1551 31.701 5.86459 31.9928 6.69036C32.7618 6.78755 33.4711 7.14955 33.9952 7.71229C34.5193 8.27503 34.8244 9.00223 34.8564 9.76519C34.8667 10.581 34.5856 11.3744 34.0621 12.0067C33.5387 12.639 32.8062 13.07 31.9928 13.2244V15.5305H23.811V13.2244C22.9976 13.07 22.2651 12.639 21.7417 12.0067C21.2182 11.3744 20.9371 10.581 20.9474 9.76519C20.9794 9.00222 21.2845 8.27503 21.8086 7.71229C22.3327 7.14955 23.042 6.78756 23.811 6.69036C24.1028 5.86459 24.6601 5.1551 25.3984 4.66954C26.1367 4.18399 27.0157 3.94888 27.9019 3.99989V3.99989ZM31.6604 16.2992C31.8815 16.7824 31.9948 17.3066 31.9928 17.8366C31.9672 18.8804 31.522 19.8715 30.7549 20.5922C29.9879 21.3129 28.9617 21.7042 27.9019 21.6801C26.8421 21.7042 25.8159 21.3129 25.0489 20.5922C24.2818 19.8715 23.8366 18.8804 23.811 17.8366C23.809 17.3066 23.9223 16.7824 24.1434 16.2992H31.6604ZM25.0333 23.9161L28.5859 27.2539C28.6593 27.3228 28.7177 27.4058 28.7577 27.4976C28.7976 27.5895 28.8182 27.6884 28.8182 27.7883V35.2612C28.8182 35.4571 28.7392 35.645 28.5985 35.7835C28.4579 35.9221 28.2671 35.9999 28.0682 35.9999H19.75C19.5511 35.9999 19.3603 35.9221 19.2197 35.7835C19.079 35.645 19 35.4571 19 35.2612V27.9285C19 25.993 21.2661 24.4309 24.3408 23.7263C24.4632 23.6993 24.5904 23.7025 24.7112 23.7357C24.832 23.7688 24.9427 23.8307 25.0333 23.9161V23.9161ZM26.3636 27.1598C26.2108 27.1669 26.0635 27.218 25.9399 27.3068C25.8163 27.3956 25.722 27.5182 25.6684 27.6593C25.6149 27.8004 25.6047 27.954 25.6389 28.1008C25.6732 28.2476 25.7504 28.3813 25.8611 28.4853C25.9718 28.5893 26.111 28.659 26.2616 28.6858C26.4121 28.7126 26.5673 28.6953 26.708 28.636C26.8486 28.5767 26.9684 28.478 27.0527 28.3523C27.1369 28.2265 27.1818 28.0792 27.1818 27.9285C27.1767 27.7197 27.0877 27.5215 26.9343 27.3774C26.7808 27.2332 26.5756 27.155 26.3636 27.1598V27.1598ZM26.3636 29.8502C26.2108 29.8573 26.0635 29.9085 25.9399 29.9972C25.8163 30.086 25.722 30.2086 25.6684 30.3498C25.6149 30.4909 25.6047 30.6444 25.6389 30.7913C25.6732 30.9381 25.7504 31.0718 25.8611 31.1758C25.9718 31.2798 26.111 31.3495 26.2616 31.3763C26.4121 31.4031 26.5673 31.3857 26.708 31.3264C26.8486 31.2671 26.9684 31.1685 27.0527 31.0427C27.1369 30.917 27.1818 30.7696 27.1818 30.619C27.1767 30.4102 27.0877 30.212 26.9343 30.0678C26.7808 29.9237 26.5756 29.8454 26.3636 29.8502V29.8502ZM26.3636 32.5407C26.2108 32.5478 26.0635 32.5989 25.9399 32.6877C25.8163 32.7765 25.722 32.8991 25.6684 33.0402C25.6149 33.1814 25.6047 33.3349 25.6389 33.4817C25.6732 33.6286 25.7504 33.7623 25.8611 33.8663C25.9718 33.9703 26.111 34.04 26.2616 34.0667C26.4121 34.0935 26.5673 34.0762 26.708 34.0169C26.8486 33.9576 26.9684 33.859 27.0527 33.7332C27.1369 33.6074 27.1818 33.4601 27.1818 33.3094C27.1767 33.1007 27.0877 32.9024 26.9343 32.7583C26.7808 32.6142 26.5756 32.5359 26.3636 32.5407V32.5407ZM27.27 23.334C27.2118 23.3345 27.1562 23.3575 27.115 23.398C27.0739 23.4386 27.0505 23.4934 27.05 23.5507C27.0511 23.5787 27.0578 23.6062 27.0698 23.6315C27.0818 23.6569 27.0989 23.6796 27.12 23.6984C27.1396 23.7178 27.163 23.7331 27.1888 23.7432C27.2146 23.7534 27.2422 23.7583 27.27 23.7575C27.2983 23.7584 27.3265 23.7537 27.3529 23.7437C27.3793 23.7337 27.4035 23.7187 27.4239 23.6994C27.4444 23.6802 27.4608 23.6571 27.4721 23.6316C27.4835 23.6061 27.4895 23.5786 27.49 23.5507C27.4895 23.4934 27.4662 23.4385 27.425 23.398C27.3839 23.3575 27.3282 23.3345 27.27 23.334ZM28 23.3143C27.75 23.3143 27.51 23.3242 27.27 23.334C27.2118 23.3345 27.1562 23.3575 27.115 23.398C27.0739 23.4386 27.0505 23.4934 27.05 23.5507C27.0511 23.5787 27.0578 23.6062 27.0698 23.6315C27.0818 23.6569 27.0989 23.6796 27.12 23.6984L30.21 26.6039C30.2877 26.6736 30.3493 26.7589 30.3907 26.854C30.4321 26.9492 30.4523 27.052 30.45 27.1554V35.0583C30.45 35.308 30.5507 35.5475 30.73 35.7241C30.9093 35.9007 31.1525 35.9999 31.406 35.9999H36.25C36.4489 35.9999 36.6397 35.9221 36.7803 35.7835C36.921 35.645 37 35.4571 37 35.2612V27.9237C37 25.2743 32.76 23.3143 28 23.3143Z"
                fill="#BFBFBF" />
        </g>
        <defs>
            <clipPath id="clip0_4910_13355">
                <rect width="18" height="32" fill="white" transform="translate(19 4)" />
            </clipPath>
        </defs>
    </svg>
    <h1>EM PREPARO</h1>
    {{status_hours_1}}
</div>
<div>
    <svg class="not-wl" width="56" height="40" viewBox="0 0 56 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.582 27.7833L18.932 21.1333L16.7153 23.35L25.582 32.2167L44.582 13.2167L42.3653 11L25.582 27.7833Z"
            fill="#BFBFBF" stroke="#BFBFBF" />
    </svg>
    <h1>CONCLUÍDO</h1>
    {{status_hours_2}}
</div>