<div class="play-upgrade-modal center-fix" type="alert">
    <h1>Faça upgrade do seu plano e melhore a sua operação!</h1>
    <h4>{{alert}}</h4>
    <h3 style="width: unset; min-height: unset; margin-bottom: 24px;">Analisamos o seu uso e encontramos o plano ideal
        para
        o seu negócio:</h3>
    <div class="plan-area">
        {{plan}}
        <button class="recommended-button">
            <svg class="not-wl" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.13419 15.4065C3.28849 15.531 3.46269 15.5733 3.65681 15.5335C3.85591 15.4986 4.06993 15.3991 4.29889 15.2348L8.00204 12.5097L11.7052 15.2348C11.9342 15.3991 12.1457 15.4986 12.3398 15.5335C12.5389 15.5733 12.7156 15.531 12.8699 15.4065C13.0242 15.2921 13.1163 15.1378 13.1461 14.9437C13.181 14.7495 13.1536 14.5181 13.064 14.2493L11.6007 9.89662L15.3337 7.21631C15.5676 7.05206 15.7294 6.88283 15.819 6.70862C15.9086 6.52944 15.9235 6.34776 15.8638 6.1636C15.804 5.97944 15.6846 5.84256 15.5054 5.75297C15.3262 5.66338 15.0973 5.62107 14.8185 5.62605L10.2344 5.65591L8.83824 1.27335C8.75362 1.00457 8.64163 0.800502 8.50227 0.661136C8.3629 0.52177 8.19616 0.452087 8.00204 0.452087C7.80793 0.452087 7.64118 0.52177 7.50182 0.661136C7.36245 0.800502 7.24797 1.00457 7.15838 1.27335L5.7697 5.65591L1.18556 5.62605C0.901846 5.62107 0.670399 5.66338 0.491215 5.75297C0.317007 5.84256 0.20004 5.97944 0.140311 6.1636C0.0756057 6.34776 0.0880491 6.52944 0.177641 6.70862C0.272211 6.88283 0.436464 7.05206 0.670399 7.21631L4.40341 9.89662L2.94007 14.2493C2.85048 14.5181 2.82062 14.7495 2.85048 14.9437C2.88532 15.1378 2.97989 15.2921 3.13419 15.4065Z"
                    fill="white" />
            </svg>
            Recomendado
        </button>
    </div>
    <button class="play-upgrade-modal-button-1" type="{{key}}">Contratar plano {{tipo}}</button>
    <button class="play-upgrade-modal-button-3">Ver todos os planos</button>
    <button class="play-upgrade-modal-button-2">Fechar</button>
    <script>
        opacity(true);

        $(document).on('click', '.play-upgrade-modal-button-1', function () {
            if (window.location.href.includes("account")) {
                $("#opacity-body").click();
                window.scrollTo(0, 0);
            } else
                window.location.href = "account?plan=" + $(this).attr('type');
        });

        $(document).on('click', '.play-upgrade-modal-button-2', function () {
            $("#opacity-body").click();
        });

        $(document).on('click', '.play-upgrade-modal-button-3', function () {
            if (window.location.href.includes("account")) {
                $("#opacity-body").click();
                $(".side-menu-item:nth-child(3)").click();
                $(".next-bill-action button").click();
                window.scrollTo(0, 0);
            } else
                window.location.href = "account?plan";
        });

        $(document).on('click', '#opacity-body', function () {
            $('.play-upgrade-modal[type="alert"]').hide();
            opacity(false);
        });
    </script>
</div>