<div class="play-upgrade-modal center-fix" pos="1">
    <h1>Faça upgrade do seu plano e melhore a sua operação!</h1>
    <div class="play-upgrade-modal-carousel">
        <svg class="not-wl" width="65" height="299" viewBox="0 0 65 299" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M23.5 149.493C23.5052 149.816 23.5661 150.134 23.68 150.435C23.7865 150.737 23.9528 151.013 24.1686 151.246L37.3856 165.741C37.6064 165.981 37.8732 166.172 38.1696 166.302C38.4659 166.433 38.7855 166.5 39.1085 166.5C39.4321 166.505 39.7533 166.44 40.0504 166.31C40.3475 166.179 40.6137 165.985 40.8313 165.741C41.2662 165.265 41.5055 164.638 41.4999 163.988C41.5027 163.351 41.2736 162.736 40.857 162.261L29.2085 149.493L40.8313 136.752C41.0633 136.526 41.2395 136.249 41.3456 135.941C41.4487 135.647 41.5009 135.337 41.4999 135.025C41.503 134.704 41.4508 134.385 41.3456 134.083C41.233 133.784 41.0673 133.51 40.857 133.272H40.8313C40.6199 133.024 40.3563 132.827 40.0599 132.696C39.7588 132.567 39.4353 132.5 39.1085 132.5C38.7816 132.5 38.4581 132.567 38.157 132.696C37.8669 132.838 37.6053 133.033 37.3856 133.272L24.1686 147.767C23.9616 148.007 23.7964 148.281 23.68 148.578C23.5686 148.87 23.5077 149.18 23.5 149.493Z"
                fill="#E4002B" />
        </svg>
        <svg class="not-wl" width="65" height="299" viewBox="0 0 65 299" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M41.5 149.493C41.4948 149.816 41.4339 150.134 41.32 150.435C41.2135 150.737 41.0472 151.013 40.8314 151.246L27.6144 165.741C27.3936 165.981 27.1268 166.172 26.8304 166.302C26.5341 166.433 26.2145 166.5 25.8915 166.5C25.5679 166.505 25.2467 166.44 24.9496 166.31C24.6525 166.179 24.3863 165.985 24.1687 165.741C23.7338 165.265 23.4945 164.638 23.5001 163.988C23.4973 163.351 23.7264 162.736 24.143 162.261L35.7915 149.493L24.1687 136.752C23.9367 136.526 23.7605 136.249 23.6544 135.941C23.5513 135.647 23.4991 135.337 23.5001 135.025C23.497 134.704 23.5492 134.385 23.6544 134.083C23.767 133.784 23.9327 133.51 24.143 133.272H24.1687C24.3801 133.024 24.6437 132.827 24.9401 132.696C25.2412 132.567 25.5647 132.5 25.8915 132.5C26.2184 132.5 26.5419 132.567 26.843 132.696C27.1331 132.838 27.3947 133.033 27.6144 133.272L40.8314 147.767C41.0384 148.007 41.2036 148.281 41.32 148.578C41.4314 148.87 41.4923 149.18 41.5 149.493Z"
                fill="#E4002B" />
        </svg>
        <div class="play-upgrade-modal-carousel-img">
            <img src="img/play_upgrade_modal_carousel/1.png">
        </div>
        <div class="dots-indicator">
            <div class="selected"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <h2>Receba pagamento online</h2>
    <h3>Venda mais com pagamento online e seguro!</br>Pix: 0,97 por transação e repasse em D+1 (um dia útil).</br>Cartão
        de crédito:2,80% por transação; repasse: D+31.</br></br><span>Bandeiras: AmericanExpress, Mastercard, Visa, Diners
        Club, Elo, Hipercard e Discover</span></h3>
    <button class="play-upgrade-modal-button-1">Ver planos</button>
    <button class="play-upgrade-modal-button-2">Fechar</button>
    <script>
        var modalInterval = setInterval(function () { $('.play-upgrade-modal-carousel svg:nth-child(2)').click() }, 4000);

        var titles = ["Receba pagamento online", "Etiquetas QR personalizadas para pedidos na mesa", "Gerencie áreas de entrega", "Gestor de pedidos com impressão automática", "Crie cupons e venda mais"];
        var bodys = ["Venda mais com pagamento online e seguro!</br>Pix: 0,97 por transação e repasse em D+1 (um dia útil).</br>Cartão de crédito:2,80% por transação; repasse: D+31.</br></br><span>Bandeiras: AmericanExpress, Mastercard, Visa, Diners Club, Elo, Hipercard e Discover</span>", "Tenha acesso a uma ferramenta poderosa de marketing para vender mais. Defina valor mínimo de compras, benefícios e validade.", "Defina taxas específicas para bairros, raios de quilometragem e bloqueie áreas de entrega.", "Tenha um painel completo para organizar seus pedidos.", "Tenha acesso a uma ferramenta poderosa de marketing para vender mais. Defina valor mínimo de compras, benefícios e validade."];

        $(document).on('click', '.play-upgrade-modal-carousel svg', function () {
            $('.play-upgrade-modal h2, .play-upgrade-modal h3').empty()
            var pos = $('.play-upgrade-modal').attr('pos');

            if ($(this).index() == 0)
                pos--;
            else
                pos++;

            if (pos < 1)
                pos = 5;
            else if (pos > 5)
                pos = 1;

            $('.play-upgrade-modal h2').append(titles[pos - 1]);
            $('.play-upgrade-modal h3').append(bodys[pos - 1]);

            $('.play-upgrade-modal-carousel img').attr("src", "img/play_upgrade_modal_carousel/" + pos + ".png");
            $('.dots-indicator div').removeClass('selected');
            $('.dots-indicator div:eq(' + (pos - 1) + ')').addClass('selected');
            $('.play-upgrade-modal').attr('pos', pos);
        });

        $(document).on('click', '.dots-indicator div', function () {
            $('.play-upgrade-modal h2, .play-upgrade-modal h3').empty()
            $('.dots-indicator div').removeClass('selected');
            $(this).addClass('selected');

            var pos = $(this).index() + 1;

            $('.play-upgrade-modal h2').append(titles[pos - 1]);
            $('.play-upgrade-modal h3').append(bodys[pos - 1]);

            $('.play-upgrade-modal').attr('pos', pos);
            $('.play-upgrade-modal-carousel img').attr("src", "img/play_upgrade_modal_carousel/" + pos + ".png");
        });

        $(document).on('click', '.play-upgrade-modal-button-2', function () {
            $("#opacity-body").click();
        });

        $(document).on('click', '.play-upgrade-modal-button-1', function () {
            if (window.location.href.includes("account")) {
                $("#opacity-body").click();
                $(".side-menu-item:nth-child(3)").click();
                $(".next-bill-action button").click();
                window.scrollTo(0, 0);
            } else
                window.location.href = "account?plan";
        });

        $(document).on('click', '#opacity-body', function () {
            $('.play-upgrade-modal').remove();
            $(".alert-center").remove();
            opacity(false);
            clearInterval(modalInterval);
        });
    </script>
</div>