/*Exclude Product*/

.register-fields .final-buttons {
    align-items: center;
}

.register-fields .exclude-product {
    width: 115px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    margin-left: 24px;
    cursor: pointer;
    margin-top: 9px;
}