.see-products {
    width: 960px;
}

/*Search*/

.search-bar {
    margin-bottom: 24px;
    margin-top: 40px;
}

/*Title*/

.see-products .title-area {
    display: flex;
    margin-bottom: 24px;
}

.see-products .title-area .see-products-title {
    width: 492px;
    height: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #4F4F4F;
    margin-right: 300px;
}

.see-products .title-area .add-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    padding: 12px 0 12px 16px;
    width: 175px;
    height: 40px;
    cursor: pointer;
}

.see-products .title-area .add-category p {
    width: 116px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--color-primary);
    line-height: 20px;
    align-items: center;
    margin-left: 4px;
}

/*Ordering*/

.see-products-ordering {
    display: flex;
    height: 48px;
    text-align: center;
    margin-bottom: 24px;
    background: rgba(241, 241, 241, 0.3);
    align-items: center;
}

.see-products-ordering p {
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    margin-left: 16px;
}

.see-products-ordering .ordening-area {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.see-products-ordering .ordering {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    height: 32px;
    background: #FCFCFC;
    background: var(--color-primary-ten);
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 2px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    border: hidden;
    color: var(--color-primary);
}

/*Each category*/

.category-section-title {
    width: 960px;
    height: 56px;
    margin-bottom: 24px;
    align-items: center;
    display: flex;
}

.category-section-title .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 41px;
}

.category-section-title .title .title-text {
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #4D4D4D;
    margin-right: 6px;
    text-align: start;
    width: max-content;
}

.category-section-title .title .title-disponibility {
    margin-left: 12px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #4D4D4D;
    margin-right: 8px;
    width: unset;
}

.category-section-title .new-product {
    width: 133px;
    height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category-section-title p {
    width: 105px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: var(--color-primary);
}

.category-section-title .new-product svg {
    margin-right: 4px;
}

.category-section-title .more-options {
    width: 24px;
    text-align: end;
    align-items: center;
    margin-left: 24px;
}

.category-section-title .more-options button {
    background: none;
    border: none;
    padding: 0 20px 4px 20px;
    cursor: pointer;
}

.category-section-title .more-options button:focus {
    outline: none !important;
}

.category-section-title .duplicate-product {
    width: 227px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-left: 32px;
    cursor: pointer;
}

.category-section-title .duplicate-product p {
    width: 207px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: var(--color-primary);
}

.category-section-title .duplicate-product svg {
    margin-right: 4px;
}

.category-section-title-options {
    position: absolute;
    right: 0;
    align-items: center;
}

/*Product*/

.see-products-product {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    width: 960px;
    height: 146px;
    margin-bottom: 24px;
    border-bottom: 1px solid #DDDDDD;
}

.see-products-product .image-area {
    position: relative;
}

.see-products-product .image {
    z-index: -1;
    height: 128px;
    width: 128px;
    background-color: #FCFCFC !important;
    object-fit: cover;
}

.see-products-product .image-empty {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

.see-products-product .product-details {
    width: 632px;
    margin-left: 16px;
    margin-right: 64px;
    height: 128px;
}

.see-products-product .product-options {
    width: 120px;
}

.see-products-product .product-info {
    height: 84px;
}

.see-products-product .product-info .title {
    width: 632px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #4D4D4D;
    margin-bottom: 4px !important;
}

.see-products-product .product-info .sub-title {
    width: 632px;
    max-height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4D4D4D;
    margin-bottom: 8px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.see-products-product .product-info .measure-area {
    display: flex;
}

.see-products-product .product-info .measure-area .measure, .see-products-product .product-info .measure-area .serves {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 4px;
    height: 20px;
    background: #F7F7F7;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.4px;
    color: #4D4D4D;
    margin-right: 8px;
    padding-top: 2px;
}

.see-products-product .product-info .measure-area svg {
    margin-top: -2px;
}

.see-products-product .product-details .product-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    margin-top: 8px;
}

.see-products-product .product-details .product-value .value-input, .see-products-product .product-details .product-value .value-input-added {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    width: max-content;
    text-align: center;
}

.value-input span {
    margin-left: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.see-products-product .product-details .product-value .value-input input, .see-products-product .product-details .product-value .value-input-added input {
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0 8px 0 4px;
    align-items: center;
    color: #4D4D4D;
    border: none;
    border-color: transparent;
    width: 57px;
}

.value-input-promotion span {
    margin-left: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-right: 4px;
    width: 21px;
}

.promotion-error {
    display: none;
    margin-left: 17px;
    width: 126px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #B00020;
}

.see-products-product .product-details .product-value .value-input-added input {
    width: 65px;
    background: transparent;
    margin: 0;
    padding: 0;
}

.see-products-product .product-details .product-value .value-input input.disabled {
    text-decoration: line-through;
    pointer-events: none;
}

.see-products-product .product-details .product-value .add-value {
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    margin-left: 16px;
    cursor: pointer;
}

.see-products-product .product-details .product-value .add-value.added {
    cursor: default;
    font-family: "Inter";
    font-weight: 500;
    line-height: 24px;
    color: #4D4D4D;
}

.see-products-product .product-details .product-value .value-input-added {
    margin-left: 16px;
}

.see-products-product .product-details .product-value .value-input-added svg {
    margin-top: 5.5px;
    cursor: pointer;
}

.see-products-product .product-details .product-value .value-input-added .trash-area {
    width: 36px;
    height: 36px;
    border-radius: 0 8px 8px 0;
    background: var(--color-primary-ten);
}

.see-products-product .product-options .available-area {
    height: 48px;
    display: flex;
    vertical-align: middle;
    padding-top: 10px;
    float: right;
    margin-bottom: 8px;
}

.see-products-product .product-options .available-area p {
    margin-right: 8px;
    height: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    color: #757575;
    margin-top: 5px;
}

.see-products-product .product-options .see-complete-item, .see-products-product .product-options .duplicate-item {
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: var(--color-primary);
    cursor: pointer;
}

.see-products-product .product-options .duplicate-item {
    margin-top: 74px;
}

/*delete-category*/

.delete-category {
    width: 496px;
    height: 381px;
    background: #FCFCFC;
    border-radius: 8px;
    z-index: 10;
}

.delete-category p {
    text-align: unset;
}

.delete-category-header {
    display: flex;
    height: 65px;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
}

.delete-category-header svg:nth-child(1) {
    margin-left: 16px;
}

.delete-category-header svg:nth-child(3) {
    cursor: pointer;
}

.delete-category-header p {
    width: 404px;
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #B00020;
    margin: 0 22px 0 8px;
}

.delete-category-body {
    padding: 16px;
}

.delete-category-body p {
    width: 464px;
    height: 144px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.delete-category-text {
    padding: 8px 16px;
    width: 496px;
    height: 68px;
}

.delete-category-text input[type="text"] {
    padding: 2px 8px 4px 8px;
    width: 464px;
    height: 32px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
}

.delete-category-text p {
    width: 464px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #B00020;
    margin-top: 4px;
    display: none;
}

.delete-category-text.alert-field p {
    color: #B00020;
    display: block;
}

.delete-category-text.alert-field input[type="text"] {
    border-color: #B00020;
}

.delete-category-footer {
    border-top: 1px solid #DDDDDD;
    display: flex;
    width: 496px;
    height: 72px;
    align-items: center;
}

.delete-category-footer p:nth-child(1) {
    width: 68px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    cursor: pointer;
    margin: 0 24px 0 312px;
}

.delete-category-footer p:nth-child(2) {
    width: 76px;
    height: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    padding-top: 8px;
    text-align: center;
    background: var(--color-primary-ten);
    border-radius: 8px;
    cursor: pointer;
}

/*Copy product*/

.product-header {
    background: #F5F5F5;
    padding: 16px 24px;
}

.product-header p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.copy-products {
    width: 712px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    display: none;
    z-index: 10;
    height: calc(100% - 48px);
}

.copy-products-header {
    border-bottom: 1px solid #DDDDDD;
}

.copy-products-header p {
    height: 32px;
    width: 664px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
    margin: 16px 24px;
    text-align: unset;
}

.copy-products-header .search {
    background: var(--color-primary-ten);
    border-radius: 8px;
    margin: 16px 24px;
    width: 664px;
    height: 40px;
    background: var(--color-primary-ten);
    border-radius: 8px;
}

.copy-products-header input[type="text"] {
    width: calc(100% - 63px);
    height: 21px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #4D4D4D;
    margin: 9px 0 10px 16px;
    background: transparent;
    border: none;
    border-color: transparent;
}

.copy-products-header input[type="text"]::placeholder {
    color: var(--color-primary);
}

.copy-products-header svg {
    float: right;
    margin: 12px 16px 12px 0;
}

.copy-products-body {
    height: calc(100% - 241px);
    overflow-y: auto;
    overflow-x: hidden;
}

.copy-products-item {
    display: flex;
    padding: 12px 24px;
    width: 99%;
    height: 136px;
    background: #FCFCFC;
    align-items: center;
    margin-top: 8px;
    position: relative;
}

.copy-products-item p {
    text-align: unset;
}

.copy-products-item .info {
    display: flex;
    width: 544px;
    height: 112px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 96px;
    position: relative;
}

.copy-products-item .info .image {
    z-index: 2;
    height: 112px;
    width: 113px;
    background-color: #FCFCFC !important;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    margin-right: 4px;
    margin: -1px 0 0 -1px;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.copy-products-item .info .image-placeholder {
    position: absolute;
    left: 0;
    border-radius: 8px 0 0 8px;
    z-index: 1;
}

.copy-products-item .info .title {
    margin: 10px 12px 4px 8px;
    width: 408px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.copy-products-item .info .description {
    margin: 0 12px 8px 8px !important;
    width: 408px;
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.copy-products-item .info .value {
    align-items: center;
    display: flex;
    width: 408px;
    height: 24px;
}

.copy-products-item .info .value .measure {
    width: max-content;
    height: 20px;
    background: #F5F5F5;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 4px;
    margin-left: 8px;
    margin-right: 8px;
    color: #4D4D4D;
}

.copy-products-item .info .value .serves {
    width: max-content;
    height: 20px;
    background: #F5F5F5;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 4px;
    margin-right: 8px;
    color: #4D4D4D;
}

.copy-products-item .info .value .value {
    width: max-content;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 9.5px;
    margin-right: 8px;
    color: #4F4F4F;
}

.copy-products-footer {
    width: 712px;
    height: 72px;
    align-items: center;
    display: flex;
    border-top: 1px solid #DDDDDD;
}

.copy-products-footer p:nth-child(1) {
    width: 68px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    margin-left: 450px;
    margin-right: 24px;
    cursor: pointer;
}

.copy-products-footer p:nth-child(2) {
    width: 146px;
    height: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
    background: var(--color-primary);
    border-radius: 8px;
    padding-top: 8px;
    cursor: pointer;
    text-align: center;
}

/*See Products Empty*/

.see-products-empty {
    background-color: #FCFCFC;
    width: 100%;
    height: calc(100vh - 276px);
    position: fixed;
    display: none;
    justify-content: center;
    top: 133px;
}

.see-products-empty[empty] {
    display: flex;
}

.see-products-empty div {
    text-align: center;
    margin-top: 184px;
}

.see-products-empty div img {
    height: 104px;
    width: 184px;
    margin-bottom: 8px;
}

.see-products-empty div p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4D4D4D;
}