.register-product {
    width: 968px;
    display: flex;
}

.register-product .register-fields {
    width: 550px;
    margin-right: 48px;
}

/*Title*/

.register-product .register-fields .title {
    width: 550px;
    height: 42px;
    align-items: center;
    vertical-align: middle;
    display: flex;
    margin-top: 40px;
    margin-bottom: 32px;
    position: relative;
}

.register-product .register-fields .title p:nth-child(1) {
    height: 42px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    align-items: center;
    letter-spacing: -0.01em;
    color: #4F4F4F;
    margin-right: 18px;
}

.register-product .register-fields .title p:nth-child(2) {
    height: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    color: #4D4D4D;
    margin-right: 12px;
    position: absolute;
    right: 35px;
}

.register-product .register-fields .title label {
    margin-top: -3px;
    position: absolute;
    right: 0;
}

/*Buttons option*/

.register-fields .button-option {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    width: 272px;
    height: 32px;
    background: #FCFCFC;
    cursor: pointer;
}

.register-fields .button-option div:nth-child(1) {
    width: 136px;
    height: 32px;
    background: var(--color-primary-ten);
    border-radius: 8px 0 0 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-primary);
    padding: 6px 38px;
}

.register-fields .button-option div:nth-child(2) {
    width: 136px;
    height: 32px;
    background: var(--color-primary-ten);
    border-radius: 0 8px 8px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-primary);
    padding: 6px 40.5px;
}

.register-fields .button-option div.selected {
    background: var(--color-primary);
    color: #FFFFFF;
}

/*Category option*/

.register-fields .category-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    height: 32px;
    align-self: stretch;
    margin-bottom: 32px;
}

.register-fields .category-option p:nth-child(1) {
    width: 81px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    margin-right: 8px;
}

.register-fields .category-option p:nth-child(2) {
    height: 20px;
    width: 342px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    margin-right: 16px;
}

.register-fields .category-option .selector-category {
    display: flex;
    width: 111px;
    cursor: pointer;
}

.register-fields .category-option .selector-category p {
    width: 83px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--color-primary);
    margin-right: 4px;
}

.register-fields .category-option .selector-category svg {
    margin-top: 2px;
}

/*Product title*/

.register-fields .product-title {
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
    margin-bottom: 32px;
}

.register-fields .product-title p:nth-child(1) {
    width: 550px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    margin-bottom: 8px !important;
}

.register-fields .product-title input[type="text"] {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 550px;
    height: 29px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    align-self: stretch;
    padding: 4px 8px;
}

/* Alert Text Not Empty*/

.alertTextNotEmpty {
    width: 544px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #B00020;
    margin-top: 4px;
    display: none;
}

/*Product Value*/

.register-fields .product-value {
    align-items: flex-start;
    width: 550px;
    margin-bottom: 32px;
    align-items: center;
    position: relative;
}

.register-fields .product-value p:nth-child(1):not(.alertTextNotEmpty) {
    position: static;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    margin-bottom: 8px !important;
}

.register-fields .product-value div:nth-child(1) span {
    position: absolute;
    margin: 6px 0 0 9px;
}

.register-fields .product-value input[type="text"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98px;
    height: 36px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 0 8px 0 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    background: #FFFFFF;
    text-align: right;
}

.register-fields .product-value input[type="text"]:focus {
    outline: none;
}

.register-fields .product-value span {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-left: 8px;
    position: absolute;
    left: 0;
}

.register-fields .product-value .add-value {
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    margin-left: 16px;
    cursor: pointer;
}

.register-fields .product-value .add-value.added {
    font-weight: 500;
    line-height: 24px;
    color: #4D4D4D;
    cursor: default;
}

.register-fields .product-value .value-input-added {
    display: none;
    align-items: center;
    margin-left: 16px;
    position: relative;
}

.register-fields .product-value .value-input-added input {
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #4D4D4D;
    border: none;
    border-color: transparent;
    width: 136px;
    padding-left: 32px;
    height: 36px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding-right: 40px;
}

.register-fields .product-value .trash-area {
    width: 36px;
    height: 36px;
    border-radius: 0 8px 8px 0;
    background: var(--color-primary-ten);
    cursor: pointer;
    position: absolute;
    text-align: center;
    right: 0;
}

.register-fields .product-value .trash-area svg {
    margin-top: 5.5px;
}

.promotion-error {
    display: none;
    width: 126px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #B00020;
    position: absolute;
    margin-top: 4px;
    right: 79px;
}

/*Serves quantity*/

.register-fields .serves-quantity {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 32px;
}

.register-fields .serves-quantity .quantity {
    margin-right: 32px;
}

.register-fields .serves-quantity p:nth-child(1) {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    margin-bottom: 4px !important;
}

.register-fields .serves-quantity .serves p:nth-child(3) {
    width: 265px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #999999;
    margin-top: 4px;
}

.register-fields .serves-quantity .quantity p:nth-child(3) {
    width: 186px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #999999;
    margin-top: 4px;
}

.register-fields .serves-quantity .serves input[type="number"] {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 192px;
    max-width: 192px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px 8px;
}

.register-fields .serves-quantity .quantity input[type="number"] {
    width: 96px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
}

.register-fields .serves-quantity .quantity .selector-size {
    display: flex;
    align-items: center;
    width: 88px;
    height: 32px;
    background: none;
    background: var(--color-primary-ten);
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-left: none;
    border-radius: 0 8px 8px 0;
    color: var(--color-primary);
}

.register-fields .serves-quantity .quantity .selector-size p {
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-primary);
    margin-bottom: 0 !important;
    margin-left: 5px;
    margin-right: 6px;
}

/*Product Description*/

.register-fields .product-description {
    margin-bottom: 32px;
}

.register-fields .product-description p {
    width: 548px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    margin-bottom: 8px !important;
}

.register-fields .product-description textarea {
    flex-direction: column;
    align-items: flex-end;
    width: 548px;
    height: 83px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px 8px;
}

/*Product Ingredients and Additional*/

.register-fields .product-ingredients {
    margin-bottom: 15px;
    display: flex;
}

.register-fields .product-additional {
    display: flex;
}

.register-fields .product-ingredients div:nth-child(1) {
    width: 341px;
    margin-right: 12px;
}

.register-fields .product-ingredients .selector {
    width: 191px;
    align-items: center;
    display: flex;
}

.register-fields .product-additional div:nth-child(1) {
    width: 360px;
    margin-right: 12px;
}

.register-fields .product-additional .selector {
    width: 172px;
    align-items: center;
    display: flex;
}

.register-fields .selector p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: var(--color-primary);
    margin-right: 4px;
    width: 100%;
    text-align: right;
}

.register-fields .selector {
    cursor: pointer;
}

.register-fields .product-ingredients div:nth-child(1) p:nth-child(1), .register-fields .product-additional div:nth-child(1) p:nth-child(1) {
    width: 550px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    margin-bottom: 8px !important;
}

.register-fields .product-ingredients div:nth-child(1) p:nth-child(2), .register-fields .product-additional div:nth-child(1) p:nth-child(2) {
    width: 550px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-top: 4px;
    color: #6C757D;
}

/*Product Selected Ingredients*/

.register-fields .selected-ingredients {
    margin-bottom: 32px;
    display: none;
}

.register-fields .selected-ingredients .selected-ingredients-title {
    width: 550px;
    height: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #4D4D4D;
    margin-bottom: 8px !important;
}

.register-fields .selected-ingredients .selected {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 32px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.register-fields .selected-ingredients .selected-ordinary {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: 32px;
    background: #F0F0F0;
    border-radius: 16px;
    margin-right: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #4D4D4D;
    width: auto !important;
}

/*Save Product*/

.register-fields .save-product {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 16px;
    width: 221px;
    height: 40px;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 40px;
    position: static;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #FCFCFC;
}

/*Product Preview*/

.product-preview {
    margin-top: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
}

.product-section {
    background: #FFFFFF;
    width: 360px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: 40px;
}

.product-section .header {
    position: fixed;
    height: 64px;
    border-bottom: 1px solid #DDDDDD;
    z-index: 10;
    width: 360px;
}

.product-section .back-arrow {
    position: absolute;
    width: 48px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.product-section .main-area {
    width: 100%;
    padding-bottom: 90px;
    overflow: auto;
    height: 915px;
    position: relative;
}

.product-section .logo {
    height: 48px;
}

.product-section .image {
    margin-top: 64px;
    width: 360px;
    height: 360px;
    opacity: 1;
    cursor: pointer;
    transition: 0.25s;
    background: #F5F5F5;
    text-align: center;
}

.image-uploaded {
    position: absolute;
    top: 0;
    background-color: #ffffff;
    margin-top: 64px;
    z-index: 1;
    cursor: pointer;
}

#image-product-obj {
    position: absolute;
    top: 64px;
    height: 360px;
    width: 360px;
    z-index: 500;
    opacity: 0;
    cursor: pointer;
}

#image-product-obj:hover~.image {
    opacity: 0.7;
    transition: 0.25s;
}

.product-section .upload-area img {
    width: 360px;
    height: 360px;
}

#image-product-obj:hover~.image-uploaded {
    opacity: 0.7;
    transition: 0.25s;
}

.product-section .image-uploaded:hover~.image {
    opacity: 0;
    transition: 0s;
}

.product-section .image div:nth-child(1) {
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 335px;
    height: 174px;
    text-align: center;
}

.product-section .image div:nth-child(1) svg {
    margin-bottom: 16px;
}

.product-section .image p:nth-child(1) {
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--color-primary);
}

.product-section .image p:nth-child(2) {
    position: static;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
}

.product-section .image p:nth-child(3) {
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

.product-section .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    border-radius: 8px;
    order: 1;
    flex-grow: 0;
    margin-bottom: 40px;
    margin-top: 21px;
    padding: 0px 16px 0px 16px;
}

.product-section .description {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: static;
    border-radius: 8px;
}

.product-section .description span {
    position: static;
    height: max-content;
    right: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #757575;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .title span {
    position: static;
    width: 328px;
    right: 0px;
    top: 0px;
    bottom: 28px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on, 'cpsp'on;
    color: #757575;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.product-section .title .subdescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 328px;
    height: 20px;
    left: 0px;
    top: 48px;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.product-section .title .subdescription span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    position: static;
    background: #F7F7F7;
    border-radius: 4px;
    position: static;
    height: 20px;
    width: unset;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    margin-right: 4px;
}

.product-section .title .subdescription span:empty {
    padding: 0;
}

.product-section .remove-ingredients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 0px;
    background: #F7F7F7;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.product-section .remove-ingredients .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 300px;
    height: 44px;
    left: 16px;
    top: 16px;
    order: 0;
    flex-grow: 1;
    margin: 0px 4px;
}

.product-section .remove-ingredients .title span:nth-child(1) {
    position: static;
    width: 248px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #6D6D6D;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .remove-ingredients .title span:nth-child(2) {
    position: static;
    width: 300px;
    height: 20px;
    left: 0px;
    top: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #828282;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .remove-ingredients svg {
    position: static;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 26px;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
}

.product-section .ingredientes.closed {
    height: 76px;
    overflow: hidden;
}

.product-section .chooses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    left: 0px;
    top: 84px;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.product-section .chooses .title-adicionais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 0px;
    background: #F7F7F7;
    flex-grow: 0;
    margin: 8px 0px;
}

.product-section .chooses .title-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 328px;
    height: 44px;
    left: 16px;
    top: 16px;
    order: 0;
    flex-grow: 1;
    margin: 0px 4px;
}

.product-section .chooses .title-description span:nth-child(1) {
    position: static;
    width: 328px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #6D6D6D;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .chooses .title-description span:nth-child(2) {
    position: static;
    width: 328px;
    height: 20px;
    left: 0px;
    top: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #828282;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .chooses .itens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    left: 0px;
    top: 84px;
    order: 1;
    flex-grow: 0;
    margin-bottom: 8px;
}

.product-section .chooses .item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 176px;
    flex-grow: 0;
    margin-bottom: 12px;
    border-bottom: 0.5px solid #DDDDDD;
}

.product-section .chooses .item-container .title-choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    position: static;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    order: 0;
    flex-grow: 0;
    margin-bottom: 12px;
}

.product-section .chooses .item-container .title-choose p {
    margin-top: -5px;
}

.product-section .chooses .item-container .title-choose .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: static;
    height: 48px;
    width: max-content;
    left: 16px;
    top: 8px;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
}

.product-section .chooses .item-container .title-choose .info span {
    position: static;
    height: 20px;
    width: 216px;
    left: 0px;
    top: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #585858;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .chooses .item-container .title-choose .info div {
    display: inline-flex;
}

.product-section .chooses .item-container .title-choose .info div span {
    position: static;
    width: max-content;
    height: 20px;
    left: 0px;
    top: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .chooses .item-container .title-choose input[type="radio"] {
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

.product-section .note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 184px;
    margin-top: 20px;
    border-radius: 4px;
    padding: 0px 16px 0px 16px;
}

.product-section span {
    position: static;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    position: static;
    height: 160px;
    left: 0px;
    top: 24px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.elegant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: max-content;
    height: 48px;
    margin-right: -12px;
}

.elegant div {
    padding-top: 16px;
    padding-bottom: 20px;
}

.elegant div:nth-child(1) {
    height: 48px;
    padding-right: 13px;
    padding-left: 13px;
}

.elegant div:nth-child(2) {
    width: 40px;
    height: 48px;
    text-align: center;
}

.elegant div:nth-child(2) span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #585858;
}

.elegant div:nth-child(3) {
    height: 48px;
    padding-left: 13px;
    padding-right: 13px;
}

.product-section .confirm {
    width: 192px;
    height: 48px;
    display: inline-flex;
    flex-direction: row;
    padding: 10px 8px;
    background: #CCCCCC;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 16px;
}

.item-disabled * {
    fill: #CCCCCC;
}

svg {
    vertical-align: middle;
}

svg:not(.not-wl) * {
    fill: var(--color-primary);
}

svg.item-disabled * {
    fill: #CCCCCC;
}

/*Product Selected Adittional*/

.register-fields .selected-adittional {
    margin-bottom: 8px;
    display: none;
}

.register-fields .selected-adittional .selected-adittional-title {
    width: 550px;
    height: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #4D4D4D;
    margin-bottom: 8px !important;
}

.register-fields .selected-adittional .selected {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.register-fields .selected-adittional .selected-ordinary {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: 32px;
    background: #F0F0F0;
    border-radius: 16px;
    margin-right: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #4D4D4D;
    width: auto !important;
}

/*Ingredient/Adittional Dropdown*/

.ingredient-header {
    background: #F5F5F5;
    padding: 16px;
}

.ingredient-header p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.product-dropdown {
    width: 712px;
    border: 1px solid #DDDDDD;
    display: none;
    z-index: 100;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    background: #FCFCFC;
    height: calc(100% - 48px);
}

.product-dropdown .all-item {
    height: calc(100% - 241px);
    overflow-y: auto;
}

.product-dropdown-title {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 16px 24px;
}

.ingredient-details .product-dropdown-title p:nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    color: #4D4D4D;
}

.adittional-details .product-dropdown-title p:nth-child(1) {
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
}

.product-details .product-dropdown-title p:nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    color: #4D4D4D;
}

.product-dropdown .category-section {
    border-top: 1px solid #DDDDDD;
    margin-top: 16px;
}

.header-adittional {
    align-items: flex-start;
    height: 104px;
    background: #F5F5F5;
    padding: 0 24px;
}

.header-adittional-title {
    display: flex;
    width: 664px;
    height: 32px;
    align-items: center;
    position: relative;
}

.header-adittional-title p:nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    max-width: 513px;
    min-width: 472px;
}

.header-adittional-button {
    display: flex;
    position: absolute;
    right: 0;
    align-items: center;
    cursor: pointer;
}

.header-adittional-button p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: var(--color-primary);
    margin-left: 6px;
}

.header-adittional .header-adittional-button p:nth-child(2), .header-adittional.selected .header-adittional-button p:nth-child(3) {
    display: block;
}

.header-adittional .header-adittional-button p:nth-child(3), .header-adittional.selected .header-adittional-button p:nth-child(2) {
    display: none;
}

.header-adittional.selected .header-adittional-button svg path {
    d: path('M15.0179 3.99786L8.23443 13.1365C8.1686 13.2095 8.0925 13.2661 8.01133 13.3052C7.9255 13.3466 7.83464 13.3681 7.74384 13.3699C7.65305 13.3717 7.5618 13.3538 7.47508 13.3161C7.38822 13.2784 7.30636 13.2209 7.23569 13.1447L2.72874 8.28983L2.72183 8.2829C2.64913 8.20992 2.58861 8.11964 2.54586 8.01629C2.50309 7.91289 2.47956 7.79984 2.47766 7.68418C2.47577 7.56852 2.49558 7.45444 2.53507 7.34912C2.57455 7.24383 2.63234 7.15085 2.70301 7.07472C2.7736 6.99868 2.85533 6.94123 2.94208 6.90348C3.02869 6.8658 3.11982 6.84792 3.21051 6.84964C3.30121 6.85137 3.39198 6.87271 3.47774 6.91388C3.56364 6.95511 3.6439 7.01597 3.71235 7.0951L3.71876 7.10251L7.74503 11.4376L14.0412 2.79615L14.0538 2.78287C14.1882 2.6567 14.3536 2.5939 14.5171 2.59524C14.6906 2.59665 14.8656 2.67034 15.0025 2.81509C15.1407 2.96111 15.2272 3.16721 15.2327 3.392C15.2382 3.61682 15.1619 3.82872 15.0299 3.9838L15.0179 3.99786Z');
}

.header-adittional.selected .header-adittional-button p {
    display: none;
}

.header-adittional-options {
    width: 664px;
    height: 40px;
    align-items: center;
    margin-top: 12px;
    display: none;
    position: relative;
}

.header-adittional.selected .header-adittional-options {
    display: flex !important;
}

.header-adittional-options p:nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-left: 4px;
    margin-right: 16px;
}

.header-adittional-options p:nth-child(4) {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-right: 8px;
}

.header-adittional-right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.header-adittional-right p {
    margin-right: 8px;
}

.product-dropdown-item {
    display: flex;
    align-items: center;
    height: 64px;
    margin: 0 24px;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    text-align: left;
}

.product-dropdown-item.pointer, .combo-products-item.pointer {
    cursor: pointer;
}

.product-dropdown-item-more {
    display: flex;
    position: absolute;
    right: 0;
    align-items: center;
}

.product-dropdown-item-more .input-quantity {
    margin-right: 20px;
}

.product-dropdown-item-more p {
    margin-right: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.product-dropdown-item p:nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 12px;
    color: #585858;
    left: 24px;
    width: 100%;
    padding: 20px 0;
}

.adittional-details .product-dropdown-item .adittional-title {
    width: 452px;
}

.product-dropdown-item p:nth-child(3) {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    margin-right: 4px;
    float: right;
}

.product-dropdown-item p:nth-child(4) {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    width: 57px;
    float: right;
}

.product-dropdown-item .input-quantity {
    display: none;
}

.product-dropdown-buttons {
    display: flex;
    height: 72px;
    align-items: center;
    border-top: 1px solid #DDDDDD;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.product-dropdown-buttons p:nth-child(1) {
    width: 68px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-primary);
    cursor: pointer;
    margin-right: 24px;
}

.product-dropdown-buttons p:nth-child(2) {
    flex-direction: row;
    padding: 8px 16px;
    height: 40px;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
    margin-right: 24px;
    cursor: pointer;
}

/*Category Dropdown*/

.category-dropdown {
    position: absolute;
    top: 161px;
    left: 83px;
    width: 480px;
    height: 480px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 16px 24px -8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: none;
    z-index: 50;
}

.category-dropdown-header {
    padding: 20px 24px;
    display: flex;
    align-items: center;
}

.category-dropdown-header p:nth-child(1) {
    width: 321px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-right: 16px;
}

.category-dropdown-header .selector-category {
    display: flex;
    cursor: pointer;
}

.category-dropdown-header .selector-category p {
    position: static;
    width: 83px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    margin-right: 6px;
}

.category-dropdown-header .selector-category svg {
    margin-top: 11px;
}

.category-dropdown .search-area {
    margin-top: 0;
    margin-bottom: 16px;
}

.category-dropdown-body {
    height: 289px;
    overflow-y: auto;
    overflow-x: hidden;
}

.category-dropdown-item {
    display: flex;
    align-items: center;
    height: 64px;
    width: 432px;
    margin: 0 24px;
    border-bottom: 0.5px solid #DDDDDD;
}

.category-dropdown-item p {
    height: 24px;
    width: 408px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #585858;
}

.category-dropdown-new-item {
    border-bottom: 0.5px solid #DDDDDD;
    height: 64px;
    display: flex;
    align-items: center;
    margin: 0px 14px 0 24px;
    cursor: pointer;
    position: relative;
}

.new-item-default {
    display: flex;
}

.new-item-insert {
    display: none;
    align-items: center;
    width: 100%;
    position: relative;
}

.new-item-insert input[type="text"] {
    width: 384px;
    height: 36px;
    border-bottom: 1px solid var(--color-primary);
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    border: none;
}

.new-item-insert .new-item-insert-save {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 4px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    cursor: pointer;
}

.category-dropdown-new-item p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    margin-left: 4px;
}

.category-dropdown-new-item .area-custom-radio {
    position: absolute;
    right: 0;
}

.category-dropdown-footer {
    border-top: 1px solid #DDDDDD;
    display: flex;
}

.category-dropdown-footer p:nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    margin-left: 291px;
    cursor: pointer;
    margin-top: 21px;
}

.category-dropdown-footer p:nth-child(2) {
    margin-left: 24px;
    cursor: pointer;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
    border-radius: 8px;
    width: 73px;
    height: 40px;
    background: var(--color-primary);
    padding: 8px 12px;
    margin-top: 13px;
}

/*Selected Combo Product*/

.product-header {
    background: #F5F5F5;
    padding: 16px 24px;
}

.product-header p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.selected-combo {
    display: flex;
    width: 544px;
    height: 112px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 96px;
    position: relative;
    cursor: pointer;
}

.selected-combo:not(:last-child) {
    margin-bottom: 8px;
}

.selected-combo .image {
    margin-right: 4px;
    border-radius: 8px 0 0 8px;
    margin: -1px 0 0 -1px;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: #FCFCFC !important;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 112px;
    width: 113px;
    object-fit: cover;
}

.combo-products-item .image-placeholder {
    position: absolute;
    left: 0;
    border-radius: 8px 0 0 8px;
    z-index: 1;
}

.selected-combo .selected-combo-title {
    margin: 10px 12px 4px 8px;
    width: 408px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.selected-combo .selected-combo-description {
    margin: 0 12px 8px 8px !important;
    width: 408px;
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.selected-combo .value {
    align-items: center;
    display: flex;
    width: 408px;
    height: 24px;
}

.selected-combo .value .measure {
    width: max-content;
    height: 20px;
    background: #F5F5F5;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 4px;
    margin-left: 8px;
    margin-right: 8px;
    color: #4D4D4D;
}

.selected-combo .value .serves {
    width: max-content;
    height: 20px;
    background: #F5F5F5;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 4px;
    margin-right: 8px;
    color: #4D4D4D;
}

.selected-combo .value .price {
    width: max-content;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 9.5px;
    color: #4F4F4F;
}

/*Product combo item*/

.combo-products-item {
    padding: 12px 24px;
    width: 99%;
    background: #FCFCFC;
    align-items: center;
    margin-top: 8px;
}

.combo-products-item.selected {
    background: #F5F5F5;
}

.combo-products-item p {
    text-align: unset;
}

.combo-products-item .info {
    display: flex;
    width: 544px;
    height: 112px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 16px;
    position: relative;
}

.combo-products-item .info .image {
    z-index: 2;
    height: 112px;
    width: 113px;
    background-color: #FCFCFC !important;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    margin-right: 4px;
    margin: -1px 0 0 -1px;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.combo-products-item .info .image-placeholder {
    position: absolute;
    left: 0;
    border-radius: 8px 0 0 8px;
    z-index: 1;
}

.combo-products-item .info .title {
    margin: 10px 12px 4px 8px;
    width: 408px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.combo-products-item .info .description {
    margin: 0 12px 8px 8px !important;
    width: 408px;
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.combo-products-item .info .value {
    align-items: center;
    display: flex;
    width: 408px;
    height: 24px;
}

.combo-products-item .info .value .measure {
    width: max-content;
    height: 20px;
    background: #F5F5F5;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 4px;
    margin-left: 8px;
    margin-right: 8px;
    color: #4D4D4D;
}

.combo-products-item .info .value .serves {
    width: max-content;
    height: 20px;
    background: #F5F5F5;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 4px;
    margin-right: 8px;
    color: #4D4D4D;
}

.combo-products-item .info .value .price {
    width: max-content;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
    padding: 0 9.5px;
    color: #4F4F4F;
}

.combo-products-item .input-quantity {
    visibility: hidden;
    margin-right: 16px;
}

.combo-products-item .value-remove {
    display: none;
}

.combo-products-item.selected .value-remove {
    padding: 18px 0 2px 0;
    align-items: center;
    display: flex;
}

.combo-products-item.selected .input-quantity {
    visibility: visible;
}

.combo-products-item .value-remove svg {
    margin-right: 4px;
    cursor: pointer;
}

.combo-products-item .value-remove p {
    width: 336px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-right: 16px;
}

.combo-products-item .value-remove div {
    align-items: center;
    padding: 6px 8px;
    width: 98px;
    height: 36px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    display: flex;
}

.combo-products-item .value-remove span {
    width: 21px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-right: 4;
}

.combo-products-item .value-remove input[type="text"] {
    width: 57px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    border: none;
    text-align: right;
}