.sales-section {
    width: 1440px;
}

/* OPTIONS SEARCH */

.options-search {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 32px;
    display: flex;
}

.segmented-control {
    width: 408px;
    display: flex;
    margin-right: 80px;
}

.segmented-control div {
    align-items: center;
    width: 136px;
    background: var(--color-primary-ten);
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.segmented-control div.selected {
    background: var(--color-primary);
    color: #FCFCFC;
}

.segmented-control div.selected svg * {
    fill: #FCFCFC !important;
}

.segmented-control div * {
    text-align: center;
}

.segmented-control div svg {
    margin-right: 4px;
}

.segmented-control div:nth-child(1) {
    border-radius: 8px 0 0 8px;
}

.segmented-control div:nth-child(3) {
    border-radius: 0 8px 8px 0;
}

/* Status & Filter */

.status-filter {
    width: 100%;
    height: 56px;
    background: #F5F5F5;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.order-blink {
    margin-bottom: 1px;
    animation: blinker 1.25s linear infinite;
    margin-right: 8px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.print {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.print p {
    width: 162px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-right: 14px;
}

/* Ordening */

.ordening {
    display: flex;
    align-items: center;
    height: 36px;
    position: absolute;
    right: 16px;
}

.ordening p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.ordening p:nth-child(1) {
    margin-right: 4px;
}

.ordening-button {
    display: flex;
    justify-content: center;
    align-items: center !important;
    height: 36px;
    background-color: var(--color-primary) !important;
    border-radius: 8px !important;
    cursor: pointer;
    border: none !important;
    margin-left: 7px;
    color: #FCFCFC !important;
    padding-left: 13px;
    padding-right: 12px;
    margin-left: 16px;
}

.ordening-button p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
}

.ordening-button svg:nth-child(1) {
    margin-right: 7px;
}

.ordening-button::after {
    margin-left: 6px !important;
}

/* Kanbam */

.kanban {
    display: flex;
    width: 1440px;
    height: 880px;
    border-radius: 16px;
    margin-top: 32px;
    margin-bottom: 84px;
}

.kanban-column {
    position: relative;
    height: 880px;
    width: 360px;
    background: #FFFFFF;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.kanban-back-top {
    display: none;
    align-items: center;
    padding: 0 8px;
    position: absolute;
    height: 24px;
    bottom: 16px;
    right: 16px;
    background: var(--color-primary-ten);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    border-radius: 8px;
    cursor: pointer;
}

.kanban-back-top p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-primary);
    margin-right: 8px;
}

.kanban-body {
    height: 814px;
    overflow: auto;
    padding-bottom: 56px;
    position: relative;
}

.kanban-body .placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.kanban-body .kanban-order+.placeholder {
    display: none;
}

.kanban-body::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    border-radius: 10rem;
}

.kanban-body::-webkit-scrollbar-track {
    background: #fafafa;
}

.kanban-column:first-child {
    border-left: 1px solid #DDDDDD;
    border-radius: 16px 0 0 16px;
}

.kanban-column:first-child .kanban-header {
    border-radius: 16px 0 0 0;
}

.kanban-column:last-child {
    border-radius: 0 16px 16px 0;
}

.kanban-column:last-child .kanban-header {
    border-radius: 0 16px 0 0;
}

.kanban-header {
    height: 64px;
    width: 100%;
    background: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    align-items: center;
}

.kanban-header-default {
    display: flex;
    align-items: center;
    height: 64px;
}

.kanban-header-search {
    height: 64px;
    padding: 16px;
    display: none;
}

.kanban-header-search input[type="text"] {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    color: #4D4D4D;
    background: transparent;
    border: none;
    width: 100%;
}

.kanban-header-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.kanban-header-title .title-text {
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
    margin-left: 16px;
    margin-right: 8px;
}

.kanban-header-title .title-cont {
    align-items: center;
    height: 24px;
    padding: 0 8px;
    background: var(--color-primary);
    border-radius: 8px;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
}

.kanban-header-title .title-text-sub {
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    margin-left: 16px;
    margin-right: 8px;
}

.kanban-header button {
    border: none;
    background: none;
    padding: 0 16px 0 0;
}

.kanban-order {
    width: 328px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    margin: 16px 16px 0 16px;
    padding: 12px;
    cursor: pointer;
}

.order-header {
    display: flex;
    width: 100%;
    height: 24px;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
}

.order-header .order-client-name {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    max-width: 180px;
    overflow: hidden;
}

.order-status {
    position: absolute;
    right: 0;
}

/*First Column*/

.kanban-column:nth-child(1) .order-status circle:nth-child(3) {
    fill: var(--color-primary);
    r: 6.25;
}

/*Second Column*/

.kanban-column:nth-child(2) .order-status rect:nth-child(2) {
    fill: var(--color-primary);
    width: 20px;
}

.kanban-column:nth-child(2) .order-status circle:nth-child(n+3):nth-child(-n+4) {
    fill: var(--color-primary);
}

.kanban-column:nth-child(2) .order-status circle:nth-child(4) {
    r: 6.25;
}

/*Third Column*/

.kanban-column:nth-child(3) .order-status rect:nth-child(2) {
    fill: var(--color-primary);
    width: 34px;
}

.kanban-column:nth-child(3) .order-status circle:nth-child(n+3):nth-child(-n+5) {
    fill: var(--color-primary);
}

.kanban-column:nth-child(3) .order-status circle:nth-child(5) {
    r: 6.25;
}

/*Four Column*/

.kanban-column:nth-child(4) .order-status rect:nth-child(2) {
    fill: #25A65B;
    width: 48px;
}

.kanban-column:nth-child(4) .order-status circle:nth-child(n+3):nth-child(-n+6) {
    fill: #25A65B;
}

.kanban-column:nth-child(4) .order-status circle:nth-child(6) {
    r: 6.25;
}

.kanban-column:nth-child(4) .order-status path {
    fill: #FCFCFC;
}

/*Four Column Mesa*/

.kanban-column:nth-child(4) .kanban-order[type="mesa"] .order-status rect:nth-child(2) {
    fill: #25A65B;
    width: 35px;
}

.kanban-column:nth-child(4) .kanban-order[type="mesa"] .order-status circle:nth-child(5) {
    r: 6.25;
}

.kanban-column:nth-child(4) .order-status path {
    fill: #FCFCFC;
}

/*Four Column Cancelled*/

.order-status.cancelled rect {
    fill: #DDDDDD !important;
}

.order-status.cancelled circle:nth-child(n+3):nth-child(-n+6) {
    fill: #DDDDDD !important;
}

.order-status.cancelled path {
    fill: #B00020 !important;
    d: path('M50.5 8.51317L54.2631 4.75L55 5.48682L51.2368 9.24999L50.5 8.51317ZM51.2368 4.75001L55 8.51318L54.2631 9.25L50.5 5.48683L51.2368 4.75001Z');
}

/*Four Column Mesa Cancelled*/

.kanban-order[type="mesa"] .order-status.cancelled path {
    d: path('M35 8.26317L38.7631 4.5L39.5 5.23682L35.7368 8.99999L35 8.26317ZM35.7368 4.50001L39.5 8.26318L38.7631 9L35 5.23683L35.7368 4.50001Z') !important;
}

.order-info {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 16px;
    margin-bottom: 12px;
}

.order-info .order-cod {
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    margin-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    max-width: 100px;
}

.order-info .order-date {
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    white-space: nowrap;
}

.order-info .order-price {
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    text-align: end;
    position: absolute;
    right: 0;
}

.new-sale .order-address, .kanban-order .order-address {
    height: 32px;
    margin-bottom: 16px;
}

.new-sale .order-address p, .kanban-order .order-address p {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
}

.order-footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    position: relative;
}

.order-footer p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0962BA;
}

.order-footer svg {
    margin-right: 4px;
}

.kanban-order[type="mesa"] .order-footer svg {
    margin-right: 4px;
}

.order-desk {
    margin-left: 4px;
}

.order-footer p:not(.order-deliver):not(#order-next p) {
    white-space: nowrap;
    margin-right: 4px;
}

#order-next {
    display: flex;
    align-items: center;
    height: 32px;
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 0;
}

#order-next p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    margin-right: 5px;
    width: 100%;
}

.order-footer-end {
    border-top: 1px solid #DDDDDD;
    display: flex;
    width: 100%;
    padding-top: 7px;
}

.order-footer-end p {
    position: static;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
}

.order-footer-end p:nth-child(2) {
    position: absolute;
    right: -4PX;
}

/*Purchase Data*/

.purchase-data {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    background: #FCFCFC;
    display: none;
    z-index: 10;
    overflow: auto;
    padding-right: 16px;
}

.purchase-data-header {
    width: 840px;
    margin: 32px 32px 40px 32px;
    align-items: center;
    display: flex;
}

.purchase-data-header p {
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #4D4D4D;
}

.purchase-data-header p:nth-child(2) {
    margin-left: 6px;
}

.purchase-data-header-info {
    margin-left: 16px;
    display: flex;
    padding: 8px;
    height: 40px;
    background: #F5F5F5;
    border-radius: 8px;
    align-items: center;
}

.purchase-data-header-info svg {
    margin-right: 4px;
}

.purchase-data-header-info p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0962BA;
}

.purchase-data-header-info.canceled {
    background: #FFF0F2;
    cursor: pointer;
}

.purchase-data-header-info.canceled p {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B00020;
}

.purchase-data-header button {
    margin-left: 16px;
    border: none;
    background: none;
    padding: 0;
}

.purchase-data-header .right {
    position: absolute;
    right: 32px;
    display: flex;
    align-items: center;
}

.purchase-data-header .right button:nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    padding: 8px 12px;
    background: var(--color-primary-ten);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
}

.purchase-data-header .right button:nth-child(1) svg {
    margin-right: 7px;
}

.purchase-data-body {
    display: flex;
}

.purchase-data-body-left {
    margin-left: 32px;
    margin-right: 20px;
    width: 400px;
}

.purchase-data-body-right {
    margin-right: 32px;
    margin-left: 20px;
    width: 400px;
}

.sales-item {
    width: 100%;
    height: 1106px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    overflow: auto;
}

.sales-progress {
    width: 100%;
    height: 236px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    margin-bottom: 16px;
    text-align: center;
    align-items: center;
    position: relative;
}

.sales-progress .sprogress {
    margin: 2px 0 8px 0;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
}

.sales-progress .sprogress div:not(:last-child):not(.sprogress_cancel) {
    margin-right: 16px;
}

.sales-progress .sprogress div p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    text-align: center;
}

.sales-progress .sprogress_cancel {
    position: absolute;
    right: 0;
    display: none;
    background: #fcfcfc;
}

.sales-progress .sprogress.position-1 div:nth-child(2) *:not(p) {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.sales-progress .sprogress.position-2 div:nth-child(n+2):nth-child(-n+3) *:not(p) {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.sales-progress .sprogress.position-3 div:nth-child(n+2):nth-child(-n+4) *:not(p) {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.sales-progress .sprogress.position-4 div:nth-child(n+2):nth-child(-n+5) *:not(p) {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.sales-progress .sprogress div h1 {
    width: 80px;
    height: 32px;
    overflow: hidden;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #BFBFBF;
    margin-top: 4px;
}

.sales-progress .sprogress.position-cancel .sprogress_cancel {
    display: block;
}

.sales-progress .sprogress.third {
    margin: 28px 28px 8px 28px;
}

.sales-progress .sprogress.four {
    margin: 28px 28px 8px 28px;
}

.sales-address {
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 16px;
}

.sales-address-name {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 8px !important;
}

.sales-address-phone {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    margin-bottom: 8px !important;
}

.line-breaker {
    border-top: 0.5px solid #DDDDDD;
    margin-bottom: 8px;
}

.sales-address-address {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 8px !important;
}

.sales-address-address-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.sales-address-note {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0962BA;
    margin-bottom: 8px !important;
}

.sales-address-note-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.sales-payment {
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 16px;
}

.sales-payment .sales-payment-title {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #0962BA;
    margin-bottom: 16px !important;
}

.sales-payment-price {
    margin-top: 8px;
    margin-bottom: 8px;
}

.sales-payment .sales-payment-price p:nth-child(1), .sales-payment .sales-payment-change p:nth-child(1) {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 0 !important;
}

.sales-payment .sales-payment-price p:nth-child(2), .sales-payment .sales-payment-change p:nth-child(2) {
    height: 24px;
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    text-align: end;
    margin-bottom: 0 !important;
}

.sales-payment .line-breaker {
    margin: 16px 0;
}

.sales-payment p {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.sales-payment p:not(:last-child) {
    height: 24px;
    white-space: nowrap;
    margin-bottom: 8px !important;
}

.sales-payment .sales-payment-total-title, .sales-payment .sales-payment-total {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
}

.sales-payment p:nth-child(2) {
    width: 100%;
    text-align: end;
}

.sales-item-header {
    align-items: center;
    padding: 16px;
    height: 64px;
    background: #F5F5F5;
    border-radius: 8px 8px 0 0;
    margin-bottom: 16px;
}

.sales-item-header p {
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
}

.sales-item-each {
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    margin: 0 36px 24px 36px;
}

.sales-item-each-header {
    display: flex;
    background: #FCFCFC;
}

.sales-item-each-header img {
    width: 112px;
    height: 112px;
    margin-right: 8px;
    border-radius: 8px 0 0 0;
    object-fit: cover;
}

.sales-item-each-body {
    padding-right: 8px;
}

.sales-item-each-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 10px;
    width: 185px;
    overflow-wrap: break-word;
    margin: 2px 0 8px 0 !important;
}

.sales-item-each-measure {
    min-height: 16px;
    width: max-content;
    padding: 2px 4px;
    background: #F5F5F5;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
}

.sales-item-each-payment {
    background: #F5F5F5;
    border-radius: 4px;
    height: 26px;
    padding: 0 8px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.sales-item-each-payment p:nth-child(1) {
    width: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0962BA;
    text-align: center;
}

.sales-item-each-payment p:nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #0962BA;
}

.sales-item-each-payment p {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin: 0 2px;
    color: #4D4D4D;
}

.sales-item-each-extra {
    border-top: 0.5px solid #DDDDDD;
    padding: 8px;
}

.sales-item-each-extra h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 4px;
}

.sales-item-each-extra p {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.sales-item-each-extra .item-removed {
    color: #B00020;
}

.sprogress-circle {
    margin: 8px 36px 8px 36px;
}

.sales-progress-button {
    display: flex;
    align-items: center;
    width: 328px;
    height: 40px;
    background: var(--color-primary);
    border-radius: 8px;
    text-align: center;
    border: none;
    margin: 32px auto 0 auto;
    padding: 0 12px;
    position: relative;
}

.sales-progress-button span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFC;
    margin-right: 4px;
}

.sales-progress-button svg {
    position: absolute;
    right: 12px;
}

/*order-cancel*/

.order-cancel {
    width: 712px;
    background: #FCFCFC;
    border-radius: 8px;
    z-index: 1000;
}

.order-cancel-header {
    display: flex;
    padding: 16px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #DDDDDD;
}

.order-cancel-header p {
    width: 404px;
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #B00020;
    margin-left: 8px;
}

.order-cancel-close {
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.order-cancel-body {
    padding: 16px;
}

.order-cancel-body p:nth-child(1) {
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
    margin-bottom: 16px !important;
}

.order-cancel-body p:nth-child(2) {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-top: 8px;
    margin-bottom: 4px !important;
}

.order-cancel-body textarea {
    padding: 8px;
    height: 96px;
    width: 100%;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.order-cancel-body p:nth-child(4) {
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

.order-cancel-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #DDDDDD;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 16px;
}

.order-cancel-footer p:nth-child(1) {
    width: 68px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-primary);
    margin-right: 24px;
    cursor: pointer;
}

.order-cancel-footer p:nth-child(2) {
    padding: 0 12px;
    width: 214px;
    height: 40px;
    background: var(--color-primary-ten);
    border-radius: 8px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: var(--color-primary);
    cursor: pointer;
}

/*Order Cancelled*/

.order-cancelled {
    width: 712px;
    background: #FCFCFC;
    border-radius: 8px;
    z-index: 1000;
    display: none;
}

.order-cancelled-title {
    border-bottom: 1px solid #DDDDDD;
    align-items: center;
    height: 65px;
    display: flex;
    padding: 0 16px;
}

.order-cancelled-title svg:nth-child(1) {
    margin-right: 8px;
}

.order-cancelled-title p {
    height: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #B00020;
}

.order-cancelled-title svg:nth-child(3) {
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.order-cancelled-motivation {
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 8px 16px 4px 16px !important;
    color: #4D4D4D;
}

.order-cancelled-message {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    padding: 8px 8px 4px 8px;
    margin: 0 16px 24px 16px !important;
    border-radius: 8px;
    background: #F5F5F5;
}

/*Skeleton Vendas*/

.purchase-data-skeleton .shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

/*Kanban order view*/

[type="delivery"] [view]:not([view="delivery"]) {
    display: none;
}

[type="mesa"] [view]:not([view="mesa"]) {
    display: none;
}

[type="withdraw"] [view]:not([view="withdraw"]) {
    display: none;
}

@media only screen and (max-width: 1450px) {
    .sales-section {
        width: 100%;
    }

    .kanban {
        width: 100%;
    }

    .kanban-order {
        width: calc(100% - 16px);
        margin: 16px 8px 0 8px;
    }

    .order-footer p {
        font-size: 14px;
    }

    #order-next p {
        font-size: 14px;
    }

    #order-next svg {
        height: 9px;
        margin-top: 2px;
    }

    .order-address {
        height: unset;
    }
}

@media only screen and (max-width: 1000px) {

    .order-info {
        display: block;
        height: unset;
    }

    .order-info .order-date {
        position: absolute;
        right: 0;
        top: 0;
    }

    .order-info .order-price {
        position: unset;
        text-align: end;
        margin-top: 4px;
    }

    .order-footer {
        margin-top: 4px;
    }

    #order-next {
        position: unset;
        justify-content: center;
        height: unset;
        margin-top: 6px;
    }

    #order-next p {
        width: unset;
        margin-right: 8px;
    }

    .order-footer p:not(.order-deliver):not(#order-next p) {
        text-align: center;
    }

    .order-footer {
        display: unset;
    }

    .order-footer svg:first-child {
        display: none;
    }

    .order-footer-end p:nth-child(2) {
        position: unset;
        margin-top: 6px;
    }

    .order-footer-end {
        display: unset;
    }
}