<div class="a4-default" type="template-2">
    <img class="cut_guide" src="img/cut_guide.svg">
    <img class="cut_guide" src="img/cut_guide.svg">
    <img class="cut_guide" src="img/cut_guide.svg">
    <img class="cut_guide" src="img/cut_guide.svg">
    <p class="a4-default-header center-abs-hor" view="template-2">✁<b>20x15cm</b> ✪ Papeis recomendados ✪ Fotográfico:
        Glossy -
        230g | Couche: fosco - 210 a 300g</p>
    <div class="a4-default-body">
        <div class="a4-default-template">
            <div class="a4-default-template-top">
                <img src="{{url}}">
                <h1>Acesse nosso <span>cardápio digital</span></h1>
            </div>
            <div class="a4-default-template-bottom">
                <img src="img/a4-default-template-img.svg">
                <div class="a4-default-template-bottom-info">
                    <p>ou acesse o link</p>
                    <p><img src="img/a4-default-template-bottom-logo.svg">/{{path}}</p>
                </div>
            </div>
        </div>
        <div class="a4-default-template">
            <div class="a4-default-template-top">
                <img src="{{url}}">
                <h1>Acesse nosso <span>cardápio digital</span></h1>
            </div>
            <div class="a4-default-template-bottom">
                <img src="img/a4-default-template-img.svg">
                <div class="a4-default-template-bottom-info">
                    <p>ou acesse o link</p>
                    <p><img src="img/a4-default-template-bottom-logo.svg">/{{path}}</p>
                </div>
            </div>
        </div>
    </div>
    <p class="a4-default-footer center-abs-hor">
        Criado com
        <img src="img/a4-default-footer.svg">
    </p>
</div>