<div class="a4-default" type="qr">
    <img class="cut_guide" src="img/cut_guide.svg">
    <img class="cut_guide" src="img/cut_guide.svg">
    <img class="cut_guide" src="img/cut_guide.svg">
    <img class="cut_guide" src="img/cut_guide.svg">
    <p class="a4-default-header center-abs-hor">✁<b>5x5cm</b> | Recomendações: ✪ Adesivo vinílico ou plástico. ✪ Cantos
        arrendondados. ✪ Imprimir 2 cópias.</p>
    <div class="a4-default-body"></div>
    <p class="a4-default-footer center-abs-hor">
        Criado com
        <img src="img/a4-default-footer.svg">
    </p>
</div>