<div id="new-sale-print" class="new-sale-print">
    <div class="new-sale-print-businessdata">
        <p>{{nomeEstabelecimento}}</p>
        <p>CNPJ: {{cnpjEstabelecimento}}</p>
        <p>{{enderecoEstabelecimento}}</p>
    </div>
    <div class="new-sale-print-ordertypetime">
        <div>
            <p>Pedido {{codigoTransacao}}</p>
            <p>
                {{orderTag}}
            </p>
        </div>
        <div>
            <p>
                <svg class="not-wl" width="32" height="33" viewBox="0 0 32 33" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19.24 13.142L16 2.47534L12.76 13.142H2.66663L10.9066 19.022L7.77329 29.142L16 22.8887L24.24 29.142L21.1066 19.022L29.3333 13.142H19.24Z"
                        fill="black" />
                </svg>{{hora}} - {{data}}
            </p>
            {{previsao}}
        </div>
    </div>
    <div class="new-sale-print-clientdata">
        <p>{{nome}}</p>
        <p>{{telefone}}</p>
        {{endereco}}
        {{complemento}}
    </div>
    <div class="new-sale-print-orderitems">
        <p class="new-sale-print-orderitems-title">Itens do pedido</p>
        {{itens}}
        <div class="divider"></div>
        <div class="new-sale-print-sum">
            <div>
                <p>Subtotal</p>
                <p>R$ {{valorPedido}}</p>
            </div>
            {{frete}}
            {{cupom}}
            <div>
                <h5>TOTAL</h5>
                <h5>R$ {{total}}</h5>
            </div>
        </div>
        {{paymentMode}}
    </div>
    <div class="new-sale-print-orderend">
        <svg class="not-wl" width="210" height="37" viewBox="0 0 210 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M51.362 28.0408C49.9206 28.0408 48.7675 27.6774 47.9027 26.9504C47.0379 26.2235 46.6055 25.2584 46.6055 24.0551C46.6055 23.0524 46.8937 22.2127 47.4703 21.5359C48.073 20.859 48.8593 20.3452 49.8289 19.9942C50.7986 19.6182 51.8337 19.4051 52.9344 19.355L56.6689 19.167L56.6689 20.9718L54.271 21.1222C53.3537 21.1473 52.7248 21.3855 52.3841 21.8367C52.0434 22.2879 51.873 22.8394 51.873 23.4911C51.873 24.1178 52.0041 24.5815 52.2661 24.8824C52.5282 25.1832 52.9606 25.3336 53.5634 25.3336C54.1661 25.3336 54.7296 25.2208 55.2537 24.9952C55.7779 24.7445 56.2103 24.4186 56.551 24.0175L56.9441 25.0704C56.4461 26.0229 55.7123 26.7624 54.7427 27.2888C53.773 27.7902 52.6461 28.0408 51.362 28.0408ZM47.0772 15.2941C47.5489 14.1159 48.3744 13.1884 49.5537 12.5116C50.7593 11.8097 52.3317 11.4588 54.271 11.4588C56.6034 11.4588 58.2806 11.9726 59.3027 13.0004C60.3248 14.0031 60.8358 15.5072 60.8358 17.5125L60.8358 24.6191C60.8358 25.1205 61.0848 25.3962 61.5827 25.4464L62.9979 25.6344L62.9979 27.4768C62.6048 27.5771 62.0806 27.6899 61.4254 27.8152C60.7965 27.9406 60.1937 28.0032 59.6172 28.0032C58.6213 28.0032 57.7958 27.8027 57.1406 27.4016C56.4855 26.9755 56.053 26.2235 55.8434 25.1456L55.8434 17.5877C55.8434 16.4848 55.5682 15.7202 55.0179 15.2941C54.4937 14.8679 53.7337 14.6549 52.7379 14.6549C51.873 14.6549 51.0606 14.7927 50.3006 15.0685C49.5668 15.3191 48.8855 15.7202 48.2565 16.2717L47.0772 15.2941Z"
                fill="black" />
            <path
                d="M70.9416 16.3469C71.4133 15.3442 71.9375 14.4794 72.514 13.7524C73.1168 13.0004 73.7588 12.4239 74.4402 12.0228C75.1478 11.6217 75.8816 11.4212 76.6416 11.4212C76.9561 11.4212 77.3492 11.4713 77.8209 11.5716C78.2926 11.6468 78.6595 11.747 78.9216 11.8724C79.0264 12.6495 79.0395 13.5895 78.9609 14.6925C78.8823 15.7954 78.725 16.8608 78.4892 17.8886L76.2485 17.8886L75.7375 16.3093C75.6326 15.9584 75.4885 15.7328 75.305 15.6325C75.1478 15.5322 74.8988 15.4821 74.5581 15.4821C74.1388 15.4821 73.6409 15.5949 73.0644 15.8205C72.4878 16.0461 71.9375 16.4472 71.4133 17.0237L70.9416 16.3469ZM72.0816 16.2717L72.0816 24.732C72.0816 25.1832 72.3175 25.4464 72.7892 25.5216L75.1871 25.7848L75.1871 27.74L64.6913 27.74L64.6913 25.7848L66.2244 25.5216C66.6699 25.4464 66.8926 25.1832 66.8926 24.732L66.8926 15.4069C66.8926 14.9557 66.683 14.6925 66.2637 14.6173L64.534 14.2788L64.534 12.2484C65.4513 11.9977 66.434 11.8097 67.4823 11.6844C68.5568 11.559 69.5395 11.4838 70.4306 11.4588L71.2561 12.0604L72.0816 16.2717Z"
                fill="black" />
            <path
                d="M86.8402 28.0409C85.6084 28.0409 84.4946 27.7651 83.4988 27.2136C82.5291 26.6621 81.7691 25.8224 81.2188 24.6944C80.6684 23.5413 80.3933 22.0497 80.3933 20.2198C80.3933 18.3147 80.7209 16.7229 81.376 15.4445C82.0312 14.141 82.9878 13.1508 84.2457 12.474C85.5036 11.7972 87.0367 11.4588 88.845 11.4588C89.3691 11.4588 89.9064 11.4964 90.4567 11.5716C91.0333 11.6468 91.4788 11.747 91.7933 11.8724L91.4001 14.2037C91.1905 14.0031 90.876 13.8527 90.4567 13.7524C90.0636 13.6271 89.6574 13.5644 89.2381 13.5644C88.5567 13.5644 87.954 13.7524 87.4298 14.1284C86.9319 14.4794 86.5388 15.1061 86.2505 16.0085C85.9884 16.8859 85.8443 18.1016 85.8181 19.6558C85.8181 21.0345 85.9229 22.15 86.1326 23.0023C86.3422 23.8295 86.6567 24.4311 87.076 24.8072C87.5215 25.1832 88.0457 25.3712 88.6484 25.3712C89.1726 25.3712 89.7229 25.2834 90.2995 25.108C90.876 24.9325 91.3346 24.6818 91.6753 24.3559L92.2257 25.0328C91.6753 25.9352 90.9415 26.6621 90.0243 27.2136C89.1333 27.7651 88.0719 28.0409 86.8402 28.0409ZM96.1174 3.75056L96.1174 24.6192C96.1174 24.92 96.1829 25.133 96.3139 25.2584C96.445 25.3586 96.6153 25.4213 96.825 25.4464L98.2401 25.6344L98.2401 27.4768C97.8994 27.5771 97.3884 27.6899 96.707 27.8152C96.0519 27.9406 95.4098 28.0033 94.7808 28.0033C93.7326 28.0033 92.8808 27.7526 92.2257 27.2512C91.5967 26.7499 91.1774 25.9979 90.9677 24.9952L90.9677 6.98425C90.9677 6.53303 90.745 6.26983 90.2995 6.19462L88.4126 5.93142L88.4126 4.01376C89.4608 3.73802 90.6271 3.52495 91.9112 3.37454C93.2215 3.22414 94.3877 3.1364 95.4098 3.11134L96.1174 3.75056Z"
                fill="black" />
            <path
                d="M104.684 28.0409C103.243 28.0409 102.09 27.6774 101.225 26.9504C100.36 26.2235 99.9277 25.2584 99.9277 24.0551C99.9277 23.0524 100.216 22.2127 100.793 21.5359C101.395 20.859 102.182 20.3452 103.151 19.9942C104.121 19.6182 105.156 19.4051 106.257 19.355L109.991 19.167L109.991 20.9719L107.593 21.1223C106.676 21.1473 106.047 21.3855 105.706 21.8367C105.366 22.2879 105.195 22.8394 105.195 23.4911C105.195 24.1178 105.326 24.5816 105.588 24.8824C105.85 25.1832 106.283 25.3336 106.886 25.3336C107.488 25.3336 108.052 25.2208 108.576 24.9952C109.1 24.7445 109.533 24.4186 109.873 24.0175L110.266 25.0704C109.768 26.0229 109.035 26.7624 108.065 27.2888C107.095 27.7902 105.968 28.0409 104.684 28.0409ZM100.399 15.2941C100.871 14.1159 101.697 13.1884 102.876 12.5116C104.082 11.8097 105.654 11.4588 107.593 11.4588C109.926 11.4588 111.603 11.9727 112.625 13.0004C113.647 14.0031 114.158 15.5072 114.158 17.5126L114.158 24.6192C114.158 25.1205 114.407 25.3962 114.905 25.4464L116.32 25.6344L116.32 27.4768C115.927 27.5771 115.403 27.6899 114.748 27.8152C114.119 27.9406 113.516 28.0033 112.939 28.0033C111.944 28.0033 111.118 27.8027 110.463 27.4016C109.808 26.9755 109.375 26.2235 109.166 25.1456L109.166 17.5878C109.166 16.4848 108.89 15.7202 108.34 15.2941C107.816 14.8679 107.056 14.6549 106.06 14.6549C105.195 14.6549 104.383 14.7927 103.623 15.0685C102.889 15.3192 102.208 15.7202 101.579 16.2717L100.399 15.2941Z"
                fill="black" />
            <path
                d="M117.699 34.5082L117.699 32.5906L119.271 32.2898C119.691 32.2146 119.9 31.9639 119.9 31.5378L119.9 15.4445C119.9 14.9933 119.704 14.7301 119.311 14.6549L117.542 14.3165L117.542 12.286C118.485 12.0604 119.52 11.8724 120.647 11.722C121.8 11.5716 122.849 11.4964 123.792 11.4964L124.539 12.098L125.089 14.6173L125.089 31.5378C125.089 31.989 125.312 32.2396 125.758 32.2898L127.998 32.5906L127.998 34.5082L117.699 34.5082ZM126.74 28.0409C126.347 28.0409 125.915 28.0158 125.443 27.9657C124.998 27.9155 124.539 27.8278 124.067 27.7024L124.303 25.2584C124.618 25.6093 124.985 25.8475 125.404 25.9728C125.849 26.0731 126.295 26.1232 126.74 26.1232C127.762 26.1232 128.575 25.672 129.178 24.7696C129.807 23.8671 130.121 22.2002 130.121 19.7686C130.147 17.8384 129.911 16.4597 129.414 15.6325C128.942 14.7802 128.195 14.3541 127.173 14.3541C126.57 14.3541 126.02 14.4543 125.522 14.6549C125.024 14.8554 124.67 15.0685 124.46 15.2941L124.028 14.4293C124.631 13.5519 125.365 12.8375 126.229 12.286C127.12 11.7345 128.208 11.4588 129.492 11.4588C130.645 11.4588 131.68 11.7345 132.598 12.286C133.515 12.8124 134.236 13.6396 134.76 14.7677C135.31 15.8706 135.585 17.2869 135.585 19.0166C135.585 21.9745 134.786 24.2181 133.187 25.7472C131.589 27.2763 129.44 28.0409 126.74 28.0409Z"
                fill="black" />
            <path
                d="M145.251 24.732C145.251 25.1832 145.474 25.4464 145.919 25.5216L147.452 25.7848L147.452 27.7401L137.861 27.7401L137.861 25.7848L139.394 25.5216C139.839 25.4464 140.062 25.1832 140.062 24.732L140.062 15.4445C140.062 14.9933 139.852 14.7301 139.433 14.6549L137.703 14.3165L137.703 12.286C138.725 12.0103 139.865 11.8097 141.123 11.6844C142.381 11.5591 143.521 11.4964 144.543 11.4964L145.251 12.098L145.251 24.732ZM145.212 7.17226C145.212 7.92428 144.95 8.5259 144.425 8.97711C143.927 9.42832 143.259 9.65393 142.421 9.65393C141.556 9.65393 140.861 9.42832 140.337 8.97711C139.839 8.5259 139.59 7.92428 139.59 7.17226C139.59 6.42024 139.839 5.83116 140.337 5.40501C140.861 4.9538 141.556 4.72819 142.421 4.72819C143.259 4.72819 143.927 4.9538 144.425 5.40501C144.95 5.83116 145.212 6.42024 145.212 7.17226Z"
                fill="black" />
            <path
                d="M160.229 19.9942C160.229 18.415 160.15 17.1491 159.993 16.1965C159.836 15.244 159.547 14.5671 159.128 14.1661C158.735 13.7399 158.185 13.5268 157.477 13.5268C156.612 13.5268 155.957 13.9655 155.512 14.8429C155.092 15.7202 154.883 17.2995 154.883 19.5806C154.883 21.1599 154.961 22.4258 155.118 23.3783C155.302 24.3309 155.59 25.0202 155.983 25.4464C156.376 25.8725 156.927 26.0856 157.634 26.0856C158.499 26.0856 159.141 25.6469 159.561 24.7696C160.006 23.8671 160.229 22.2754 160.229 19.9942ZM149.301 19.9566C149.301 17.876 149.667 16.2216 150.401 14.9933C151.161 13.7399 152.183 12.8375 153.467 12.286C154.752 11.7345 156.193 11.4588 157.792 11.4588C159.469 11.4588 160.897 11.7596 162.076 12.3612C163.256 12.9378 164.16 13.8277 164.789 15.0309C165.444 16.2341 165.772 17.7632 165.772 19.6182C165.772 21.7239 165.405 23.4034 164.671 24.6568C163.937 25.8851 162.928 26.775 161.644 27.3264C160.386 27.8529 158.945 28.1161 157.32 28.1161C155.669 28.1161 154.24 27.8278 153.035 27.2512C151.829 26.6496 150.899 25.7472 150.244 24.544C149.615 23.3407 149.301 21.8116 149.301 19.9566Z"
                fill="black" />
            <path
                d="M42.1848 7.62906C41.113 5.62964 39.4058 4.00686 37.3089 2.99406C34.923 1.83692 31.7979 1.83692 25.5475 1.83692L2.70357 1.83691C2.68919 1.83774 2.67528 1.84218 2.66325 1.84977C2.65058 1.85988 2.64125 1.87328 2.63637 1.88834C2.63413 1.90233 2.63528 1.91663 2.63973 1.93013C2.64696 1.94301 2.65733 1.95404 2.66997 1.96227C7.46525 4.36013 7.72736 9.0337 7.69376 12.6755L7.69375 18.8083C7.69375 24.7483 7.69375 27.7216 8.91021 29.9876C9.98289 31.9873 11.6897 33.6109 13.7861 34.6258C14.9824 35.2044 16.3602 35.4905 18.2185 35.6351C20.0802 35.7798 22.4224 35.7798 25.5475 35.7798C31.7978 35.7798 34.923 35.7798 37.3089 34.6259C39.4053 33.6109 41.1122 31.9873 42.1848 29.9876C42.7931 28.853 43.0955 27.5448 43.2501 25.7769C43.4013 24.0059 43.4013 21.7784 43.4013 18.8084C43.4013 12.8684 43.4013 9.89835 42.1848 7.62906ZM31.5357 28.8659C30.0303 29.753 28.0936 30.1966 25.7256 30.1966C23.3263 30.1966 21.3549 29.7198 19.8113 28.7662C18.2795 27.7888 17.0827 26.4014 16.3703 24.7773C15.632 23.0052 15.2665 21.1111 15.295 19.2037C15.295 16.6483 15.7789 14.5183 16.7467 12.8137C17.6755 11.1471 19.0966 9.77876 20.8329 8.87942C22.6393 7.97402 24.6543 7.51649 26.6934 7.5487C28.0884 7.54873 29.4788 7.70297 30.8368 8.00835C32.0162 8.25246 33.1557 8.6482 34.2241 9.18478C34.3316 10.4266 34.3316 11.6748 34.2241 12.9166C34.1564 14.1173 34.0128 15.3131 33.7939 16.4973L30.3529 16.4973L29.2238 12.7655C29.1163 12.4183 28.9886 12.0776 28.8474 11.7401C28.7544 11.5226 28.6067 11.3305 28.4173 11.1808C28.1713 10.9927 27.9001 10.8371 27.6108 10.718C27.27 10.5792 26.9025 10.5102 26.5321 10.5155C25.5307 10.5155 24.6705 11.1112 23.9513 12.3026C23.2356 13.463 22.8771 15.4569 22.876 18.2844C22.876 20.8751 23.2703 22.8348 24.0589 24.1633C24.8486 25.4587 26.1759 26.1058 28.0409 26.1048C29.0749 26.1275 30.1019 25.9367 31.0518 25.5455C31.7592 25.2263 32.4266 24.8317 33.0412 24.369L34.5467 25.494C34.0796 26.8569 33.0759 27.9809 31.5357 28.8659Z"
                fill="black" />
            <path
                d="M200.283 8.30952C200.756 8.70724 201.352 8.90609 202.073 8.90609C202.943 8.90609 203.652 8.64509 204.199 8.12309C204.77 7.60109 205.056 6.95481 205.056 6.18424C205.056 5.53795 204.82 5.01595 204.348 4.61823C203.9 4.19566 203.316 3.98438 202.595 3.98438C201.725 3.98438 201.004 4.24538 200.433 4.76738C199.886 5.28938 199.612 5.92323 199.612 6.66895C199.612 7.34009 199.836 7.88695 200.283 8.30952Z"
                fill="black" />
            <path
                d="M183.979 28.2379C182.6 28.2379 181.472 27.6864 180.595 26.5834C179.718 25.4805 179.291 23.9263 179.316 21.9209C179.342 20.0408 179.73 18.3362 180.482 16.8071C181.234 15.2529 182.262 14.0246 183.565 13.1222C184.869 12.1947 186.36 11.731 188.04 11.731C188.842 11.731 189.632 11.8187 190.409 11.9942C191.186 12.1446 191.863 12.3201 192.439 12.5206L191.086 15.1151C190.609 14.7641 190.133 14.4759 189.657 14.2503C189.206 14.0246 188.654 13.9118 188.002 13.9118C187.376 13.9118 186.837 14.1124 186.385 14.5135C185.934 14.8895 185.558 15.4159 185.257 16.0927C184.957 16.7695 184.731 17.5341 184.581 18.3864C184.43 19.2387 184.355 20.1286 184.355 21.0561C184.33 22.3094 184.455 23.2745 184.731 23.9513C185.007 24.6031 185.37 24.929 185.821 24.929C186.147 24.929 186.473 24.8036 186.799 24.553C187.15 24.3023 187.514 23.9137 187.89 23.3873C188.266 22.8609 188.629 22.2092 188.98 21.4321L189.544 21.6953C189.168 23.8511 188.466 25.4805 187.438 26.5834C186.436 27.6864 185.283 28.2379 183.979 28.2379ZM191.349 28.1627C190.471 28.1627 189.845 27.9371 189.469 27.4858C189.093 27.0096 188.88 26.3327 188.83 25.4554C188.804 25.1295 188.792 24.6908 188.792 24.1393C188.792 23.5879 188.792 23.1241 188.792 22.7481L189.958 13.611L193.943 11.543L194.846 12.295L193.605 22.3345C193.58 22.6353 193.542 22.9612 193.492 23.3121C193.467 23.638 193.455 23.9012 193.455 24.1017C193.455 24.553 193.605 24.7786 193.906 24.7786C194.081 24.7786 194.319 24.7159 194.62 24.5906C194.946 24.4402 195.397 24.202 195.974 23.8761L196.801 25.681C195.949 26.4581 195.034 27.0722 194.056 27.5234C193.104 27.9496 192.201 28.1627 191.349 28.1627Z"
                fill="black" />
            <path
                d="M205.259 15.9423L204.356 22.3345C204.306 22.6854 204.256 23.0238 204.206 23.3497C204.181 23.6505 204.168 23.9388 204.168 24.2146C204.168 24.5906 204.319 24.7786 204.619 24.7786C204.82 24.7786 205.083 24.7034 205.409 24.553C205.76 24.4026 206.186 24.1769 206.687 23.8761L207.515 25.6434C206.687 26.4456 205.773 27.0722 204.77 27.5235C203.767 27.9496 202.764 28.1627 201.762 28.1627C200.057 28.1627 199.205 27.2978 199.205 25.5682C199.205 25.117 199.242 24.578 199.318 23.9513C199.393 23.3247 199.481 22.7356 199.581 22.1841L200.295 17.7096C200.345 17.4338 200.383 17.0829 200.408 16.6567C200.458 16.2055 200.483 15.8796 200.483 15.6791C200.483 15.278 200.383 15.0023 200.182 14.8519C199.982 14.6764 199.681 14.5887 199.28 14.5887L198.152 14.5887L198.378 12.7086C199.305 12.3577 200.107 12.107 200.784 11.9566C201.486 11.8062 202.175 11.731 202.852 11.731C203.805 11.731 204.469 11.919 204.845 12.295C205.246 12.671 205.447 13.21 205.447 13.9118C205.447 14.1876 205.422 14.5135 205.371 14.8895C205.346 15.2655 205.309 15.6164 205.259 15.9423Z"
                fill="black" />
            <path
                d="M176.122 25.476C176.122 26.4798 175.798 27.2731 175.151 27.856C174.503 28.4388 173.629 28.7302 172.528 28.7302C171.459 28.7302 170.601 28.4388 169.954 27.856C169.306 27.2731 168.982 26.4798 168.982 25.476C168.982 24.4722 169.306 23.6788 169.954 23.096C170.601 22.5131 171.459 22.2217 172.528 22.2217C173.629 22.2217 174.503 22.5131 175.151 23.096C175.798 23.6788 176.122 24.4722 176.122 25.476Z"
                fill="black" />
        </svg>
        <p>Boas vendas!</p>
    </div>
    <div class="new-sale-print-divider"></div>
</div>