<h1>
    <svg class="not-wl" width="40" height="26" viewBox="0 0 40 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M0 2.30859C0 1.20402 0.895431 0.308594 2 0.308594H38C39.1046 0.308594 40 1.20402 40 2.30859V23.3086C40 24.4132 39.1046 25.3086 38 25.3086H2C0.895431 25.3086 0 24.4132 0 23.3086V2.30859Z"
            fill="white" />
        <path
            d="M39.9596 4.69434H0.0404098C0.0180921 4.69434 0 4.71672 0 4.74434V9.64434C0 9.67195 0.0180918 9.69434 0.0404096 9.69434H39.9596C39.9819 9.69434 40 9.67195 40 9.64434V4.74434C40 4.71672 39.9819 4.69434 39.9596 4.69434Z"
            fill="black" />
        <rect x="31.9403" y="18.6177" width="5.625" height="3.75" rx="0.5" fill="black" />
    </svg>
    RECEBER PAGAMENTO NO CARTÃO
</h1>