<h1 class="online">
    <svg class="not-wl" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M14 0.808594C6.3 0.808594 0 7.10859 0 14.8086C0 22.5086 6.3 28.8086 14 28.8086C21.7 28.8086 28 22.5086 28 14.8086C28 7.10859 21.7 0.808594 14 0.808594ZM20.5352 8.51042L23.7982 11.7734L12.8333 22.7428L5.36849 15.2734L8.63151 12.0104L12.8333 16.2077L20.5352 8.51042Z"
            fill="black" />
    </svg>
    PAGO ONLINE - NÃO COBRAR
</h1>