<h1>
    <svg class="not-wl" width="40" height="26" viewBox="0 0 40 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3203_116879)">
            <path
                d="M0 2.30859C0 1.20402 0.895431 0.308594 2 0.308594H38C39.1046 0.308594 40 1.20402 40 2.30859V23.3086C40 24.4132 39.1046 25.3086 38 25.3086H2C0.895431 25.3086 0 24.4132 0 23.3086V2.30859Z"
                fill="white" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M34.6355 22.8138V20.0852H34.8855V22.8138H34.6355ZM35.9608 22.8138V20.0852H36.2108V22.8138H35.9608ZM37.2472 22.8138V20.0852H37.4972V22.8138H37.2472Z"
                fill="black" />
            <g clip-path="url(#clip1_3203_116879)">
                <path d="M36.6394 6.37251V2.80884H37.4962V6.37251H36.6394Z" fill="black" />
                <path d="M30.3308 4.54652V2.80884H34.3564V4.54652H30.3308Z" fill="black" />
                <path d="M37.4917 4.15796L34.9244 6.72523H37.4917L37.4917 4.15796Z" fill="black" />
                <path d="M32.6216 6.72523V4.98755H34.3593V6.72523H32.6216Z" fill="black" />
                <path d="M30.3308 6.72523V4.98755H32.0685V6.72523H30.3308Z" fill="black" />
                <path d="M32.6216 2.80862L34.3564 4.54346L34.3564 2.80862L32.6216 2.80862Z" fill="black" />
                <path d="M30.3339 4.54368L32.0687 2.80884L32.0687 4.54368L30.3339 4.54368Z" fill="black" />
                <ellipse cx="35.506" cy="3.67615" rx="0.86731" ry="0.86731" fill="black" />
            </g>
            <g clip-path="url(#clip2_3203_116879)">
                <path d="M3.73206 0.308594H6.3307V25.3086H3.73206V0.308594Z" fill="black" />
                <path
                    d="M7.9008 13.3084C7.9008 14.9105 6.60211 16.2091 5.00008 16.2091C3.39806 16.2091 2.09937 14.9105 2.09937 13.3084C2.09937 11.7064 3.39806 10.4077 5.00008 10.4077C6.60211 10.4077 7.9008 11.7064 7.9008 13.3084Z"
                    fill="white" />
                <path d="M4.28857 12.5974H5.71097V14.0198H4.28857V12.5974Z" fill="black" />
            </g>
            <path
                d="M13.1342 17.2147H15.3038V14.039H16.3462L18.0067 17.2147H20.4309L18.4188 13.639C19.3522 13.2027 19.9703 12.3542 19.9703 11.033C19.9703 8.85127 18.3704 8.18463 16.4431 8.18463H13.1342V17.2147ZM15.3038 12.33V9.90579H16.2735C17.3037 9.90579 17.8613 10.1846 17.8613 11.033C17.8613 11.8815 17.3037 12.33 16.2735 12.33H15.3038Z"
                fill="black" />
            <path
                d="M23.643 18.7298H25.0612V17.2874C26.5036 16.9722 27.2187 15.9299 27.2187 14.5966C27.2187 11.9906 23.5824 12.0512 23.5824 10.827C23.5824 10.2209 23.9218 9.99063 24.5642 9.99063C25.1218 9.99063 25.5581 10.2209 26.0551 10.6694L27.1217 9.43308C26.5884 8.85127 25.946 8.42704 25.0612 8.29371V6.8877H23.643V8.31796C22.3219 8.58462 21.534 9.54216 21.534 10.9239C21.534 13.3966 25.1581 13.433 25.1581 14.7541C25.1581 15.3481 24.8309 15.639 24.0794 15.639C23.4491 15.639 22.8431 15.3844 22.1279 14.839L21.1825 16.2935C21.8491 16.8995 22.8309 17.2631 23.643 17.3601V18.7298Z"
                fill="black" />
        </g>
        <path
            d="M2 1.30859H38V-0.691406H2V1.30859ZM39 2.30859V23.3086H41V2.30859H39ZM38 24.3086H2V26.3086H38V24.3086ZM1 23.3086V2.30859H-1V23.3086H1ZM2 24.3086C1.44772 24.3086 1 23.8609 1 23.3086H-1C-1 24.9654 0.343147 26.3086 2 26.3086V24.3086ZM39 23.3086C39 23.8609 38.5523 24.3086 38 24.3086V26.3086C39.6569 26.3086 41 24.9654 41 23.3086H39ZM38 1.30859C38.5523 1.30859 39 1.75631 39 2.30859H41C41 0.651739 39.6569 -0.691406 38 -0.691406V1.30859ZM2 -0.691406C0.343146 -0.691406 -1 0.651739 -1 2.30859H1C1 1.75631 1.44772 1.30859 2 1.30859V-0.691406Z"
            fill="black" />
        <defs>
            <clipPath id="clip0_3203_116879">
                <path
                    d="M0 2.30859C0 1.20402 0.895431 0.308594 2 0.308594H38C39.1046 0.308594 40 1.20402 40 2.30859V23.3086C40 24.4132 39.1046 25.3086 38 25.3086H2C0.895431 25.3086 0 24.4132 0 23.3086V2.30859Z"
                    fill="white" />
            </clipPath>
            <clipPath id="clip1_3203_116879">
                <rect width="7.16593" height="3.91668" fill="white" transform="translate(30.3308 2.80859)" />
            </clipPath>
            <clipPath id="clip2_3203_116879">
                <rect width="6" height="25" fill="white" transform="translate(2 0.308594)" />
            </clipPath>
        </defs>
    </svg>
    RECEBER R$ {{valor}}
</h1>