<div class="new-sale" ref="{{codigoTransacaoFull}}" phone="{{telefone}}" type="{{type}}">
    <div class="new-sale-header">
        <p class="new-sale-title">Novo pedido!</p>
        <div class="new-sale-type {{type}} {{subType}}">
            <p>
                <svg fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="" fill="#0962BA" />
                </svg>
                {{mesa}}
            </p>
        </div>
    </div>
    <div class="new-sale-body">
        <div class="d-flex">
            <p class="body-client-name">{{nome}}</p>
            <p class="body-client-cod">{{codigoTransacao}}</p>
        </div>
        <p class="body-client-info">{{telefone}}</p>
        <p class="body-client-info">{{endereco}}</p>
        <div class="body-divider"></div>
        <div class="d-flex">
            <div class="order-itens">
                <p class="order-itens-title">Itens do pedido</p>
                {{itensPedido}}
            </div>
            <div class="order-payment">
                <div class="d-flex order-payment-value">
                    <p>Total:</p>
                    <p>R$ {{total}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="new-sale-footer">
        <p>Recusar Pedido</p>
        <p>Confirmar pedido</p>
        <button>
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M15.3 5.3999H2.7C1.206 5.3999 0 6.6059 0 8.0999V13.4999H3.6V17.0999H14.4V13.4999H18V8.0999C18 6.6059 16.794 5.3999 15.3 5.3999ZM12.6 15.2999H5.4V10.7999H12.6V15.2999ZM15.3 8.9999C14.805 8.9999 14.4 8.5949 14.4 8.0999C14.4 7.6049 14.805 7.1999 15.3 7.1999C15.795 7.1999 16.2 7.6049 16.2 8.0999C16.2 8.5949 15.795 8.9999 15.3 8.9999ZM14.4 0.899902H3.6V4.4999H14.4V0.899902Z"
                    fill="#F16B24" />
            </svg>Imprimir
        </button>
    </div>
    <div class="new-sale-refuse">
        <div class="new-sale-refuse-body">
            <p class="new-sale-refuse-title">Detalhe o motivo da recusa</p>
            <p class="new-sale-refuse-subtitle">Uma mensagem será enviada para a (o) cliente.</p>
            <textarea placeholder="Escreva o motivo aqui."></textarea>
        </div>

        <div class="new-sale-refuse-footer" style="">
            <p>Voltar</p>
            <button>Recusar pedido</button>
        </div>
    </div>
</div>