<div class="tabs-main-coupon-content-item" key="{{code}}">
    <svg class="background-coupon not-wl" width="377" height="160" viewBox="0 0 377 160" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path fill="#FFE0E6" />
    </svg>
    <div class="tabs-main-coupon-content-item-content">
        <div class="tabs-main-coupon-content-item-title">
            <h5>{{code}}</h5>
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M18.6668 8.66667H10.6668C9.9335 8.66667 9.3335 9.26667 9.3335 10V19.3333H10.6668V10H18.6668V8.66667ZM20.6668 11.3333H13.3335C12.6002 11.3333 12.0002 11.9333 12.0002 12.6667V22C12.0002 22.7333 12.6002 23.3333 13.3335 23.3333H20.6668C21.4002 23.3333 22.0002 22.7333 22.0002 22V12.6667C22.0002 11.9333 21.4002 11.3333 20.6668 11.3333ZM20.6668 22H13.3335V12.6667H20.6668V22Z"
                    fill="#E4002B" />
            </svg>
        </div>
        <div class="tabs-main-coupon-content-item-benefits">
            <p>Benefícios:</p>
            <p>{{benefits}}</p>
        </div>
        <div>
            <h4>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill="#E4002B" />
                </svg>
            </h4>
            <div class="available">
                <p class="title-disponibility">Disponível</p>
                <label class="cl-switch cl-switch-green">
                    <input class="enabled-obj" type="checkbox" key="{{code}}" {{checked}}>
                    <span class="switcher"></span>
                </label>
            </div>
        </div>
    </div>
</div>