<div  key="{{key}}">
    <p>{{nome}} - R$ {{value}}</p>
    <p>{{data}}</p>
    <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M7.50005 6.49747C7.49805 6.62065 7.47435 6.74252 7.43005 6.85747C7.38863 6.97274 7.32396 7.07825 7.24005 7.16747L2.10005 12.7075C2.0142 12.7991 1.91043 12.8722 1.79517 12.9221C1.67992 12.972 1.55564 12.9976 1.43005 12.9975C1.30417 12.9996 1.17929 12.9748 1.06375 12.9248C0.948211 12.8748 0.844672 12.8007 0.760053 12.7075C0.59091 12.5256 0.497868 12.2858 0.500053 12.0375C0.498969 11.7941 0.588028 11.559 0.750053 11.3775L5.28005 6.49747L0.760053 1.62747C0.669828 1.5414 0.601288 1.43516 0.560053 1.31747C0.519947 1.20516 0.499645 1.08673 0.500053 0.967474C0.498821 0.844886 0.51913 0.723035 0.560053 0.607474C0.603853 0.49337 0.668257 0.38829 0.750053 0.297474H0.760053C0.842253 0.202531 0.944793 0.127334 1.06005 0.0774737C1.17712 0.0279561 1.30294 0.00244141 1.43005 0.00244141C1.55716 0.00244141 1.68298 0.0279561 1.80005 0.0774737C1.91289 0.131475 2.01463 0.206089 2.10005 0.297474L7.24005 5.83747C7.32054 5.92926 7.38479 6.0341 7.43005 6.14747C7.47339 6.25923 7.49708 6.37764 7.50005 6.49747V6.49747Z"
            fill="#E4002B" />
    </svg>
</div>