<div class="new-sales-area">
    <div class="new-sales-close">
        <div class="new-sales-close-info">
            <p class="new-sales-close-info-title"><span id="quant-sales">0</span> Pedido aguardando aprovação</p>
            <div class="new-sales-close-info-close">
                <p></p>
                <svg class="not-wl" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.9973 17C12.13 16.9977 12.2612 16.9706 12.3851 16.92C12.5093 16.8727 12.6229 16.7988 12.7191 16.7029L18.6874 10.8286C18.7862 10.7305 18.8649 10.6119 18.9186 10.4802C18.9724 10.3485 19 10.2064 18.9999 10.0629C19.0021 9.91905 18.9754 9.77633 18.9216 9.64428C18.8677 9.51224 18.7879 9.39391 18.6874 9.2972C18.4915 9.1039 18.2332 8.99756 17.9656 9.00006C17.7035 8.99882 17.4502 9.1006 17.2546 9.28577L11.9973 14.4629L6.75069 9.2972C6.65795 9.19409 6.5435 9.11576 6.41672 9.06863C6.29572 9.0228 6.16813 8.99959 6.03965 9.00006C5.90759 8.99865 5.77631 9.02186 5.65182 9.06863C5.52889 9.11869 5.41568 9.19229 5.31785 9.28577L5.31785 9.2972C5.21556 9.39114 5.13455 9.50833 5.08083 9.64006C5.02749 9.77385 5 9.91764 5 10.0629C5 10.2082 5.02749 10.352 5.08083 10.4858C5.13901 10.6147 5.21939 10.731 5.31785 10.8286L11.2862 16.7029C11.3851 16.7948 11.4981 16.8683 11.6202 16.92C11.7406 16.9695 11.8682 16.9966 11.9973 17Z"
                        fill="#FCFCFC" />
                </svg>
            </div>
        </div>
    </div>
    <div class="new-sales-content">
        <div class="new-sales"></div>
    </div>
</div>
<svg class="feedback-button not-wl" width="48" height="168" viewBox="0 0 48 168" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M0 8C0 3.58172 3.58172 0 8 0H48V168H8C3.58172 168 0 164.418 0 160V8Z" fill="#FFF2EB" />
    <path
        d="M24 10C24 9.46957 23.7893 8.96086 23.4142 8.58579C23.0391 8.21071 22.5304 8 22 8H10C9.46957 8 8.96086 8.21071 8.58579 8.58579C8.21071 8.96086 8 9.46957 8 10V18C8 18.5304 8.21071 19.0391 8.58579 19.4142C8.96086 19.7893 9.46957 20 10 20H19.586C19.8512 20.0001 20.1055 20.1055 20.293 20.293L23.146 23.146C23.2159 23.216 23.3049 23.2638 23.402 23.2832C23.499 23.3026 23.5996 23.2928 23.691 23.255C23.7824 23.2172 23.8606 23.1531 23.9156 23.0709C23.9706 22.9886 24 22.8919 24 22.793V10ZM11.5 11H20.5C20.6326 11 20.7598 11.0527 20.8536 11.1464C20.9473 11.2402 21 11.3674 21 11.5C21 11.6326 20.9473 11.7598 20.8536 11.8536C20.7598 11.9473 20.6326 12 20.5 12H11.5C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5C11 11.3674 11.0527 11.2402 11.1464 11.1464C11.2402 11.0527 11.3674 11 11.5 11ZM11.5 13.5H20.5C20.6326 13.5 20.7598 13.5527 20.8536 13.6464C20.9473 13.7402 21 13.8674 21 14C21 14.1326 20.9473 14.2598 20.8536 14.3536C20.7598 14.4473 20.6326 14.5 20.5 14.5H11.5C11.3674 14.5 11.2402 14.4473 11.1464 14.3536C11.0527 14.2598 11 14.1326 11 14C11 13.8674 11.0527 13.7402 11.1464 13.6464C11.2402 13.5527 11.3674 13.5 11.5 13.5ZM11.5 16H16.5C16.6326 16 16.7598 16.0527 16.8536 16.1464C16.9473 16.2402 17 16.3674 17 16.5C17 16.6326 16.9473 16.7598 16.8536 16.8536C16.7598 16.9473 16.6326 17 16.5 17H11.5C11.3674 17 11.2402 16.9473 11.1464 16.8536C11.0527 16.7598 11 16.6326 11 16.5C11 16.3674 11.0527 16.2402 11.1464 16.1464C11.2402 16.0527 11.3674 16 11.5 16Z"
        fill="#F16B24" />
    <path
        d="M12.652 46V34.3636H20.3565V36.392H15.1122V39.1648H19.8452V41.1932H15.1122V46H12.652ZM16.1619 62.1705C15.2642 62.1705 14.4915 61.9886 13.8438 61.625C13.1998 61.2576 12.7036 60.7386 12.3551 60.0682C12.0066 59.3939 11.8324 58.5966 11.8324 57.6761C11.8324 56.7784 12.0066 55.9905 12.3551 55.3125C12.7036 54.6345 13.1941 54.1061 13.8267 53.7273C14.4631 53.3485 15.2093 53.1591 16.0653 53.1591C16.6411 53.1591 17.1771 53.2519 17.6733 53.4375C18.1733 53.6193 18.6089 53.8939 18.9801 54.2614C19.3551 54.6288 19.6468 55.0909 19.8551 55.6477C20.0634 56.2008 20.1676 56.8485 20.1676 57.5909V58.2557H12.7983V56.7557H17.8892C17.8892 56.4072 17.8134 56.0985 17.6619 55.8295C17.5104 55.5606 17.3002 55.3504 17.0312 55.1989C16.7661 55.0436 16.4574 54.9659 16.1051 54.9659C15.7377 54.9659 15.4119 55.0511 15.1278 55.2216C14.8475 55.3883 14.6278 55.6136 14.4688 55.8977C14.3097 56.178 14.2282 56.4905 14.2244 56.8352V58.2614C14.2244 58.6932 14.304 59.0663 14.4631 59.3807C14.6259 59.6951 14.8551 59.9375 15.1506 60.108C15.446 60.2784 15.7964 60.3636 16.2017 60.3636C16.4706 60.3636 16.7169 60.3258 16.9403 60.25C17.1638 60.1742 17.3551 60.0606 17.5142 59.9091C17.6733 59.7576 17.7945 59.572 17.8778 59.3523L20.1165 59.5C20.0028 60.0379 19.7699 60.5076 19.4176 60.9091C19.0691 61.3068 18.6184 61.6174 18.0653 61.8409C17.5161 62.0606 16.8816 62.1705 16.1619 62.1705ZM16.1619 78.1705C15.2642 78.1705 14.4915 77.9886 13.8438 77.625C13.1998 77.2576 12.7036 76.7386 12.3551 76.0682C12.0066 75.3939 11.8324 74.5966 11.8324 73.6761C11.8324 72.7784 12.0066 71.9905 12.3551 71.3125C12.7036 70.6345 13.1941 70.1061 13.8267 69.7273C14.4631 69.3485 15.2093 69.1591 16.0653 69.1591C16.6411 69.1591 17.1771 69.2519 17.6733 69.4375C18.1733 69.6193 18.6089 69.8939 18.9801 70.2614C19.3551 70.6288 19.6468 71.0909 19.8551 71.6477C20.0634 72.2008 20.1676 72.8485 20.1676 73.5909V74.2557H12.7983V72.7557H17.8892C17.8892 72.4072 17.8134 72.0985 17.6619 71.8295C17.5104 71.5606 17.3002 71.3504 17.0312 71.1989C16.7661 71.0436 16.4574 70.9659 16.1051 70.9659C15.7377 70.9659 15.4119 71.0511 15.1278 71.2216C14.8475 71.3883 14.6278 71.6136 14.4688 71.8977C14.3097 72.178 14.2282 72.4905 14.2244 72.8352V74.2614C14.2244 74.6932 14.304 75.0663 14.4631 75.3807C14.6259 75.6951 14.8551 75.9375 15.1506 76.108C15.446 76.2784 15.7964 76.3636 16.2017 76.3636C16.4706 76.3636 16.7169 76.3258 16.9403 76.25C17.1638 76.1742 17.3551 76.0606 17.5142 75.9091C17.6733 75.7576 17.7945 75.572 17.8778 75.3523L20.1165 75.5C20.0028 76.0379 19.7699 76.5076 19.4176 76.9091C19.0691 77.3068 18.6184 77.6174 18.0653 77.8409C17.5161 78.0606 16.8816 78.1705 16.1619 78.1705ZM15.0959 94.142C14.433 94.142 13.8326 93.9716 13.2947 93.6307C12.7607 93.286 12.3364 92.7803 12.022 92.1136C11.7114 91.4432 11.5561 90.6212 11.5561 89.6477C11.5561 88.6477 11.7171 87.8163 12.0391 87.1534C12.361 86.4867 12.7891 85.9886 13.3232 85.6591C13.861 85.3258 14.45 85.1591 15.0902 85.1591C15.5788 85.1591 15.986 85.2424 16.3118 85.4091C16.6413 85.572 16.9065 85.7765 17.1072 86.0227C17.3118 86.2652 17.4671 86.5038 17.5732 86.7386H17.647V82.3636H20.0618V94H17.6754V92.6023H17.5732C17.4595 92.8447 17.2985 93.0852 17.0902 93.3239C16.8857 93.5587 16.6186 93.7538 16.2891 93.9091C15.9633 94.0644 15.5656 94.142 15.0959 94.142ZM15.8629 92.2159C16.2531 92.2159 16.5826 92.1098 16.8516 91.8977C17.1243 91.6818 17.3326 91.3807 17.4766 90.9943C17.6243 90.608 17.6982 90.1553 17.6982 89.6364C17.6982 89.1174 17.6262 88.6667 17.4822 88.2841C17.3383 87.9015 17.13 87.6061 16.8572 87.3977C16.5845 87.1894 16.2531 87.0852 15.8629 87.0852C15.4652 87.0852 15.13 87.1932 14.8572 87.4091C14.5845 87.625 14.3781 87.9242 14.2379 88.3068C14.0978 88.6894 14.0277 89.1326 14.0277 89.6364C14.0277 90.1439 14.0978 90.5928 14.2379 90.983C14.3819 91.3693 14.5883 91.6723 14.8572 91.892C15.13 92.108 15.4652 92.2159 15.8629 92.2159ZM11.9254 110V98.3636H14.3459V102.739H14.4197C14.5258 102.504 14.6792 102.265 14.88 102.023C15.0845 101.777 15.3497 101.572 15.6754 101.409C16.005 101.242 16.4141 101.159 16.9027 101.159C17.5391 101.159 18.1262 101.326 18.6641 101.659C19.2019 101.989 19.6319 102.487 19.9538 103.153C20.2758 103.816 20.4368 104.648 20.4368 105.648C20.4368 106.621 20.2796 107.443 19.9652 108.114C19.6546 108.78 19.2304 109.286 18.6925 109.631C18.1584 109.972 17.5599 110.142 16.897 110.142C16.4273 110.142 16.0277 110.064 15.6982 109.909C15.3724 109.754 15.1054 109.559 14.897 109.324C14.6887 109.085 14.5296 108.845 14.4197 108.602H14.3118V110H11.9254ZM14.2947 105.636C14.2947 106.155 14.3667 106.608 14.5107 106.994C14.6546 107.381 14.8629 107.682 15.1357 107.898C15.4084 108.11 15.7398 108.216 16.13 108.216C16.5239 108.216 16.8572 108.108 17.13 107.892C17.4027 107.672 17.6091 107.369 17.7493 106.983C17.8932 106.593 17.9652 106.144 17.9652 105.636C17.9652 105.133 17.8951 104.689 17.755 104.307C17.6148 103.924 17.4084 103.625 17.1357 103.409C16.8629 103.193 16.5277 103.085 16.13 103.085C15.736 103.085 15.4027 103.189 15.13 103.398C14.861 103.606 14.6546 103.902 14.5107 104.284C14.3667 104.667 14.2947 105.117 14.2947 105.636ZM14.8139 126.165C14.2571 126.165 13.7609 126.068 13.3253 125.875C12.8897 125.678 12.545 125.388 12.2912 125.006C12.0412 124.619 11.9162 124.138 11.9162 123.562C11.9162 123.078 12.0052 122.67 12.1832 122.341C12.3613 122.011 12.6037 121.746 12.9105 121.545C13.2173 121.345 13.5658 121.193 13.956 121.091C14.3499 120.989 14.7628 120.917 15.1946 120.875C15.7022 120.822 16.1113 120.773 16.4219 120.727C16.7325 120.678 16.9579 120.606 17.098 120.511C17.2382 120.417 17.3082 120.277 17.3082 120.091V120.057C17.3082 119.697 17.1946 119.419 16.9673 119.222C16.7438 119.025 16.4257 118.926 16.0128 118.926C15.5772 118.926 15.2306 119.023 14.973 119.216C14.7154 119.405 14.545 119.644 14.4616 119.932L12.223 119.75C12.3366 119.22 12.5601 118.761 12.8935 118.375C13.2268 117.985 13.6567 117.686 14.1832 117.477C14.7135 117.265 15.3272 117.159 16.0241 117.159C16.509 117.159 16.973 117.216 17.4162 117.33C17.8632 117.443 18.259 117.619 18.6037 117.858C18.9522 118.097 19.2268 118.403 19.4276 118.778C19.6283 119.15 19.7287 119.595 19.7287 120.114V126H17.4332V124.79H17.3651C17.2249 125.062 17.0374 125.303 16.8026 125.511C16.5677 125.716 16.2855 125.877 15.956 125.994C15.6264 126.108 15.2457 126.165 14.8139 126.165ZM15.5071 124.494C15.8632 124.494 16.1776 124.424 16.4503 124.284C16.723 124.14 16.937 123.947 17.0923 123.705C17.2476 123.462 17.3253 123.187 17.3253 122.881V121.955C17.2495 122.004 17.1454 122.049 17.0128 122.091C16.884 122.129 16.7382 122.165 16.5753 122.199C16.4124 122.229 16.2495 122.258 16.0866 122.284C15.9238 122.307 15.776 122.328 15.6435 122.347C15.3594 122.388 15.1113 122.455 14.8991 122.545C14.687 122.636 14.5223 122.759 14.4048 122.915C14.2874 123.066 14.2287 123.256 14.2287 123.483C14.2287 123.812 14.348 124.064 14.5866 124.239C14.8291 124.409 15.1359 124.494 15.5071 124.494ZM16.2138 142.17C15.3198 142.17 14.5509 141.981 13.907 141.602C13.2668 141.22 12.7744 140.689 12.4297 140.011C12.0888 139.333 11.9183 138.553 11.9183 137.67C11.9183 136.777 12.0907 135.992 12.4354 135.318C12.7839 134.64 13.2782 134.112 13.9183 133.733C14.5585 133.35 15.3198 133.159 16.2024 133.159C16.9638 133.159 17.6304 133.297 18.2024 133.574C18.7744 133.85 19.227 134.239 19.5604 134.739C19.8937 135.239 20.0774 135.826 20.1115 136.5H17.8274C17.763 136.064 17.5926 135.714 17.3161 135.449C17.0433 135.18 16.6854 135.045 16.2422 135.045C15.8672 135.045 15.5395 135.148 15.2592 135.352C14.9827 135.553 14.7668 135.847 14.6115 136.233C14.4562 136.619 14.3786 137.087 14.3786 137.636C14.3786 138.193 14.4543 138.667 14.6058 139.057C14.7611 139.447 14.9789 139.744 15.2592 139.949C15.5395 140.153 15.8672 140.256 16.2422 140.256C16.5187 140.256 16.7668 140.199 16.9865 140.085C17.21 139.972 17.3937 139.807 17.5376 139.591C17.6854 139.371 17.782 139.108 17.8274 138.801H20.1115C20.0736 139.468 19.8918 140.055 19.5661 140.562C19.2441 141.066 18.799 141.46 18.2308 141.744C17.6626 142.028 16.9903 142.17 16.2138 142.17ZM14.5028 155.489L14.5085 152.585H14.8608L17.6562 149.273H20.4347L16.679 153.659H16.1051L14.5028 155.489ZM12.3097 158V146.364H14.7301V158H12.3097ZM17.7642 158L15.196 154.199L16.8097 152.489L20.5994 158H17.7642Z"
        fill="#F16B24" />
    <defs>
        <clipPath id="clip0_1965_67468">
            <rect width="16" height="16" fill="white" transform="translate(8 8)" />
        </clipPath>
    </defs>
</svg>

<div class="feedback-area center-fix">
    <div class="feedback-area-header">
        <p>O que está acontecendo?</p>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7.6979 6L12 10.3021L10.3021 12L6 7.6979L1.6979 12L0 10.3021L4.3021 6L0 1.6979L1.6979 0L6 4.3021L10.3021 0L12 1.6979L7.6979 6Z"
                fill="#F16B24" />
        </svg>
    </div>
    <div class="feedback-area-body">
        <p>Descreva o problema</p>
        <textarea name="descricao"></textarea>
        <div class="feedback-area-body-buttons">
            <div class="select-image">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.75 4.5C6.75 3.50544 7.14509 2.55161 7.84835 1.84835C8.55161 1.14509 9.50544 0.75 10.5 0.75C11.4946 0.75 12.4484 1.14509 13.1517 1.84835C13.8549 2.55161 14.25 3.50544 14.25 4.5V18C14.25 18.5967 14.0129 19.169 13.591 19.591C13.169 20.0129 12.5967 20.25 12 20.25C11.4033 20.25 10.831 20.0129 10.409 19.591C9.98705 19.169 9.75 18.5967 9.75 18V7.5C9.75 7.30109 9.82902 7.11032 9.96967 6.96967C10.1103 6.82902 10.3011 6.75 10.5 6.75C10.6989 6.75 10.8897 6.82902 11.0303 6.96967C11.171 7.11032 11.25 7.30109 11.25 7.5V18C11.25 18.1989 11.329 18.3897 11.4697 18.5303C11.6103 18.671 11.8011 18.75 12 18.75C12.1989 18.75 12.3897 18.671 12.5303 18.5303C12.671 18.3897 12.75 18.1989 12.75 18V4.5C12.75 4.20453 12.6918 3.91194 12.5787 3.63896C12.4657 3.36598 12.2999 3.11794 12.091 2.90901C11.8821 2.70008 11.634 2.53434 11.361 2.42127C11.0881 2.3082 10.7955 2.25 10.5 2.25C10.2045 2.25 9.91194 2.3082 9.63896 2.42127C9.36598 2.53434 9.11794 2.70008 8.90901 2.90901C8.70008 3.11794 8.53434 3.36598 8.42127 3.63896C8.3082 3.91194 8.25 4.20453 8.25 4.5V18C8.25 18.9946 8.64509 19.9484 9.34835 20.6516C10.0516 21.3549 11.0054 21.75 12 21.75C12.9946 21.75 13.9484 21.3549 14.6517 20.6516C15.3549 19.9484 15.75 18.9946 15.75 18V7.5C15.75 7.30109 15.829 7.11032 15.9697 6.96967C16.1103 6.82902 16.3011 6.75 16.5 6.75C16.6989 6.75 16.8897 6.82902 17.0303 6.96967C17.171 7.11032 17.25 7.30109 17.25 7.5V18C17.25 19.3924 16.6969 20.7277 15.7123 21.7123C14.7277 22.6969 13.3924 23.25 12 23.25C10.6076 23.25 9.27226 22.6969 8.28769 21.7123C7.30312 20.7277 6.75 19.3924 6.75 18V4.5Z"
                        fill="#F16B24" />
                </svg>
                <p>Anexar imagem</p>
            </div>
            <input class="d-none" type="file" accept="image/png, image/jpeg" />
            <p>ou</p>
            <div class="capture-button">
                <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0 1.46154V0H1.27473V1.46154H0ZM5.57692 0H3.34615V1.29915H5.57692V0ZM1.27473 11.6923V10.2308H0V11.6923H1.27473ZM16.5714 11.6923H17.8462V10.2308H16.5714V11.6923ZM16.5714 0V1.46154H17.8462V0H16.5714ZM7.80769 0V1.29915H10.0385V0H7.80769ZM12.2692 0V1.29915H14.5V0H12.2692ZM17.8462 4.38461H16.5714V7.30769H17.8462V4.38461ZM14.5 11.6923V10.3932H12.2692V11.6923H14.5ZM10.0385 11.6923V10.3932H7.80769V11.6923H10.0385ZM5.57692 11.6923V10.3932H3.34615V11.6923H5.57692ZM0 7.30769H1.27473V4.38461H0V7.30769Z M19.0778 17.8459L19.0778 9.23047L20.3086 9.23047L20.3086 17.8459L19.0778 17.8459Z M15.3849 12.9235L24.0002 12.9235L24.0002 14.1543L15.3849 14.1543L15.3849 12.9235Z"
                        fill="#F16B24" />
                </svg>
                <p>Selecionar área na tela</p>
            </div>
        </div>
    </div>
    <div class="feedback-area-footer">
        <p>Cancelar</p>
        <button>Enviar</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/painelweb/js/jquery.mask.min.js"></script>
<script src="/painelweb/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript" src="/painelweb/js/js.js?v={{version}}"></script>
{{extraFooter}}
<script type="text/javascript" src="/painelweb/js/{{js}}.js?v={{version}}"></script>
<script src="/painelweb/js/simplebar.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="/painelweb/js/jspdf.umd.min.js"></script>
<script src="/painelweb/js/purify.js"></script>
<script src="/painelweb/js/materialize.js"></script>
</body>

</html>