<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{favicon}}" />
  
  <link rel="stylesheet" type="text/css" href="/painelweb/css/style.css?v={{version}}">
  <link rel="stylesheet" type="text/css" href="/painelweb/css/clean-switch.css">
  <link rel="stylesheet" type="text/css" href="/painelweb/css/{{css}}.css?v={{version}}">
  <link rel="stylesheet" type="text/css" href="/painelweb/css/materialize.css">
  {{extraHeader}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
  <style>
    :root {
      --color-primary: {{color}};
      --color-primary-fifty: {{color}}50;
      --color-primary-ten: {{color}}10;
      --color-primary-effects: {{color}}27;
      --color-primary-radio: {{color}};
    }
  </style>
  <title>{{title}} - Painel Web</title>
</head>

<body>

  <header>
    <div class="d-flex justify-content-center center-rel-ver align-items-center">
      <img src="{{image}}">
      <div class="d-flex justify-content-end header-options">
        <a ref="vendas" href="{{URL}}/vendas">
          <p>Pedidos</p>
        </a>
        <a ref="cadastrar" href="{{URL}}/listar">
          <p>Produtos</p>
        </a>
        <a href="{{URL}}/adicionais">
          <p>Adicionais</p>
        </a>
        <a href="{{URL}}/account">
          <p>Minha conta</p>
        </a>
        <a href="{{URL}}/admin/loggout">
          <svg class="not-wl" width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10 10.5C10 10.6326 9.9473 10.7598 9.8536 10.8536C9.7598 10.9473 9.6326 11 9.5 11H1.5C1.36739 11 1.24021 10.9473 1.14645 10.8536C1.05268 10.7598 1 10.6326 1 10.5V1.5C1 1.36739 1.05268 1.24021 1.14645 1.14644C1.24021 1.05268 1.36739 1 1.5 1H9.5C9.6326 1 9.7598 1.05268 9.8536 1.14644C9.9473 1.24021 10 1.36739 10 1.5V3.5C10 3.63261 10.0527 3.75979 10.1464 3.85359C10.2402 3.94729 10.3674 3.99999 10.5 3.99999C10.6326 3.99999 10.7598 3.94729 10.8536 3.85359C10.9473 3.75979 11 3.63261 11 3.5V1.5C11 1.10217 10.842 0.72064 10.5607 0.43934C10.2794 0.15803 9.8978 0 9.5 0H1.5C1.10218 0 0.72064 0.15803 0.43934 0.43934C0.15804 0.72064 0 1.10217 0 1.5V10.5C0 10.8978 0.15804 11.2794 0.43934 11.5607C0.72064 11.842 1.10218 12 1.5 12H9.5C9.8978 12 10.2794 11.842 10.5607 11.5607C10.842 11.2794 11 10.8978 11 10.5V8.49999C11 8.36739 10.9473 8.24019 10.8536 8.14649C10.7598 8.05269 10.6326 7.99999 10.5 7.99999C10.3674 7.99999 10.2402 8.05269 10.1464 8.14649C10.0527 8.24019 10 8.36739 10 8.49999V10.5Z M15.854 6.35411C15.9006 6.30771 15.9375 6.25251 15.9627 6.19181C15.9879 6.13101 16.0009 6.06591 16.0009 6.00011C16.0009 5.93441 15.9879 5.86921 15.9627 5.80851C15.9375 5.74781 15.9006 5.69261 15.854 5.64611L12.854 2.64614C12.7601 2.55225 12.6328 2.49951 12.5 2.49951C12.3672 2.49951 12.2399 2.55225 12.146 2.64614C12.0521 2.74003 11.9994 2.86736 11.9994 3.00014C11.9994 3.13292 12.0521 3.26025 12.146 3.35414L14.293 5.50011H5.5C5.36739 5.50011 5.24021 5.55281 5.14645 5.64661C5.05268 5.74031 5 5.86751 5 6.00011C5 6.13271 5.05268 6.25991 5.14645 6.35371C5.24021 6.44751 5.36739 6.50011 5.5 6.50011H14.293L12.146 8.64611C12.0521 8.74001 11.9994 8.86741 11.9994 9.00011C11.9994 9.13291 12.0521 9.26021 12.146 9.35411C12.2399 9.44801 12.3672 9.50081 12.5 9.50081C12.6328 9.50081 12.7601 9.44801 12.854 9.35411L15.854 6.35411Z"
              fill="#4D4D4D" />
          </svg>
        </a>
      </div>
    </div>
  </header>